<div id="administrador">
    <?=$this->renderComponent('Administrador/menu-admin.phtml');?>

    <div class="content-admin">
        <div class="container-fluid">
            <div class="page-title mb-30">
                <div class="row">
                    <div class="col-lg-6">
                        <h1><i class="fa fa-tachometer"></i>&nbsp;&nbsp;Dashboard</h1>
                    </div>
                    <div class="col-lg-6">
                        <div class="estatistica" id="estatistica">
                            <div class="quantidade-noticia">
                                <p>POSTS</p>
                                <i class="fa fa-rss-square fa-2x"></i> <span>{{ estatistica.total_noticia }}</span>
                            </div>
                            <div class="quantidade-comentario">
                                <p>COMENTÁRIOS</p>
                                <i class="fa fa-comments fa-2x"></i> <span>{{ estatistica.total_comentario }}</span>
                            </div>
                            <div class="quantidade-pedido">
                                <p>PEDIDOS</p>
                                <i class="fa fa-whatsapp fa-2x"></i> <span>{{ estatistica.total_pedido }}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <section id="dashboard" class="app-tabs mb-20">
                <div id="mensagem"></div>

                <div class="row">
                    <div class="col-lg-4">
                        <div class="widget mb-30">
                            <div class="widget-header">
                                <span><i class="fa fa-whatsapp"></i></span>
                                <h2>Pedidos</h2>
                            </div>
                            <div class="widget-body widget-dashboard" id="pedidos" data-for="pedido in pedidos">
                                <div class="widget-content pedido" data-item="pedido">
                                    <span>Postado por</span>
                                    <b>
                                        {{ pedido.nome }}
                                        <span class="pull-right">{{ pedido.data_criacao }}</span>
                                    </b>
                                    <div class="musica">
                                        <p class="mt-10">{{ pedido.pedido }}</p>
                                        <div class="btn-acoes pull-right" title="Deletar Pedido">
                                            <div class="deletar" data-id="{{ pedido.id_pedido }}">
                                                <i class="fa fa-trash"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4">
                        <div class="widget mb-30">
                            <div class="widget-header">
                                <span><i class="fa fa-envelope"></i></span>
                                <h2>Mensagens</h2>
                            </div>
                            <div class="widget-body widget-dashboard" id="contatos" data-for="contato in contatos">
                                <div class="widget-content bloco-contatos" data-item="contato">
                                    <span>Enviado por</span>
                                    <b>
                                        {{ contato.nome }}
                                        <span class="pull-right">{{ contato.data_criacao }}</span>
                                    </b>
                                    <div class="mensagem">{{ contato.mensagem }}</div>
                                    <div class="btn-acoes pull-right">
                                        <div class="visualizar" title="Marcar Contato Como Visualizado" data-id="{{ contato.id_contato }}"><i class="fa fa-check"></i></div>
                                        <div class="deletar" title="Deletar Mensagem" data-id="{{ contato.id_contato }}"><i class="fa fa-trash"></i></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4">
                        <div class="widget mb-30">
                            <div class="widget-header">
                                <span><i class="fa fa-podcast"></i></span>
                                <h2>Agora No Ar!</h2>
                            </div>
                            <div class="widget-body">
                                <div class="agora-no-ar" id="agora_no_ar">
                                    <img src="/public/img/upload/programacao/{{ agora_no_ar.imagem }}">
                                    <div class="descricao-programa">
                                        {{ agora_no_ar.descricao }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
