<?php
?>

<div id="administrador">
    <?=$this->renderComponent('Administrador/menu-admin.phtml');?>

    <div class="content-admin">
        <div class="container-fluid">
            <div class="page-title mb-30">
                <h1><i class="fa fa-newspaper-o"></i> Carousel</h1>
            </div>

            <section id="carousel" class="app-tabs mb-20">
                <div class="row">
                    <div class="col-lg-12 app-tab tab-active">
                        <div class="btn-acoes">
                            <button class="btn-app btn-app-primary pull-right" id="btnCadastrar"><i class="fa fa-plus"></i>&nbsp;&nbsp;Novo</button>
                        </div>
                        <div class="widget">
                            <div class="widget-header">
                                <span><i class="fa fa-file-o"></i></span>
                                <h2>Carousel Cadastrados</h2>
                            </div>
                            <div class="widget-body">
                                <div class="table-responsive">
                                    <div class="app-table-controle"></div>
                                    <table class="app-table" id="tblCarousel">
                                        <thead>
                                            <tr>
                                                <th class="w10" data-key="id_carousel" data-expand="true">Código</th>
                                                <th class="w40" data-key="titulo">Título</th>
                                                <th class="w10" data-key="ordem" data-class="hide-small-viewport">Ordem</th>
                                                <th class="w10" data-key="carousel_tipo">Tipo</th>
                                                <th class="w20" data-key="data_criacao" data-class="hide-medium-viewport">Data Cadastro</th>
                                                <th class="w10" data-align="center" data-type="acoes">
                                                    Ações
                                                    <div class="actions">
                                                        <button class="btn table-action btnEditar" data-key="id_carousel"><i class="fa fa-file"></i></button>
                                                    </div>
                                                </th>
                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 app-tab">
                        <div id="mensagem"></div>

                        <div class="widget">
                            <div class="widget-header">
                                <span><i class="fa fa-file-o" aria-hidden="true"></i></span>
                                <h2>Cadastrar</h2>
                            </div>
                            <div class="widget-body">
                                <form name="carousel">
                                    <input type="hidden" id="id_carousel" name="id_carousel" value="">

                                    <div class="form-group-inline">
                                        <div class="form-group fg-15 fgmd-30 fgsm-100">
                                            <label for="id_carousel_tipo">Tipo Carousel</label>

                                            <select class="form-control" title="Tipo Carousel" name="id_carousel_tipo" id="id_carousel_tipo"
                                                    data-required="true" data-for="tipoCarousel in tipos_carousel">
                                                <option value="">Selecione</option>
                                                <option data-item="tipoCarousel" value="{{ tipoCarousel.id_carousel_tipo }}">{{ tipoCarousel.nome }}</option>
                                            </select>
                                        </div>

                                        <div class="form-group fg-75 fgmd-70 fgsm-80">
                                            <label for="titulo">Titulo</label>
                                            <input class="form-control" aria-label="Título" title="Título" name="titulo" id="titulo" data-required="true">
                                        </div>
                                        <div class="form-group fg-10 fgmd-100 fgsm-20">
                                            <label for="imagem">Ordem</label>
                                            <input type="number" class="form-control" max="10" min="1" aria-label="Ordem" title="Ordem" name="ordem" id="ordem" data-required="true">
                                        </div>
                                    </div>
                                    <div id="boxDescricao">
                                        <div class="form-group">
                                            <label for="descricao">Descricao</label>
                                            <textarea class="form-control" aria-label="Descricao" title="Descricao" name="descricao" id="descricao" maxlength="500"></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="imagem">Imagem</label>

                                        <label for="imagem" class="input-file">
                                            <div class="button-file">
                                                <input type="file" name="imagem" id="imagem" data-required="true" data-mask="file" accept=".png,.gig,.jpeg,.jpg">
                                                Selecione
                                            </div>

                                            <input class="form-control" aria-label="Imagem" title="Imagem" readonly>
                                            <div class="note"><strong>Nota:</strong> Apenas Arquivos com extensões .jpg, .jpeg, .png</div>
                                        </label>
                                    </div>

                                    <div class="form-group">
                                        <label for="noticia">Notícia</label>
                                        <input type="text" class="form-control" aria-label="Notícia" title="Notícia" name="noticia" id="noticia">
                                        <input type="hidden" name="id_noticia" id="id_noticia" data-required="true">
                                    </div>

                                    <button type="button" class="btn-app btn-app-primary mt-10 submit" id="btnSalvarCarousel" title="Salvar Carousel">Salvar</button>
                                    <button type="button" class="btn-app mt-10 ml-10" id="btnCancelar" title="Cancelar">Cancelar</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
