<?php
?>

<div id="administrador">
    <?=$this->renderComponent('Administrador/menu-admin.phtml');?>

    <div class="content-admin">
        <div class="container-fluid">
            <div class="page-title mb-30">
                <h1><i class="fa fa-sitemap"></i> Categorias</h1>
            </div>

            <section id="categoria" class="app-tabs mb-20">
                <div class="row">
                    <div class="col-lg-12 app-tab tab-active">
                        <div class="btn-acoes">
                            <button class="btn-app btn-app-primary pull-right" id="btnCadastrar"><i class="fa fa-plus"></i>&nbsp;&nbsp;Novo</button>
                        </div>

                        <div class="widget">
                            <div class="widget-header">
                                <span><i class="fa fa-list-alt"></i></span>
                                <h2>Categorias Cadastradas</h2>
                            </div>
                            <div class="widget-body">
                                <div class="table-responsive">
                                    <div class="app-table-controle"></div>
                                    <table class="app-table" id="tblCategoria">
                                        <thead>
                                            <tr>
                                                <th class="w10" data-key="id_categoria" data-expand="true">Código</th>
                                                <th class="w50" data-key="nome">Nome</th>
                                                <th class="w10" data-key="data_criacao" data-class="hide-min-viewport">Data Criação</th>
                                                <th class="w10" data-align="center" data-type="acoes">
                                                    Ações
                                                    <div class="actions">
                                                        <button class="btn table-action btnEditar" data-key="id_categoria"><i class="fa fa-file"></i></button>
                                                    </div>
                                                </th>
                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-12 app-tab">
                        <div id="mensagem"></div>

                        <div class="widget">
                            <div class="widget-header">
                                <span><i class="fa fa-file-o" aria-hidden="true"></i></span>
                                <h2>Cadastrar</h2>
                            </div>
                            <div class="widget-body">
                                <form name="categoria">
                                    <input type="hidden" id="id_categoria" name="id_categoria" value="">
                                    <div class="form-group-inline">
                                        <div class="form-group fg-80 fgmd-100">
                                            <label for="categoria">Nome</label>
                                            <input class="form-control" name="nome" id="nome" title="nome" data-required="true">
                                        </div>

                                        <div class="form-group fg-20 fgmd-100">
                                            <label for="nivel">Nível</label>
                                            <input class="form-control" name="nivel" id="nivel" title="nivel" data-required="true" data-mask="inteiro">
                                        </div>
                                    </div>

                                    <button type="button" class="btn-app btn-app-primary mt-10 submit" id="btnSalvarCategoria" title="Salvar Categoria">Salvar</button>
                                    <button type="button" class="btn-app mt-10 ml-10" id="btnCancelar" title="Cancelar">Cancelar</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
