<div id="administrador">
    <?=$this->renderComponent('Administrador/menu-admin.phtml');?>

    <div class="content-admin">
        <div class="container-fluid">
            <div class="page-title mb-30">
                <h1><i class="fa fa-comment"></i> Comentário</h1>
            </div>

            <section id="comentario" class="app-tabs mb-20">
                <div class="row">
                    <div class="col-lg-12 app-tab tab-active">
                        <div class="widget">
                            <div class="widget-header">
                                <span><i class="fa fa-list-alt"></i></span>
                                <h2>Comentários Enviados</h2>
                            </div>
                            <div class="widget-body">
                                <div class="table-responsive">
                                    <div class="app-table-controle"></div>

                                    <table class="app-table" id="tblComentario">
                                        <thead>
                                        <tr>
                                            <th class="w5" data-key="id_comentario" data-expand="true">Código</th>
                                            <th class="w20" data-key="titulo">Titulo Notícia</th>
                                            <th class="w10" data-key="autor" data-class="hide-min-viewport">autor</th>
                                            <th class="w20" data-key="email" data-class="hide-small-viewport">email</th>
                                            <th class="w20" data-key="nome_categoria" data-class="hide-medium-viewport">Categoria</th>
                                            <th class="w5" data-key="descricao_exibir" data-class="hide-min-viewport">Exibir</th>
                                            <th class="w10" data-key="data_criacao" data-class="hide-medium-viewport">Data Criação</th>
                                            <th class="w10" data-align="center" data-type="acoes">
                                                Ações
                                                <div class="actions">
                                                    <button class="btn table-action btnEditar" data-key="id_comentario"><i class="fa fa-file"></i></button>
                                                </div>
                                            </th>
                                        </tr>
                                        </thead>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-12 app-tab">
                        <div id="mensagem"></div>

                        <div class="widget">
                            <div class="widget-header">
                                <span><i class="fa fa-file-o"></i></span>
                                <h2>Aprovar</h2>
                            </div>

                            <div class="widget-body">
                                <form name="comentario">
                                    <input type="hidden" id="id_comentario" name="id_comentario" value="">
                                    <input type="hidden" id="id_noticia" name="id_noticia" value="">

                                    <div class="form-group">
                                        <label for="titulo">Título Notícia</label>
                                        <input class="form-control" id="titulo" name="titulo" title="Título Notícia" readonly>
                                    </div>

                                    <div class="form-group">
                                        <label for="comentario">Comentário</label>
                                        <textarea class="form-control" aria-label="Comentário" title="Comentário" rows="4" name="comentario" id="comentario" readonly></textarea>
                                    </div>

                                    <div class="form-group-inline">
                                        <div class="form-group fg-50 fgmd-50">
                                            <label for="autor">Autor</label>
                                            <input class="form-control" aria-label="Autor" title="Autor" name="autor" id="autor" readonly>
                                        </div>

                                        <div class="form-group fg-50 fgmd-50">
                                            <label for="email">Contato</label>
                                            <input class="form-control" aria-label="Contato" title="Contato" name="email" id="email" readonly>
                                        </div>
                                    </div>

                                    <div class="form-group-inline">
                                        <div class="form-group fg-50 fgmd-50">
                                            <label for="nome_categoria">Categoria</label>
                                            <input class="form-control" aria-label="Categoria" title="Categoria" name="nome_categoria" id="nome_categoria" readonly>
                                        </div>

                                        <div class="form-group fg-50 fgmd-50">
                                            <label for="descricao_exibir">Exibir</label>
                                            <input class="form-control" aria-label="Exibir" title="Exibir" name="descricao_exibir" id="descricao_exibir" readonly>
                                        </div>
                                    </div>

                                    <button type="button" class="btn-app btn-app-primary mt-10 submit" id="btnAprovarComentario" title="Aprovar Comentário">Aprovar</button>
                                    <button type="button" class="btn-app mt-10 ml-10" id="btnCancelar" title="Cancelar">Cancelar</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
