<div id="administrador">
    <?=$this->renderComponent('Administrador/menu-admin.phtml');?>

    <div class="content-admin">
        <div class="container-fluid">
            <div class="page-title mb-30">
                <h1><i class="fa fa-address-book"></i> Contato</h1>
            </div>

            <section id="contato" class="app-tabs mb-20">
                <div class="row">
                    <div class="col-lg-12 app-tab tab-active">
                        <div class="widget">
                            <div class="widget-header">
                                <span><i class="fa fa-list-alt"></i></span>
                                <h2>Contatos Realizados</h2>
                            </div>
                            <div class="widget-body">
                                <div class="table-responsive">
                                    <div class="app-table-controle"></div>

                                    <table class="app-table" id="tblContato">
                                        <thead>
                                        <tr>
                                            <th class="w10" data-key="id_contato" data-expand="true">Código</th>
                                            <th class="w50" data-key="nome" data-class="hide-min-viewport">Nome</th>
                                            <th class="w10" data-key="email" data-class="hide-small-viewport">Email</th>
                                            <th class="w20" data-key="assunto">Assunto</th>
                                            <th class="w20" data-key="descricao_visto">Visualizado</th>
                                            <th class="w20" data-key="data_criacao" data-class="hide-medium-viewport">Data Criação</th>
                                            <th class="w10" data-align="center" data-type="acoes">
                                                Ações
                                                <div class="actions">
                                                    <button class="btn table-action btnEditar" data-key="id_contato"><i class="fa fa-file"></i></button>
                                                </div>
                                            </th>
                                        </tr>
                                        </thead>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-12 app-tab">
                        <div id="mensagem"></div>

                        <div class="widget">
                            <div class="widget-header">
                                <span><i class="fa fa-file-o"></i></span>
                                <h2>Visualizar</h2>
                            </div>

                            <div class="widget-body">
                                <form name="contato">
                                    <input type="hidden" id="id_contato" name="id_contato" value="">

                                    <div class="form-group-inline">
                                        <div class="form-group fg-50 fgmd-50">
                                            <label for="nome">Nome</label>
                                            <input class="form-control" id="nome" name="nome" title="Nome do Contato" readonly>
                                        </div>

                                        <div class="form-group fg-50 fgmd-50">
                                            <label for="email">Email</label>
                                            <input class="form-control" aria-label="Email" title="Email" name="email" id="email" readonly>
                                        </div>
                                    </div>

                                    <div class="form-group-inline">
                                        <div class="form-group fg-50 fgmd-50">
                                            <label for="assunto">Assunto</label>
                                            <input class="form-control" aria-label="Assunto" title="Assunto" name="assunto" id="assunto" readonly>
                                        </div>

                                        <div class="form-group fg-50 fgmd-50">
                                            <label for="descricao_visto">Visualizado</label>
                                            <input class="form-control" aria-label="Visualizado" title="Visualizado" name="descricao_visto" id="descricao_visto" readonly>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="mensagem">Mensagem</label>
                                        <textarea class="form-control" aria-label="Mensagem" title="Mensagem" name="mensagem" id="mensagem" rows="4" readonly></textarea>
                                    </div>

                                    <div class="form-group-inline">
                                        <div class="form-group fg-50 fgmd-50">
                                            <label for="data_criacao">Data Criação</label>
                                            <input class="form-control" aria-label="Data Criação" title="Data Criação" name="data_criacao" id="data_criacao" readonly>
                                        </div>

                                        <div class="form-group fg-50 fgmd-50">
                                            <label for="data_visualizacao">Data Visualização</label>
                                            <input class="form-control" aria-label="Data Visualização" title="Data Visualização" name="data_visualizacao" id="data_visualizacao" readonly>
                                        </div>
                                    </div>

                                    <button type="button" class="btn-app btn-app-primary mt-10 submit" id="btnVisualizarContato" title="Visualizar Contato">Visualizar</button>
                                    <button type="button" class="btn-app mt-10 ml-10" id="btnCancelar" title="Cancelar">Cancelar</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
