<div id="login">
    <div class="container">
        <div class="content-admin">
            <div class="row">
                <div class="col-lg-4 col-sm-4"></div>
                <div class="col-lg-4 col-sm-4">
                    <div class="widget">
                        <div class="widget-header">
                            <span><i class="fa fa-file-o"></i></span>
                            <h2>Login</h2>
                        </div>
                        <div class="widget-body">
                            <form name="login">
                                <div class="form-group">
                                    <label for="usuario">Usuário</label>
                                    <input class="form-control" aria-label="Usuário" title="Usuário" name="usuario" id="usuario" maxlength="100" data-required="true">
                                </div>

                                <div class="form-group">
                                    <label for="senha">Senha</label>
                                    <input type="password" class="form-control" aria-label="Senha" title="Senha" name="senha" id="senha" data-required="true"/>
                                </div>

                                <button type="button" class="btn-app btn-app-primary mt-10 mb-10 submit pull-right" id="btnLogar" title="Salvar Notícia">Salvar</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
