<div class="wrapper-admin">
    <div class="sidebar-admin">
        <ul id="menuAdministrador" class="mt-10">
            <li class="item" data-pagina=""><i class="fa fa-tachometer"></i> <span>Painel</span></li>
            <li class="item" data-pagina="categoria"><i class="fa fa-sitemap"></i> <span>Categoria</span></li>
            <li class="item" data-pagina="carousel"><i class="fa fa-newspaper-o"></i><span>Carousel</span></li>
            <li class="item" data-pagina="parceiro"><i class="fa fa-users"></i><span>Parceiro</span></li>
            <li class="item" data-pagina="programacao"><i class="fa fa-clock-o"></i><span>Programação</span></li>
            <li class="item" data-pagina="noticia"><i class="fa fa-rss-square"></i><span>Notícia</span></li>
            <li class="item" data-pagina="comentario"><i class="fa fa-comments"></i><span>Comentário</span></li>
            <li class="item" data-pagina="usuario"><i class="fa fa-user-circle"></i><span>Usuário</span></li>
            <li class="item" data-pagina="contato"><i class="fa fa-address-book"></i><span>Contato</span></li>
        </ul>
        <div class="menu-colapse">
            <i class="fa fa-arrow-circle-left fa-2x arrow-left"></i>
            <i class="fa fa-arrow-circle-right fa-2x arrow-right"></i>
        </div>
    </div>
</div>
<div class="admin-head">
    <div class="btn-exibir-menu"><i class="fa fa-reorder fa-2x"></i></div>
</div>
