<?php
?>

<div id="administrador">
    <?=$this->renderComponent('Administrador/menu-admin.phtml');?>

    <div class="content-admin">
        <div class="container-fluid">
            <div class="page-title mb-30">
                <h1><i class="fa fa-rss-square"></i> Notícias</h1>
            </div>

            <section id="noticia" class="app-tabs mb-20">
                <div class="row">
                    <div class="col-lg-12 app-tab tab-active">
                        <div class="btn-acoes">
                            <button class="btn-app btn-app-primary pull-right" id="btnCadastrar"><i class="fa fa-plus"></i>&nbsp;&nbsp;Novo</button>
                        </div>

                        <div class="widget">
                            <div class="widget-header">
                                <span><i class="fa fa-list-alt"></i></span>
                                <h2>Notícias Cadastradas</h2>
                            </div>
                            <div class="widget-body">
                                <div class="table-responsive">
                                    <div class="app-table-controle"></div>
                                    <table class="app-table" id="tblNoticia">
                                        <thead>
                                            <tr>
                                                <th class="w15" data-key="id_noticia" data-expand="true">Código</th>
                                                <th class="w50" data-key="titulo">Título</th>
                                                <th class="w10" data-key="categoria" data-class="hide-min-viewport">Categoria</th>
                                                <th class="w20" data-key="autor" data-class="hide-small-viewport">Autor</th>
                                                <th class="w20" data-key="data_criacao" data-class="hide-medium-viewport">Data Criação</th>
                                                <th class="w10" data-align="center" data-type="acoes">
                                                    Ações
                                                    <div class="actions">
                                                        <button class="btn table-action btnEditar" data-key="id_noticia"><i class="fa fa-file"></i></button>
                                                    </div>
                                                </th>
                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-12 app-tab">
                        <div id="mensagem"></div>

                        <div class="widget">
                            <div class="widget-header">
                                <span><i class="fa fa-file-o"></i></span>
                                <h2>Cadastrar</h2>
                            </div>
                            <div class="widget-body">
                                <form name="noticia">
                                    <input type="hidden" id="id_noticia" name="id_noticia" value="">

                                    <div class="form-group">
                                        <label for="titulo">Título</label>
                                        <input class="form-control" aria-label="Título" title="Título" name="titulo" id="titulo" maxlength="300" data-required="true">
                                    </div>

                                    <div class="form-group">
                                        <label for="texto">Texto</label>
                                        <textarea class="form-control" name="texto" id="texto" rows="10" cols="80"></textarea>
                                    </div>

                                    <div class="form-group-inline">
                                        <div class="form-group fg-60 fgmd-50">
                                            <label for="categoria">Categoria</label>
                                            <select id="categoria" name="id_categoria" class="form-control" data-for="categoria in categorias" data-required="true">
                                                <option value="">Selecione...</option>
                                                <option value="{{ categoria.id_categoria }}" data-item="categoria">{{ categoria.nome }}</option>
                                            </select>
                                        </div>

                                        <div class="form-group fg-40 fgmd-50">
                                            <label for="autor">Autor</label>
                                            <input class="form-control" name="autor" id="autor" title="autor" data-required="true">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="imagem">Imagem</label>

                                        <label for="imagem" class="input-file">
                                            <div class="button-file">
                                                <input type="file" name="imagem" id="imagem" data-required="true" data-mask="file" accept=".png,.gig,.jpeg,.jpg">
                                                Selecione
                                            </div>

                                            <input class="form-control" aria-label="Imagem" title="Imagem" readonly>
                                            <div class="note"><strong>Nota:</strong> Apenas Arquivos com extensões .jpg, .jpeg, .png</div>
                                        </label>
                                    </div>

                                    <button type="button" class="btn-app btn-app-primary mt-10 submit" id="btnSalvarNoticia" title="Salvar Notícia">Salvar</button>
                                    <button type="button" class="btn-app mt-10 ml-10" id="btnCancelar" title="Cancelar">Cancelar</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
