<div id="administrador">
    <?=$this->renderComponent('Administrador/menu-admin.phtml');?>

    <div class="content-admin">
        <div class="container-fluid">
            <div class="page-title mb-30">
                <h1><i class="fa fa-users"></i> Parceiro</h1>
            </div>

            <section id="parceiro" class="app-tabs mb-20">
                <div class="row">
                    <div class="col-lg-12 app-tab tab-active">
                        <div class="btn-acoes">
                            <button class="btn-app btn-app-primary pull-right" id="btnCadastrar"><i class="fa fa-plus"></i>&nbsp;&nbsp;Novo</button>
                        </div>

                        <div class="widget">
                            <div class="widget-header">
                                <span><i class="fa fa-list-alt"></i></span>
                                <h2>Parceiros Cadastrados</h2>
                            </div>
                            <div class="widget-body">
                                <div class="table-responsive">
                                    <div class="app-table-controle"></div>
                                    <table class="app-table" id="tblParceiro">
                                        <thead>
                                        <tr>
                                            <th class="w10" data-key="id_parceiro" data-expand="true">Código</th>
                                            <th class="w30" data-key="nome">Nome</th>
                                            <th class="w40" data-key="descricao">Descrição</th>
                                            <th class="w10" data-key="data_criacao" data-class="hide-small-viewport">Data Criação</th>
                                            <th class="w10" data-align="center" data-type="acoes">
                                                Ações
                                                <div class="actions">
                                                    <button class="btn table-action btnEditar" data-key="id_parceiro"><i class="fa fa-file"></i></button>
                                                </div>
                                            </th>
                                        </tr>
                                        </thead>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-12 app-tab">
                        <div id="mensagem"></div>

                        <div class="widget">
                            <div class="widget-header">
                                <span><i class="fa fa-file-o"></i></span>
                                <h2>Cadastrar</h2>
                            </div>

                            <div class="widget-body">
                                <form name="parceiro">
                                    <input type="hidden" id="id_parceiro" name="id_parceiro" value="">

                                    <div class="form-group">
                                        <label for="nome">Nome</label>
                                        <input class="form-control" id="nome" name="nome" title="Nome do Parceiro" data-required="true">
                                    </div>

                                    <div class="form-group">
                                        <label for="usuario">Descrição</label>
                                        <input class="form-control" aria-label="Descrição" title="Descrição" name="descricao" id="descricao" maxlength="100" data-required="true">
                                    </div>

                                    <div class="form-group">
                                        <label for="imagem">Imagem</label>

                                        <label for="imagem" class="input-file">
                                            <div class="button-file">
                                                <input type="file" name="imagem" id="imagem" data-required="true" data-mask="file" accept=".png,.gig,.jpeg,.jpg">
                                                Selecione
                                            </div>

                                            <input class="form-control" aria-label="Imagem" title="Imagem" readonly>
                                            <div class="note"><strong>Nota:</strong> Apenas Arquivos com extensões .jpg, .jpeg, .png</div>
                                        </label>
                                    </div>

                                    <button type="button" class="btn-app btn-app-primary mt-10 submit" id="btnSalvarParceiro" title="Salvar Parceiro">Salvar</button>
                                    <button type="button" class="btn-app mt-10 ml-10" id="btnCancelar" title="Cancelar">Cancelar</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
