
<div id="administrador">
    <?=$this->renderComponent('Administrador/menu-admin.phtml');?>

    <div class="content-admin">
        <div class="container-fluid">
            <div class="page-title mb-30">
                <h1><i class="fa fa-clock-o"></i> Programação</h1>
            </div>

            <section id="programacao" class="app-tabs mb-20">
                <div class="row">
                    <div class="col-lg-12 app-tab tab-active">
                        <div class="btn-acoes">
                            <button class="btn-app btn-app-primary pull-right" id="btnCadastrar"><i class="fa fa-plus"></i>&nbsp;&nbsp;Novo</button>
                        </div>

                        <div class="widget">
                            <div class="widget-header">
                                <span><i class="fa fa-list-alt"></i></span>
                                <h2>Horários Cadastrados</h2>
                            </div>
                            <div class="widget-body">
                                <div class="table-responsive">
                                    <div class="app-table-controle"></div>
                                    <table class="app-table" id="tblProgramacao">
                                        <thead>
                                        <tr>
                                            <th class="w10" data-key="id_programacao" data-expand="true">Código</th>
                                            <th class="w50" data-key="nome_programa">Programa</th>
                                            <th class="w10" data-key="horario" data-class="hide-small-viewport">Horário</th>
                                            <th class="w20" data-key="dia" data-class="hide-min-viewport">Dia da Semana</th>
                                            <th class="w20" data-key="data_criacao" data-class="hide-medium-viewport">Data Criação</th>
                                            <th class="w10" data-align="center" data-type="acoes">
                                                Ações
                                                <div class="actions">
                                                    <button class="btn table-action btnEditar" data-key="id_programacao"><i class="fa fa-file"></i></button>
                                                </div>
                                            </th>
                                        </tr>
                                        </thead>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-12 app-tab">
                        <div id="mensagem"></div>

                        <div class="widget">
                            <div class="widget-header">
                                <span><i class="fa fa-file-o"></i></span>
                                <h2>Cadastrar</h2>
                            </div>
                            <div class="widget-body">
                                <form name="programacao">
                                    <input type="hidden" id="id_programacao" name="id_programacao" value="">

                                    <div class="form-group-inline">
                                        <div class="form-group fg-60 fgmd-100">
                                            <label for="nome_programa">Nome Programa</label>
                                            <input class="form-control" aria-label="Programa" title="Nome Programa" name="nome_programa" id="nome_programa" maxlength="300" data-required="true">
                                        </div>

                                        <div class="form-group fg-20 fgmd-50">
                                            <label for="horario">Horário</label>
                                            <input class="form-control" aria-label="Horário" title="Horário" name="horario" maxlength="5" id="horario" data-mask="time" data-required="true">
                                        </div>

                                        <div class="form-group fg-20 fgmd-50">
                                            <label for="dia">Dia da Semana</label>
                                            <select id="dia" name="dia" class="form-control" data-required="true">
                                                <option value="">Selecione...</option>
                                                <option value="Segunda">Segunda</option>
                                                <option value="Terca">Terça</option>
                                                <option value="Quarta">Quarta</option>
                                                <option value="Quinta">Quinta</option>
                                                <option value="Sexta">Sexta</option>
                                                <option value="Sabado">Sábado</option>
                                                <option value="Domingo">Domingo</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="descricao">Descrição</label>
                                        <textarea class="form-control" id="descricao" name="descricao" data-required="true" rows="4" maxlength="500"></textarea>
                                    </div>

                                    <div class="form-group">
                                        <label for="imagem">Imagem</label>

                                        <label for="imagem" class="input-file">
                                            <div class="button-file">
                                                <input type="file" name="imagem" id="imagem" data-required="true" data-mask="file" accept=".png,.gig,.jpeg,.jpg">
                                                Selecione
                                            </div>

                                            <input class="form-control" aria-label="Imagem" title="Imagem" readonly>
                                            <div class="note"><strong>Nota:</strong> Apenas Arquivos com extensões .jpg, .jpeg, .png</div>
                                        </label>
                                    </div>

                                    <button type="button" class="btn-app btn-app-primary mt-10 submit" id="btnSalvarProgramacao" title="Salvar Programação">Salvar</button>
                                    <button type="button" class="btn-app mt-10 ml-10" id="btnCancelar" title="Cancelar">Cancelar</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
