<div id="administrador">
    <?=$this->renderComponent('Administrador/menu-admin.phtml');?>

    <div class="content-admin">
        <div class="container-fluid">
            <div class="page-title mb-30">
                <h1><i class="fa fa-user-circle"></i> Usuário</h1>
            </div>

            <section id="usuario" class="app-tabs mb-20">
                <div class="row">
                    <div class="col-lg-12 app-tab tab-active">
                        <div class="btn-acoes">
                            <button class="btn-app btn-app-primary pull-right" id="btnCadastrar"><i class="fa fa-plus"></i>&nbsp;&nbsp;Novo</button>
                        </div>

                        <div class="widget">
                            <div class="widget-header">
                                <span><i class="fa fa-list-alt"></i></span>
                                <h2>Usuários Cadastrados</h2>
                            </div>
                            <div class="widget-body">
                                <div class="table-responsive">
                                    <div class="app-table-controle"></div>
                                    <table class="app-table" id="tblUsuario">
                                        <thead>
                                        <tr>
                                            <th class="w10" data-key="id_usuario" data-expand="true">Código</th>
                                            <th class="w50" data-key="nome">Nome</th>
                                            <th class="w10" data-key="usuario">Usuário</th>
                                            <th class="w20" data-key="senha" data-class="hide-small-viewport">Senha</th>
                                            <th class="w20" data-key="data_criacao" data-class="hide-medium-viewport">Data Criação</th>
                                            <th class="w10" data-align="center" data-type="acoes">
                                                Ações
                                                <div class="actions">
                                                    <button class="btn table-action btnEditar" data-key="id_usuario"><i class="fa fa-file"></i></button>
                                                </div>
                                            </th>
                                        </tr>
                                        </thead>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-12 app-tab">
                        <div id="mensagem"></div>

                        <div class="widget">
                            <div class="widget-header">
                                <span><i class="fa fa-file-o"></i></span>
                                <h2>Cadastrar</h2>
                            </div>

                            <div class="widget-body">
                                <form name="usuario">
                                    <input type="hidden" id="id_usuario" name="id_usuario" value="">

                                    <div class="form-group-inline">
                                        <div class="form-group fg-50 fgmd-50">
                                            <label for="nome">Nome</label>
                                            <input class="form-control" id="nome" name="nome" title="Nome do Usuário" data-required="true">
                                        </div>

                                        <div class="form-group fg-50 fgmd-50">
                                            <label for="usuario">Usuário</label>
                                            <input class="form-control" aria-label="Usuario" title="Usuário" name="usuario" id="usuario" maxlength="100" data-required="true">
                                        </div>
                                    </div>

                                    <div class="form-group-inline">
                                        <div class="form-group fg-50 fgmd-50">
                                            <label for="senha">Senha</label>
                                            <input type="password" class="form-control" aria-label="Senha" title="Senha" name="senha" id="senha" maxlength="100" data-required="true">
                                        </div>

                                        <div class="form-group fg-50 fgmd-50">
                                            <label for="confirmar_senha">Confirmar Senha</label>
                                            <input type="password" class="form-control" aria-label="Confirmar Senha" title="Senha" name="confirmar_senha" id="confirmar_senha" maxlength="100" data-required="true">
                                        </div>
                                    </div>

                                    <button type="button" class="btn-app btn-app-primary mt-10 submit" id="btnSalvarUsuario" title="Salvar Usuário">Salvar</button>
                                    <button type="button" class="btn-app mt-10 ml-10" id="btnCancelar" title="Cancelar">Cancelar</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
