/*
 * commerce
 */
.box-title {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 400;
  color: #ffffff;
  position: relative;
  margin-bottom: 0;
  margin-top: 0;
  display: inline-block;
  vertical-align: top;
  line-height: 20px;
  border-left: 2px solid #ffffff;
  margin-bottom: 30px;
}
.box-title span {
  margin-left: 2px;
  background: #ffffff;
  display: inline-block;
  padding: 0 10px;
}
.box-title-large {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 400;
  color: #ffffff;
  position: relative;
  margin-bottom: 0;
  margin-top: 0;
  display: inline-block;
  vertical-align: top;
  line-height: 20px;
  border-left: 2px solid #ffffff;
  margin-bottom: 30px;
  font-size: 1.125em;
  line-height: 30px;
}
.box-title-large span {
  margin-left: 2px;
  background: #ffffff;
  display: inline-block;
  padding: 0 10px;
}
.box-title-large span {
  margin-left: 2px;
  background: #ffffff;
  display: inline-block;
  padding: 0 10px;
}
.box-title-single {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 400;
  color: #ffffff;
  position: relative;
  margin-bottom: 0;
  margin-top: 0;
  margin-left: 4px;
  display: inline-block;
  vertical-align: top;
  line-height: 20px;
  margin-bottom: 30px;
  background-color: #ffffff;
  padding: 0 10px;
}
.box-title-single:before {
  content: '';
  width: 2px;
  height: 100%;
  background-color: #ffffff;
  position: absolute;
  top: 0;
  left: -4px;
}
.box-title-single a {
  color: #ffffff;
}
.box-title-large-single {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 400;
  color: #ffffff;
  position: relative;
  margin-bottom: 0;
  margin-top: 0;
  margin-left: 4px;
  display: inline-block;
  vertical-align: top;
  line-height: 20px;
  margin-bottom: 30px;
  background-color: #ffffff;
  padding: 0 10px;
  font-size: 1.125em;
  line-height: 30px;
}
.box-title-large-single:before {
  content: '';
  width: 2px;
  height: 100%;
  background-color: #ffffff;
  position: absolute;
  top: 0;
  left: -4px;
}
.box-title-large-single a {
  color: #ffffff;
}
.box-title-large-single:before {
  content: '';
  width: 2px;
  height: 100%;
  background-color: #ffffff;
  position: absolute;
  top: 0;
  left: -4px;
}
.box-title-large-single a {
  color: #ffffff;
}
/* =Custom Font
-------------------------------------------------------------- */
@font-face {
  font-family: 'star';
  src: url('../fonts/star.eot');
  src: url('../fonts/stard41d.eot?#iefix') format('embedded-opentype'), url('../fonts/star.woff') format('woff'), url('../fonts/star.ttf') format('truetype'), url('../fonts/star.svg#star') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'WooCommerce';
  src: url('../fonts/WooCommerce.eot');
  src: url('../fonts/WooCommerced41d.eot?#iefix') format('embedded-opentype'), url('../fonts/WooCommerce.woff') format('woff'), url('../fonts/WooCommerce.ttf') format('truetype'), url('../fonts/WooCommerce.svg#WooCommerce') format('svg');
  font-weight: normal;
  font-style: normal;
}
.commerce-content {
  padding-bottom: 90px;
}
.catelog {
  margin-top: 40px;
}
.commerce {
  /* =General Layout Styles
	-------------------------------------------------------------- */
  /* =Product Page
	-------------------------------------------------------------- */
  /* =Product Loops
	-------------------------------------------------------------- */
  /* =Cart Page
	-------------------------------------------------------------- */
  /* =Forms
	-------------------------------------------------------------- */
}
.commerce .col2-set {
  width: 100%;
}
.commerce .col2-set:before,
.commerce .col2-set:after {
  content: " ";
  display: table;
}
.commerce .col2-set:after {
  clear: both;
}
.commerce .col2-set .col-1 {
  float: left;
  width: 48%;
}
.commerce .col2-set .col-2 {
  float: right;
  width: 48%;
}
.commerce img {
  height: auto;
  max-width: 100%;
}
.commerce div.product div.images {
  overflow: hidden;
  position: relative;
}
.commerce div.product div.thumbnails:before,
.commerce div.product div.thumbnails:after {
  content: " ";
  display: table;
}
.commerce div.product div.thumbnails:after {
  clear: both;
}
.commerce div.product div.thumbnails a {
  float: left;
  margin-right: 3.8%;
}
.commerce div.product div.thumbnails a.last {
  margin-right: 0;
}
.commerce div.product div.thumbnails a.first {
  clear: both;
}
.commerce div.product div.summary .product_meta {
  margin-top: 1em;
}
.commerce div.product .yith-wcwl-add-to-wishlist {
  font-size: 12px;
}
.commerce div.product .content-share {
  position: relative;
  margin-top: 1em;
}
.commerce #quantity {
  /* Disable input[type=number] buttons until the world is ready */
}
.commerce #quantity input::-webkit-outer-spin-button,
.commerce #quantity input::-webkit-inner-spin-button {
  display: none;
}
.commerce .related:before,
.commerce .upsells.products:before,
.commerce .related:after,
.commerce .upsells.products:after {
  content: " ";
  display: table;
}
.commerce .related:after,
.commerce .upsells.products:after {
  clear: both;
}
.commerce .related ul.products,
.commerce .upsells.products ul.products {
  margin-top: 1em;
}
.commerce ul.products {
  clear: both;
}
.commerce ul.products:before,
.commerce ul.products:after {
  content: " ";
  display: table;
}
.commerce ul.products:after {
  clear: both;
}
.commerce ul.products li.first {
  clear: both;
}
.commerce ul.products li.last {
  margin-right: 0;
}
.commerce.columns-1 ul.products li.product {
  width: 100%;
  margin-right: 0;
}
.commerce.columns-2 ul.products li.product {
  width: 48%;
}
.commerce.columns-3 ul.products li.product {
  width: 30.75%;
}
.commerce.columns-5 ul.products li.product {
  width: 16.95%;
}
.commerce.columns-6 ul.products li.product {
  width: 13.5%;
}
.commerce .commerce-result-count {
  float: left;
}
.commerce .commerce-ordering {
  float: right;
}
.commerce table.cart img {
  height: auto;
}
.commerce table.cart td.actions {
  text-align: right;
}
.commerce table.cart td.actions .input-text {
  width: 150px;
}
.commerce table.cart td.actions .coupon {
  float: left;
}
.commerce table.cart td.actions .coupon label {
  display: none;
}
.commerce .cart-collaterals {
  width: 100%;
}
.commerce .cart-collaterals:before,
.commerce .cart-collaterals:after {
  content: " ";
  display: table;
}
.commerce .cart-collaterals:after {
  clear: both;
}
.commerce .cart-collaterals .related {
  width: 30.75%;
  float: left;
}
.commerce .cart-collaterals .cross-sells {
  width: 48%;
  float: left;
}
.commerce .cart-collaterals .cross-sells ul.products {
  float: none;
}
.commerce .cart-collaterals .cross-sells ul.products li {
  width: 48%;
}
.commerce .cart-collaterals .shipping_calculator {
  width: 48%;
  clear: right;
  float: right;
}
.commerce .cart-collaterals .shipping_calculator:before,
.commerce .cart-collaterals .shipping_calculator:after {
  content: " ";
  display: table;
}
.commerce .cart-collaterals .shipping_calculator:after {
  clear: both;
}
.commerce .cart-collaterals .shipping_calculator .col2-set .col-1,
.commerce .cart-collaterals .shipping_calculator .col2-set .col-2 {
  width: 47%;
}
.commerce .cart-collaterals .cart_totals {
  float: right;
  width: 48%;
  text-align: right;
}
.commerce form .form-row:before,
.commerce form .form-row:after {
  content: " ";
  display: table;
}
.commerce form .form-row:after {
  clear: both;
}
.commerce form .form-row label {
  display: block;
}
.commerce form .form-row label.checkbox {
  display: inline;
}
.commerce form .form-row select {
  display: block;
  line-height: 1.7;
  background-color: transparent;
  background-image: none;
  border: 1px solid #343434;
  border-radius: 0;
  font-style: italic;
  letter-spacing: 0.5px;
  margin: 0 0 30px;
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  color: #555555;
  width: 100%;
}
.commerce form .form-row select:focus {
  outline: 0;
  background: #3c3c3c;
  border-bottom: 1px solid #3c3c3c;
}
.commerce form .form-row select:focus::-moz-placeholder {
  color: #ffffff;
  opacity: 1;
}
.commerce form .form-row select:focus:-ms-input-placeholder {
  color: #ffffff;
}
.commerce form .form-row select:focus::-webkit-input-placeholder {
  color: #ffffff;
}
.commerce form .form-row select::-moz-placeholder {
  color: rgba(68, 73, 75, 0.5);
  opacity: 1;
}
.commerce form .form-row select:-ms-input-placeholder {
  color: rgba(68, 73, 75, 0.5);
}
.commerce form .form-row select::-webkit-input-placeholder {
  color: rgba(68, 73, 75, 0.5);
}
.commerce form .form-row select[disabled],
.commerce form .form-row select[readonly],
fieldset[disabled] .commerce form .form-row select {
  cursor: not-allowed;
  background-color: #cecfd0;
  opacity: 1;
}
textarea.commerce form .form-row select {
  height: auto;
}
.commerce form .form-row .input-text {
  display: block;
  line-height: 1.7;
  background-color: transparent;
  background-image: none;
  border: 1px solid #343434;
  border-radius: 0;
  font-style: italic;
  letter-spacing: 0.5px;
  margin: 0 0 30px;
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  color: #555555;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
}
.commerce form .form-row .input-text:focus {
  outline: 0;
  background: #3c3c3c;
  border-bottom: 1px solid #3c3c3c;
}
.commerce form .form-row .input-text:focus::-moz-placeholder {
  color: #ffffff;
  opacity: 1;
}
.commerce form .form-row .input-text:focus:-ms-input-placeholder {
  color: #ffffff;
}
.commerce form .form-row .input-text:focus::-webkit-input-placeholder {
  color: #ffffff;
}
.commerce form .form-row .input-text::-moz-placeholder {
  color: rgba(68, 73, 75, 0.5);
  opacity: 1;
}
.commerce form .form-row .input-text:-ms-input-placeholder {
  color: rgba(68, 73, 75, 0.5);
}
.commerce form .form-row .input-text::-webkit-input-placeholder {
  color: rgba(68, 73, 75, 0.5);
}
.commerce form .form-row .input-text[disabled],
.commerce form .form-row .input-text[readonly],
fieldset[disabled] .commerce form .form-row .input-text {
  cursor: not-allowed;
  background-color: #cecfd0;
  opacity: 1;
}
textarea.commerce form .form-row .input-text {
  height: auto;
}
.commerce form .form-row textarea.input-text {
  height: auto;
}
.commerce form .form-row-first,
.commerce form .form-row-last {
  float: left;
  width: 47%;
  overflow: visible;
}
.commerce form .form-row-last {
  float: right;
}
.commerce form .form-row-wide {
  clear: both;
}
.commerce #payment .form-row select {
  width: auto;
}
.commerce #payment .terms {
  text-align: right;
  padding: 0 1em 0;
}
.commerce #payment #place_order {
  float: right;
  background-image: none;
  padding-left: 40px;
  padding-right: 40px;
  font-size: 16px;
  background-color: #000000;
  color: #fff;
  -webkit-border-radius: 0;
  border-radius: 0;
}
.commerce #payment #place_order:hover {
  background-color: #d91f26;
  border-color: #b7181e;
  color: #ffffff;
}
.albums-masonry .loadmore-action .btn-loadmore {
  background: #2f2f2f;
  border-bottom: 3px solid #161616;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}
.albums-masonry .loadmore-action .btn-loadmore:hover {
  background-color: #d91f26;
  border-color: #b7181e;
  color: #ffffff;
}
@media (max-width: 767px) {
  .commerce ul.products li.product {
    width: 100% !important;
    margin: 0 0 2.992em 0;
    float: none;
    clear: none;
  }
}
@media (max-width: 767px) {
  .commerce {
    /**
		 * General layout
		 */
    /**
		 * Product Details
		 */
    /**
		 * Cart
		 */
    /**
		 * Checkout
		 */
    /**
		 * Account
		 */
  }
  .commerce .col2-set .col-1,
  .commerce .col2-set .col-2 {
    float: none;
    width: 100%;
  }
  .commerce div.product div.images,
  .commerce div.product div.summary {
    float: none;
    width: 100%;
  }
  .commerce table.cart .product-thumbnail {
    display: none;
  }
  .commerce table.cart td.actions {
    text-align: left;
  }
  .commerce table.cart td.actions .coupon {
    float: none;
    padding-bottom: .5em;
  }
  .commerce table.cart td.actions .coupon:before,
  .commerce table.cart td.actions .coupon:after {
    content: " ";
    display: table;
  }
  .commerce table.cart td.actions .coupon:after {
    clear: both;
  }
  .commerce table.cart td.actions input,
  .commerce table.cart td.actions .button,
  .commerce table.cart td.actions .input-text {
    width: 48%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .commerce table.cart td.actions .input-text + .button,
  .commerce table.cart td.actions .button.alt {
    float: right;
  }
  .commerce .cart-collaterals .cart_totals,
  .commerce .cart-collaterals .shipping_calculator,
  .commerce .cart-collaterals .cross-sells {
    width: 100%;
    float: none;
    text-align: left;
  }
  .commerce.commerce-checkout form.login .form-row {
    width: 100%;
    float: none;
  }
  .commerce #payment .terms {
    text-align: left;
    padding: 0;
  }
  .commerce #payment #place_order {
    float: none;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-bottom: 1em;
  }
  .commerce .lost_reset_password .form-row-first,
  .commerce .lost_reset_password .form-row-last {
    width: 100%;
    float: none;
    margin-right: 0;
  }
}
/* =Global styles/layout
-------------------------------------------------------------- */
p.demo_store {
  position: fixed;
  left: 0;
  right: 0;
  margin: 0;
  width: 100%;
  font-size: 1em;
  padding: 1em 0;
  text-align: center;
  color: #ffffff;
  z-index: 1049;
  background: #ffffff;
}
/* =Utilities
-------------------------------------------------------------- */
.wc-forward:after,
.wc-forward a:after {
  font-family: 'WooCommerce';
  speak: none;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  margin-left: 7px;
  content: "\e029";
  font-size: .7em;
}
.wc-backward:before,
.wc-backward a:before {
  font-family: 'WooCommerce';
  speak: none;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  margin-right: 7px;
  content: "\e02f";
  font-size: .7em;
}
/* =Main Styles (namespace to avoid conflict with common global class names)
-------------------------------------------------------------- */
.commerce {
  /* =Product Page
	-------------------------------------------------------------- */
  /* Sale labels */
  /* =Product Loops
	-------------------------------------------------------------- */
  /* =Quantity inputs
	-------------------------------------------------------------- */
  /* Star rating */
  /* =Tables
	-------------------------------------------------------------- */
  /* =Cart
	-------------------------------------------------------------- */
  /* =Cart Sidebar
	-------------------------------------------------------------- */
  /* =Cart Page
	-------------------------------------------------------------- */
  /* =Forms
	-------------------------------------------------------------- */
  /* =Checkout
	-------------------------------------------------------------- */
  /* Payment box - appears on checkout and page page */
  /* =Order Page
	-------------------------------------------------------------- */
  /* =Account Page
	-------------------------------------------------------------- */
  /* =Layered Nav Widget
	-------------------------------------------------------------- */
  /* =Price Filter Widget
	-------------------------------------------------------------- */
}
.commerce table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 1.6875em;
}
.commerce table > thead > tr > th,
.commerce table > tbody > tr > th,
.commerce table > tfoot > tr > th,
.commerce table > thead > tr > td,
.commerce table > tbody > tr > td,
.commerce table > tfoot > tr > td {
  padding: 0.5em;
  line-height: 1.7;
  vertical-align: top;
  border-top: 1px solid #262626;
}
.commerce table > thead > tr > th {
  vertical-align: bottom;
  border-bottom: 2px solid #262626;
}
.commerce table > caption + thead > tr:first-child > th,
.commerce table > colgroup + thead > tr:first-child > th,
.commerce table > thead:first-child > tr:first-child > th,
.commerce table > caption + thead > tr:first-child > td,
.commerce table > colgroup + thead > tr:first-child > td,
.commerce table > thead:first-child > tr:first-child > td {
  border-top: 0;
}
.commerce table > tbody + tbody {
  border-top: 2px solid #262626;
}
.commerce .commerce-message,
.commerce .commerce-error,
.commerce .commerce-info {
  padding: 1em 1em 1em 3.5em !important;
  margin: 0 0 2em !important;
  position: relative;
  border: 1px solid #262626;
  list-style: none outside !important;
  width: auto;
}
.commerce .commerce-message:before,
.commerce .commerce-error:before,
.commerce .commerce-info:before,
.commerce .commerce-message:after,
.commerce .commerce-error:after,
.commerce .commerce-info:after {
  content: " ";
  display: table;
}
.commerce .commerce-message:after,
.commerce .commerce-error:after,
.commerce .commerce-info:after {
  clear: both;
}
.commerce .commerce-message:before,
.commerce .commerce-error:before,
.commerce .commerce-info:before {
  content: "";
  height: 1.5em;
  width: 1.5em;
  display: block;
  position: absolute;
  top: 0;
  left: 1em;
  font-family: sans-serif;
  font-size: 1em;
  line-height: 1.5;
  text-align: center;
  padding-top: 1em;
}
.commerce .commerce-message .button,
.commerce .commerce-error .button,
.commerce .commerce-info .button {
  float: right;
}
.commerce .commerce-message li,
.commerce .commerce-error li,
.commerce .commerce-info li {
  list-style: none outside !important;
  padding-left: 0 !important;
  margin-left: 0 !important;
}
.commerce .commerce-message {
  border-top: 3px solid #3c763d;
}
.commerce .commerce-message:before {
  color: #3c763d;
  content: "\f058";
  font-family: "fontawesome";
}
.commerce .commerce-info {
  border-top: 3px solid #31708f;
}
.commerce .commerce-info:before {
  color: #31708f;
  content: "\f05a";
  font-family: "fontawesome";
}
.commerce .commerce-error {
  border-top: 3px solid #a94442;
}
.commerce .commerce-error:before {
  color: #a94442;
  content: "\f057";
  font-family: "fontawesome";
}
.commerce small.note {
  display: block;
  color: #ffffff;
  font-size: 11px;
  line-height: 21px;
  margin-top: 10px;
}
.commerce div.product {
  margin-bottom: 0;
  position: relative;
  /* Main product title */
  /* Price */
  /* Stock */
  /* Product image and thumbnail */
  /* Summary div (contains title, price etc) */
  /* Social networking */
  /* Tabs on the product page */
  /* Cart button */
  /* add to cart forms */
}
.commerce div.product .product_title {
  clear: none;
  margin-top: 0;
  padding: 0;
}
.commerce div.product span.price,
.commerce div.product p.price {
  font-size: 30px;
  font-weight: 300;
  color: #ffffff;
}
.commerce div.product span.price ins,
.commerce div.product p.price ins {
  float: left;
  margin-right: 5px;
  text-decoration: none;
}
.commerce div.product span.price del,
.commerce div.product p.price del {
  font-size: 0.67em;
  color: rgba(255, 255, 255, 0.5);
}
.commerce div.product p.stock {
  font-size: 0.92em;
}
.commerce div.product .stock {
  color: #ffffff;
}
.commerce div.product .out-of-stock {
  color: red;
}
.commerce div.product div.images {
  margin-bottom: 2em;
}
.commerce div.product div.images div.thumbnails {
  padding-top: 1em;
}
.commerce div.product div.summary {
  margin-bottom: 2em;
}
.commerce div.product div.summary .cart .button:before,
.commerce div.product div.summary .cart input.button:before {
  content: "\f07a";
  position: relative;
  display: inline-block;
  font-family: "fontawesome";
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  speak: none;
  padding-right: 5px;
  opacity: 1;
  filter: alpha(opacity=100);
}
.commerce div.product div.social {
  text-align: right;
  margin: 0 0 1em;
}
.commerce div.product div.social span {
  margin: 0 0 0 2px;
}
.commerce div.product div.social span span {
  margin: 0;
}
.commerce div.product div.social span .stButton .chicklets {
  padding-left: 16px;
  width: 0;
}
.commerce div.product div.social iframe {
  float: left;
  margin-top: 3px;
}
.commerce div.product .commerce-tabs {
  margin-top: 1em;
  margin-bottom: 1em;
}
.commerce div.product .commerce-tabs .nav-tabs > li > a {
  text-transform: uppercase;
  padding: 0.7rem 1.2rem;
}
.commerce div.product .commerce-tabs .tab-pane h2 {
  display: none;
}
.commerce div.product p.cart {
  margin-bottom: 2em;
}
.commerce div.product p.cart:before,
.commerce div.product p.cart:after {
  content: " ";
  display: table;
}
.commerce div.product p.cart:after {
  clear: both;
}
.commerce div.product form.cart {
  margin-top: 1em;
}
.commerce div.product form.cart:before,
.commerce div.product form.cart:after {
  content: " ";
  display: table;
}
.commerce div.product form.cart:after {
  clear: both;
}
.commerce div.product form.cart div.quantity {
  float: left;
  margin: 0 1em 0 0;
}
.commerce div.product form.cart table {
  border-width: 0 0 0px 0;
}
.commerce div.product form.cart table td {
  padding-left: 0;
}
.commerce div.product form.cart table div.quantity {
  float: none;
  margin: 0;
}
.commerce div.product form.cart table small.stock {
  display: block;
  float: none;
}
.commerce div.product form.cart .variations {
  margin-bottom: 1em;
  width: auto;
}
.commerce div.product form.cart .variations label {
  font-weight: bold;
}
.commerce div.product form.cart .variations select {
  width: auto;
  display: block;
  margin-bottom: 5px;
}
.commerce div.product form.cart .variations td.label {
  padding-right: 1em;
}
.commerce div.product form.cart .variations td.label label {
  margin: 0;
  color: #ffffff;
}
.commerce div.product form.cart .variations td {
  vertical-align: bottom;
}
.commerce div.product form.cart .button {
  vertical-align: middle;
  float: left;
}
.commerce div.product form.cart .group_table td.label {
  padding-right: 1em;
  padding-left: 1em;
}
.commerce div.product form.cart .group_table td {
  vertical-align: top;
  padding-bottom: .5em;
}
.commerce span.onsale {
  position: absolute;
  top: -30px;
  left: -90px;
  display: block;
  width: 150px;
  height: 80px;
  font-size: 16px;
  line-height: 100px;
  text-align: center;
  text-transform: uppercase;
  color: white;
  font-weight: 400;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  z-index: 100;
}
.commerce span.out_of_stock {
  background: none repeat scroll 0 0 #b3b3b3;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  color: #ffffff;
  display: block;
  font-size: 12px;
  font-weight: 400;
  height: 64px;
  padding: 15px 10px;
  position: absolute;
  right: 10px;
  text-align: center;
  text-transform: uppercase;
  top: 10px;
  width: 64px;
  z-index: 100;
}
.commerce .products ul,
.commerce ul.products {
  list-style: none outside;
  padding: 0;
  clear: both;
}
.commerce .products ul:before,
.commerce ul.products:before,
.commerce .products ul:after,
.commerce ul.products:after {
  content: " ";
  display: table;
}
.commerce .products ul:after,
.commerce ul.products:after {
  clear: both;
}
.commerce .products ul li,
.commerce ul.products li {
  list-style: none outside;
}
.commerce ul.products li.product h3 {
  padding: .5em 0;
  margin: 0;
  font-size: 1.125em;
}
.commerce ul.products li.product figure {
  position: relative;
  background-color: transparent;
}
.commerce ul.products li.product figure .product-wrap {
  position: relative;
  display: block;
}
.commerce ul.products li.product figure .product-wrap .product-images {
  position: relative;
  overflow: hidden;
}
.commerce ul.products li.product figure .product-wrap .product-images > a {
  position: relative;
  display: block;
}
.commerce ul.products li.product figure .product-wrap .product-images .noo-product-thumbnail {
  left: 0;
  top: 0;
  width: 100%;
  z-index: 8;
}
.commerce ul.products li.product figure .product-wrap .product-images .noo-product-thumbnail img {
  display: block;
  height: auto;
  -webkit-transition: all 1s cubic-bezier(0.19, 1, 0.22, 1) 0s;
  -o-transition: all 1s cubic-bezier(0.19, 1, 0.22, 1) 0s;
  transition: all 1s cubic-bezier(0.19, 1, 0.22, 1) 0s;
  width: 100%;
  animation-fill-mode: both;
  -webkit-animation-fill-mode: both;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  opacity: 1;
  filter: alpha(opacity=100);
}
.commerce ul.products li.product figure .product-wrap .product-images .noo-product-thumbnail.noo-product-front-thumbnail {
  z-index: 10;
  position: relative;
}
.commerce ul.products li.product figure .product-wrap .product-images .noo-product-thumbnail.noo-product-back-thumbnail {
  position: absolute;
}
.commerce ul.products li.product figure .product-wrap .shop-loop-actions {
  position: absolute;
  bottom: -35px;
  left: 0;
  z-index: 20;
  -webkit-transition: bottom 0.2s linear 0s;
  -o-transition: bottom 0.2s linear 0s;
  transition: bottom 0.2s linear 0s;
  line-height: 35px;
}
@media (max-width: 767px) {
  .commerce ul.products li.product figure .product-wrap .shop-loop-actions {
    display: none;
  }
}
.commerce ul.products li.product figure .product-wrap .shop-loop-actions a {
  white-space: normal;
  display: inline-block;
  background-color: #fff;
  color: #ffffff;
  width: 35px;
  height: 35px;
  float: left;
  position: relative;
  text-indent: -999em;
}
.commerce ul.products li.product figure .product-wrap .shop-loop-actions a:before {
  width: 35px;
  height: 35px;
  text-align: center;
  display: block;
  line-height: 35px !important;
  position: absolute !important;
  left: 0;
  top: 0;
  text-indent: 0;
}
.commerce ul.products li.product figure .product-wrap .shop-loop-actions a:hover {
  color: #d91f26;
}
.commerce ul.products li.product figure .product-wrap .shop-loop-actions .button {
  text-decoration: none;
  background: #ffffff;
  color: #fff;
}
.commerce ul.products li.product figure .product-wrap .shop-loop-actions .button:before {
  content: "\f06e";
  position: relative;
  display: inline-block;
  font-family: "fontawesome";
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  speak: none;
  padding-right: 5px;
  opacity: 1;
  filter: alpha(opacity=100);
}
.commerce ul.products li.product figure .product-wrap .shop-loop-actions .button.add_to_cart_button.product_type_variable:before {
  content: "\f03a";
  position: relative;
  display: inline-block;
  font-family: "fontawesome";
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  speak: none;
  padding-right: 5px;
  opacity: 1;
  filter: alpha(opacity=100);
}
.commerce ul.products li.product figure .product-wrap .shop-loop-actions .button.add_to_cart_button.product_type_simple:before {
  content: "\f07a";
  position: relative;
  display: inline-block;
  font-family: "fontawesome";
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  speak: none;
  padding-right: 5px;
  opacity: 1;
  filter: alpha(opacity=100);
}
.commerce ul.products li.product figure .product-wrap .shop-loop-actions .button.add_to_cart_button.loading:before {
  content: " ";
  background: url(../images/ajax-loader.html) scroll center center no-repeat #ffffff;
}
.commerce ul.products li.product figure .product-wrap .shop-loop-actions .button.add_to_cart_button.added:before {
  content: "\f00c";
  position: relative;
  display: inline-block;
  font-family: "fontawesome";
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  speak: none;
  padding-right: 5px;
  opacity: 1;
  filter: alpha(opacity=100);
}
.commerce ul.products li.product figure .product-wrap .shop-loop-actions .button.add_to_cart_button:before {
  color: #ffffff;
}
.commerce ul.products li.product figure .product-wrap .shop-loop-actions .button:hover {
  color: #ffffff;
  background: #d91f26;
}
.commerce ul.products li.product figure .product-wrap .shop-loop-actions .button:before {
  color: #ffffff;
  padding-right: 0 !important;
  text-align: center;
  display: block;
  line-height: 35px;
}
.commerce ul.products li.product figure .product-wrap .shop-loop-actions .shop-loop-quickview {
  text-align: center;
  background: #ffffff;
  color: #fff;
}
.commerce ul.products li.product figure .product-wrap .shop-loop-actions .shop-loop-quickview:before {
  content: "\f002";
  position: relative;
  display: inline-block;
  font-family: "fontawesome";
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  speak: none;
  padding-right: 5px;
  opacity: 1;
  filter: alpha(opacity=100);
}
.commerce ul.products li.product figure .product-wrap .shop-loop-actions .shop-loop-quickview.loading:before {
  content: " ";
  background: url(../images/ajax-loader.html) scroll center center no-repeat #ffffff;
}
.commerce ul.products li.product figure .product-wrap .shop-loop-actions .shop-loop-quickview:before {
  color: #ffffff;
  display: block;
  line-height: 35px;
  padding-right: 0;
}
.commerce ul.products li.product figure .product-wrap .shop-loop-actions .shop-loop-quickview:hover {
  color: #ffffff;
  background: #d91f26;
}
.commerce ul.products li.product figure .product-wrap .shop-loop-actions .yith-wcwl-add-to-wishlist {
  margin: 0;
  padding: 0;
  float: left;
}
.commerce ul.products li.product figure .product-wrap .shop-loop-actions .yith-wcwl-add-to-wishlist .add_to_wishlist {
  text-indent: -999em;
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.commerce ul.products li.product figure .product-wrap .shop-loop-actions .yith-wcwl-add-to-wishlist .add_to_wishlist:before {
  content: "\f08a";
  position: relative;
  display: inline-block;
  font-family: "fontawesome";
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  speak: none;
  padding-right: 5px;
  opacity: 1;
  filter: alpha(opacity=100);
}
.commerce ul.products li.product figure .product-wrap .shop-loop-actions .yith-wcwl-add-to-wishlist .add_to_wishlist:before {
  color: #ffffff;
  background: #ffffff;
  padding-right: 0;
  text-indent: 0;
  display: block;
  line-height: 35px;
  font-weight: bold;
  position: absolute;
}
.commerce ul.products li.product figure .product-wrap .shop-loop-actions .yith-wcwl-add-to-wishlist .add_to_wishlist:hover {
  color: #ffffff;
  background: #d91f26;
}
.commerce ul.products li.product figure .product-wrap .shop-loop-actions .yith-wcwl-add-to-wishlist .add_to_wishlist:hover:before {
  color: #ffffff;
  background: #d91f26;
}
.commerce ul.products li.product figure .product-wrap .shop-loop-actions .yith-wcwl-add-to-wishlist .yith-wcwl-wishlistaddedbrowse span.feedback,
.commerce ul.products li.product figure .product-wrap .shop-loop-actions .yith-wcwl-add-to-wishlist .yith-wcwl-wishlistexistsbrowse span.feedback {
  display: none;
}
.commerce ul.products li.product figure .product-wrap .shop-loop-actions .yith-wcwl-add-to-wishlist .yith-wcwl-wishlistaddedbrowse a,
.commerce ul.products li.product figure .product-wrap .shop-loop-actions .yith-wcwl-add-to-wishlist .yith-wcwl-wishlistexistsbrowse a {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
  width: auto;
  font-size: 10px;
  padding-left: 40px;
  text-indent: 0;
}
.commerce ul.products li.product figure .product-wrap .shop-loop-actions .yith-wcwl-add-to-wishlist .yith-wcwl-wishlistaddedbrowse a:before,
.commerce ul.products li.product figure .product-wrap .shop-loop-actions .yith-wcwl-add-to-wishlist .yith-wcwl-wishlistexistsbrowse a:before {
  content: "\f00c";
  position: relative;
  display: inline-block;
  font-family: "fontawesome";
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  speak: none;
  padding-right: 5px;
  opacity: 1;
  filter: alpha(opacity=100);
}
.commerce ul.products li.product figure .product-wrap .shop-loop-actions .yith-wcwl-add-to-wishlist .yith-wcwl-wishlistaddedbrowse a:before,
.commerce ul.products li.product figure .product-wrap .shop-loop-actions .yith-wcwl-add-to-wishlist .yith-wcwl-wishlistexistsbrowse a:before {
  background: #ffffff;
  padding-right: 0;
  margin-right: 5px;
  color: #fff;
  font-size: 14px;
}
.commerce ul.products li.product figure .product-wrap .shop-loop-actions .yith-wcwl-add-to-wishlist .yith-wcwl-wishlistaddedbrowse a:hover:before,
.commerce ul.products li.product figure .product-wrap .shop-loop-actions .yith-wcwl-add-to-wishlist .yith-wcwl-wishlistexistsbrowse a:hover:before {
  color: #ffffff;
  background: #d91f26;
}
.commerce ul.products li.product figcaption {
  padding: 0 1em;
  text-align: center;
  position: relative;
  z-index: 50;
  background-color: transparent;
}
.commerce ul.products li.product figcaption .product_title a {
  color: #ffffff;
}
.commerce ul.products li.product figcaption .product_title a:hover {
  color: #d91f26;
}
.commerce ul.products li.product strong {
  display: block;
}
.commerce ul.products li.product .price {
  color: #ffffff;
  display: block;
  font-weight: 400;
  font-size: 18px;
  padding-bottom: .5em;
}
.commerce ul.products li.product .price del {
  font-size: 0.875em;
  color: rgba(255, 255, 255, 0.5);
  margin: -2px 0 0 0;
}
.commerce ul.products li.product .price ins {
  background: none;
  text-decoration: none;
}
.commerce ul.products li.product .price .from {
  font-size: 0.67em;
  margin: -2px 0 0 0;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.5);
}
.commerce .product-quickview {
  -webkit-border-radius: 0;
  border-radius: 0;
}
.commerce .product-quickview .modal-dialog {
  width: 90%;
  max-width: 800px;
}
.commerce .product-quickview .modal-dialog .modal-content {
  -webkit-border-radius: 0;
  border-radius: 0;
}
.commerce .product-quickview .modal-dialog .modal-content .product .images,
.commerce .product-quickview .modal-dialog .modal-content .product .summary {
  width: 100%;
}
.commerce .commerce-result-count {
  margin: 0 0 1em;
}
.commerce .commerce-ordering {
  margin: 0 0 1em;
}
.commerce .commerce-ordering select {
  vertical-align: top;
}
.commerce .cart .button,
.commerce .cart input.button {
  display: inline-block;
  margin-bottom: 0;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  border: 0px solid transparent;
  white-space: nowrap;
  font-family: 'Dosis', serif;
  background: #2f2f2f;
  border-bottom: 3px solid #161616;
  padding: 0.625em 1em;
  line-height: 1.5;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: border-color color 0.2s ease;
  -o-transition: border-color color 0.2s ease;
  transition: border-color color 0.2s ease;
  float: none;
  background-color: #e4e6e6;
  background-image: none;
  height: 40px;
  padding-left: 35px;
  padding-right: 35px;
  font-size: 16px;
  -webkit-border-radius: 0;
  border-radius: 0;
  color: #ffffff;
}
.commerce .cart .button:hover,
.commerce .cart input.button:hover,
.commerce .cart .button:focus,
.commerce .cart input.button:focus {
  outline: 0;
  background: #4c4441;
}
.commerce .cart .button:hover,
.commerce .cart input.button:hover {
  background-color: #ffffff;
  color: #ffffff;
}
.commerce .cart input.checkout-button {
  background-color: #ffffff;
  color: #fff;
}
.commerce .cart input.checkout-button:hover {
  background-color: #ffffff;
}
.commerce a.added_to_cart {
  display: none !important;
}
.commerce a.added_to_cart:after,
.commerce a.added_to_cart:before {
  display: none !important;
}
.commerce .quantity {
  position: relative;
  margin: 0 auto;
  overflow: hidden;
  zoom: 1;
  font-size: 16px;
  /* Hide buttons for opera */
}
.commerce .quantity input.qty {
  color: #ffffff;
  height: 40px;
  padding: 0 5px;
  text-align: center;
  width: 40px;
  -moz-appearance: textfield;
  -webkit-appearance: textfield;
  appearance: textfield;
  border: none;
  background-color: #d91f26;
  background-image: none;
}
.commerce .quantity noindex:-o-prefocus,
.commerce .quantity input[type=number] {
  padding-right: 1.2em;
}
.commerce .quantity input {
  display: inline-block;
  margin: 0;
  vertical-align: top;
}
.commerce .quantity .plus,
.commerce .quantity .minus {
  border: none;
  color: #ffffff;
  height: 40px;
  width: 40px;
  padding: 0.5em 0.75em;
  background-color: #e4e6e6;
  background-image: none;
}
.commerce .quantity .plus:hover,
.commerce .quantity .minus:hover {
  background: #ffffff;
  color: #ffffff;
}
.commerce .quantity .plus {
  border-left-width: 0;
}
.commerce .quantity .minus {
  border-right-width: 0;
}
.commerce .star-rating {
  float: right;
  overflow: hidden;
  position: relative;
  height: 14px;
  line-height: 1em;
  font-size: 12px;
  width: 5.5em;
  font-family: 'star';
}
.commerce .star-rating:before {
  content: "\73\73\73\73\73";
  color: #ffffff;
  float: left;
  top: 0;
  left: 0;
  position: absolute;
}
.commerce .star-rating span {
  overflow: hidden;
  float: left;
  top: 0;
  left: 0;
  position: absolute;
  padding-top: 1.5em;
  color: #d91f26;
}
.commerce .star-rating span:before {
  content: "\53\53\53\53\53";
  top: 0;
  position: absolute;
  left: 0;
}
.commerce .commerce-product-rating {
  display: block;
  margin-bottom: 1.6875em;
  margin-top: 0.84375em;
}
.commerce .commerce-product-rating .commerce-review-link {
  font-size: 12px;
}
.commerce .commerce-product-rating .star-rating {
  margin: .5em 4px 0 0;
  float: left;
}
.commerce .products .star-rating {
  display: block;
  margin: 0 auto .5em;
  float: none;
}
.commerce .hreview-aggregate .star-rating {
  margin: 10px 0 0 0;
}
.commerce #review_form #respond {
  position: static;
  margin: 0;
  width: auto;
  padding: 0 0 0;
  background: transparent none;
  border: 0;
}
.commerce #review_form #respond:before,
.commerce #review_form #respond:after {
  content: " ";
  display: table;
}
.commerce #review_form #respond:after {
  clear: both;
}
.commerce #review_form #respond p {
  margin: 0 0 10px;
}
.commerce #review_form #respond .form-submit input {
  left: auto;
}
.commerce #review_form #respond textarea {
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  /* Opera/IE 8+ */
  width: 100%;
}
.commerce p.stars {
  position: relative;
  font-size: 1em;
}
.commerce p.stars a {
  display: inline-block;
  margin-right: 1em;
  text-indent: -9999px;
  position: relative;
  color: #bbb;
  font-size: 16px;
}
.commerce p.stars a:last-child {
  border-right: 0;
}
.commerce p.stars a.star-1,
.commerce p.stars a.star-2,
.commerce p.stars a.star-3,
.commerce p.stars a.star-4,
.commerce p.stars a.star-5 {
  border-right: 1px solid #ccc;
}
.commerce p.stars a.star-1:after,
.commerce p.stars a.star-2:after,
.commerce p.stars a.star-3:after,
.commerce p.stars a.star-4:after,
.commerce p.stars a.star-5:after {
  font-family: "commerce";
  text-indent: 0;
  position: absolute;
  top: 0;
  left: 0;
}
.commerce p.stars a.star-1 {
  width: 2em;
}
.commerce p.stars a.star-1:after {
  content: "\e021";
}
.commerce p.stars a.star-1:hover:after,
.commerce p.stars a.star-1.active:after {
  content: "\e020";
}
.commerce p.stars a.star-2 {
  width: 3em;
}
.commerce p.stars a.star-2:after {
  content: "\e021\e021";
}
.commerce p.stars a.star-2:hover:after,
.commerce p.stars a.star-2.active:after {
  content: "\e020\e020";
}
.commerce p.stars a.star-3 {
  width: 4em;
}
.commerce p.stars a.star-3:after {
  content: "\e021\e021\e021";
}
.commerce p.stars a.star-3:hover:after,
.commerce p.stars a.star-3.active:after {
  content: "\e020\e020\e020";
}
.commerce p.stars a.star-4 {
  width: 5em;
}
.commerce p.stars a.star-4:after {
  content: "\e021\e021\e021\e021";
}
.commerce p.stars a.star-4:hover:after,
.commerce p.stars a.star-4.active:after {
  content: "\e020\e020\e020\e020";
}
.commerce p.stars a.star-5 {
  width: 6em;
  border: 0;
}
.commerce p.stars a.star-5:after {
  content: "\e021\e021\e021\e021\e021";
}
.commerce p.stars a.star-5:hover:after,
.commerce p.stars a.star-5.active:after {
  content: "\e020\e020\e020\e020\e020";
}
.commerce table.shop_attributes {
  border: 0;
  border-top: 1px dotted rgba(0, 0, 0, 0.1);
  margin-bottom: 1.618em;
  width: 100%;
}
.commerce table.shop_attributes th {
  width: 150px;
  font-weight: bold;
  padding: 8px;
  border-top: 0;
  border-bottom: 1px dotted rgba(0, 0, 0, 0.1);
  margin: 0;
  line-height: 1.5em;
}
.commerce table.shop_attributes td {
  font-style: italic;
  padding: 0;
  border-top: 0;
  border-bottom: 1px dotted rgba(0, 0, 0, 0.1);
  margin: 0;
  line-height: 1.5em;
}
.commerce table.shop_attributes td p {
  margin: 0;
  padding: 8px 0;
}
.commerce table.shop_attributes .alt td,
.commerce table.shop_attributes .alt th {
  background: rgba(0, 0, 0, 0.025);
}
.commerce table.my_account_orders {
  font-size: 0.85em;
}
.commerce table.my_account_orders th,
.commerce table.my_account_orders td {
  padding: 4px 8px;
  vertical-align: middle;
}
.commerce table.my_account_orders .button {
  white-space: nowrap;
}
.commerce table.my_account_orders .order-actions {
  text-align: right;
}
.commerce table.my_account_orders .order-actions .button {
  margin: .125em 0 .125em .25em;
  padding: 4px 10px;
  font-weight: 300;
}
.commerce td.product-name dl.variation {
  margin: .25em 0;
}
.commerce td.product-name dl.variation:before,
.commerce td.product-name dl.variation:after {
  content: " ";
  display: table;
}
.commerce td.product-name dl.variation:after {
  clear: both;
}
.commerce td.product-name dl.variation dt,
.commerce td.product-name dl.variation dd {
  display: inline-block;
  float: left;
  margin-bottom: 1em;
}
.commerce td.product-name dl.variation dt {
  font-weight: bold;
  padding: 0 0 .25em 0;
  margin: 0 4px 0 0;
  clear: left;
}
.commerce td.product-name dl.variation dd {
  padding: 0 0 .25em 0;
}
.commerce td.product-name dl.variation dd p:last-child {
  margin-bottom: 0;
}
.commerce td.product-name p.backorder_notification {
  font-size: 0.83em;
}
.commerce td.product-quantity {
  min-width: 80px;
}
.commerce table.cart .product-thumbnail {
  min-width: 32px;
}
.commerce table.cart img {
  width: 32px;
}
.commerce table.cart th,
.commerce table.cart td {
  vertical-align: middle;
}
.commerce table.cart a.remove {
  display: block;
  font-size: 1.5em;
  height: 1em;
  width: 1em;
  text-align: center;
  line-height: 1;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  color: red;
  text-decoration: none;
  font-weight: bold;
}
.commerce table.cart a.remove:hover {
  background-color: red;
  color: #fff;
}
.commerce table.cart td.actions .coupon .input-text {
  height: 40px;
  min-width: 320px;
  border: 1px solid #2c2c2c;
  float: left;
}
.commerce table.cart input {
  margin: 0;
  vertical-align: middle;
  line-height: 1em;
}
@media (max-width: 767px) {
  .commerce table.cart input.qty {
    border: none;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  }
}
.commerce ul.cart_list,
.commerce ul.product_list_widget {
  list-style: none outside;
  padding: 0;
  margin: 0;
}
.commerce ul.cart_list li,
.commerce ul.product_list_widget li {
  padding: 10px 0;
  margin: 0;
  list-style: none;
}
.commerce ul.cart_list li:before,
.commerce ul.product_list_widget li:before,
.commerce ul.cart_list li:after,
.commerce ul.product_list_widget li:after {
  content: " ";
  display: table;
}
.commerce ul.cart_list li:after,
.commerce ul.product_list_widget li:after {
  clear: both;
}
.commerce ul.cart_list li a,
.commerce ul.product_list_widget li a {
  display: block;
  font-weight: bold;
}
.commerce ul.cart_list li img,
.commerce ul.product_list_widget li img {
  float: left;
  margin-right: 10px;
  width: 100px;
  height: auto;
}
.commerce ul.cart_list li dl,
.commerce ul.product_list_widget li dl {
  margin: 0;
  padding-left: 1em;
  border-left: 2px solid rgba(0, 0, 0, 0.1);
}
.commerce ul.cart_list li dl:before,
.commerce ul.product_list_widget li dl:before,
.commerce ul.cart_list li dl:after,
.commerce ul.product_list_widget li dl:after {
  content: " ";
  display: table;
}
.commerce ul.cart_list li dl:after,
.commerce ul.product_list_widget li dl:after {
  clear: both;
}
.commerce ul.cart_list li dl dt,
.commerce ul.product_list_widget li dl dt,
.commerce ul.cart_list li dl dd,
.commerce ul.product_list_widget li dl dd {
  display: inline-block;
  float: left;
  margin-botom: 1em;
}
.commerce ul.cart_list li dl dt,
.commerce ul.product_list_widget li dl dt {
  font-weight: bold;
  padding: 0 0 .25em 0;
  margin: 0 4px 0 0;
  clear: left;
}
.commerce ul.cart_list li dl dd,
.commerce ul.product_list_widget li dl dd {
  padding: 0 0 .25em 0;
}
.commerce ul.cart_list li dl dd p:last-child,
.commerce ul.product_list_widget li dl dd p:last-child {
  margin-bottom: 0;
}
.commerce ul.cart_list li .star-rating,
.commerce ul.product_list_widget li .star-rating {
  float: none;
}
.commerce.widget_product_categories ul.product-categories > li:before {
  content: '\f0da';
  position: relative;
  display: inline-block;
  font-family: "fontawesome";
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  speak: none;
  padding-right: 5px;
  opacity: 0.5;
  filter: alpha(opacity=50);
}
.commerce.widget_product_categories ul.product-categories > li,
.commerce.widget_product_categories ul.product-categories > li:last-child,
.commerce.widget_product_categories ul.product-categories > li:first-child {
  border: none;
  padding: 5px 0;
}
.commerce.widget_product_categories ul.product-categories > li ul.children {
  padding-left: 20px;
}
.commerce.widget_product_categories ul.product-categories > li ul.children li {
  border: none;
  padding: 5px 0;
}
.commerce.widget_product_categories ul.product-categories > li ul.children li:last-child {
  padding-bottom: 0;
}
.commerce.widget_product_search input[name="s"] {
  display: block;
  width: 100%;
  line-height: 1.7;
  background-color: transparent;
  background-image: none;
  border: 1px solid #343434;
  border-radius: 0;
  font-style: italic;
  letter-spacing: 0.5px;
  margin: 0 0 30px;
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  color: #555555;
}
.commerce.widget_product_search input[name="s"]:focus {
  outline: 0;
  background: #3c3c3c;
  border-bottom: 1px solid #3c3c3c;
}
.commerce.widget_product_search input[name="s"]:focus::-moz-placeholder {
  color: #ffffff;
  opacity: 1;
}
.commerce.widget_product_search input[name="s"]:focus:-ms-input-placeholder {
  color: #ffffff;
}
.commerce.widget_product_search input[name="s"]:focus::-webkit-input-placeholder {
  color: #ffffff;
}
.commerce.widget_product_search input[name="s"]::-moz-placeholder {
  color: rgba(68, 73, 75, 0.5);
  opacity: 1;
}
.commerce.widget_product_search input[name="s"]:-ms-input-placeholder {
  color: rgba(68, 73, 75, 0.5);
}
.commerce.widget_product_search input[name="s"]::-webkit-input-placeholder {
  color: rgba(68, 73, 75, 0.5);
}
.commerce.widget_product_search input[name="s"][disabled],
.commerce.widget_product_search input[name="s"][readonly],
fieldset[disabled] .commerce.widget_product_search input[name="s"] {
  cursor: not-allowed;
  background-color: #cecfd0;
  opacity: 1;
}
textarea.commerce.widget_product_search input[name="s"] {
  height: auto;
}
.commerce.widget_product_search input[type="submit"],
.commerce.widget_product_search #searchsubmit,
.commerce.widget_product_search .screen-reader-text {
  display: none;
}
.commerce.widget_shopping_cart .total,
.commerce .widget_shopping_cart .total {
  border-top: 1px solid #262626;
  padding: 4px 0 0;
  color: #ffffff;
}
.commerce.widget_shopping_cart .total strong,
.commerce .widget_shopping_cart .total strong {
  min-width: 40px;
  display: inline-block;
}
.commerce.widget_shopping_cart .buttons:before,
.commerce .widget_shopping_cart .buttons:before,
.commerce.widget_shopping_cart .buttons:after,
.commerce .widget_shopping_cart .buttons:after {
  content: " ";
  display: table;
}
.commerce.widget_shopping_cart .buttons:after,
.commerce .widget_shopping_cart .buttons:after {
  clear: both;
}
.commerce.widget_shopping_cart .buttons .button,
.commerce .widget_shopping_cart .buttons .button {
  display: inline-block;
  margin-bottom: 0;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  border: 0px solid transparent;
  white-space: nowrap;
  font-family: 'Dosis', serif;
  background: #2f2f2f;
  border-bottom: 3px solid #161616;
  padding: 0.625em 1em;
  font-size: 16px;
  line-height: 1.5;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: border-color color 0.2s ease;
  -o-transition: border-color color 0.2s ease;
  transition: border-color color 0.2s ease;
  background-color: #e4e6e6;
  background-image: none;
  font-size: 0.875em;
  -webkit-border-radius: 0;
  border-radius: 0;
  color: #ffffff;
}
.commerce.widget_shopping_cart .buttons .button:hover,
.commerce .widget_shopping_cart .buttons .button:hover,
.commerce.widget_shopping_cart .buttons .button:focus,
.commerce .widget_shopping_cart .buttons .button:focus {
  outline: 0;
  background: #4c4441;
}
.commerce.widget_shopping_cart .buttons .button:hover,
.commerce .widget_shopping_cart .buttons .button:hover {
  background: #ffffff;
  color: #ffffff;
}
.commerce.widget_shopping_cart .buttons .button:after,
.commerce .widget_shopping_cart .buttons .button:after {
  display: none;
}
.commerce .cart-collaterals h2 {
  font-size: 22px;
  font-weight: normal;
}
.commerce .cart-collaterals .shipping_calculator .button {
  display: inline-block;
  margin-bottom: 0;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  border: 0px solid transparent;
  white-space: nowrap;
  font-family: 'Dosis', serif;
  background: #2f2f2f;
  border-bottom: 3px solid #161616;
  padding: 0.625em 1em;
  line-height: 1.5;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: border-color color 0.2s ease;
  -o-transition: border-color color 0.2s ease;
  transition: border-color color 0.2s ease;
  width: 100%;
  float: none;
  display: block;
  background-color: #e4e6e6;
  background-image: none;
  height: 40px;
  padding-left: 40px;
  padding-right: 40px;
  font-size: 16px;
  color: #ffffff;
  -webkit-border-radius: 0;
  border-radius: 0;
}
.commerce .cart-collaterals .shipping_calculator .button:hover,
.commerce .cart-collaterals .shipping_calculator .button:focus {
  outline: 0;
  background: #4c4441;
}
.commerce .cart-collaterals .shipping_calculator .button:hover {
  background-color: #ffffff;
  color: #ffffff;
}
.commerce .cart-collaterals .shipping_calculator .shipping-calculator-button:after {
  font-family: 'WooCommerce';
  speak: none;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  margin-left: 7px;
  content: "\e02e";
}
.commerce .cart-collaterals .cart_totals p {
  margin: 0;
}
.commerce .cart-collaterals .cart_totals p small {
  color: #ffffff;
  font-size: 0.83em;
}
.commerce .cart-collaterals .cart_totals table {
  border-collapse: separate;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  margin: 0 0 6px;
  padding: 0;
}
.commerce .cart-collaterals .cart_totals table tr:first-child th,
.commerce .cart-collaterals .cart_totals table tr:first-child td {
  border-top: 0;
}
.commerce .cart-collaterals .cart_totals table th {
  padding: 6px 12px 0 0;
  width: 25%;
}
.commerce .cart-collaterals .cart_totals table td {
  padding: 6px 0;
}
.commerce .cart-collaterals .cart_totals table td,
.commerce .cart-collaterals .cart_totals table th {
  vertical-align: top;
}
.commerce .cart-collaterals .cart_totals table small {
  display: block;
  color: #ffffff;
}
.commerce .cart-collaterals .cart_totals table select {
  width: 100%;
}
.commerce .cart-collaterals .cart_totals .discount td {
  color: #ffffff;
}
.commerce .cart-collaterals .cart_totals tr td,
.commerce .cart-collaterals .cart_totals tr th {
  border-top: 1px solid #262626;
}
.commerce .cart-collaterals .cart_totals a.button.alt {
  display: inline-block;
}
.commerce .cart-collaterals .cross-sells ul.products li.product {
  margin-top: 0;
}
.commerce form .form-row {
  padding: 3px;
  margin: 0 0 6px;
}
.commerce form .form-row button.button,
.commerce form .form-row input.button {
  display: inline-block;
  margin-bottom: 0;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  border: 0px solid transparent;
  white-space: nowrap;
  font-family: 'Dosis', serif;
  background: #2f2f2f;
  border-bottom: 3px solid #161616;
  padding: 0.625em 1em;
  line-height: 1.5;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: border-color color 0.2s ease;
  -o-transition: border-color color 0.2s ease;
  transition: border-color color 0.2s ease;
  float: none;
  background-color: #e4e6e6;
  background-image: none;
  padding-left: 40px;
  padding-right: 40px;
  font-size: 16px;
  -webkit-border-radius: 0;
  border-radius: 0;
}
.commerce form .form-row button.button:hover,
.commerce form .form-row input.button:hover,
.commerce form .form-row button.button:focus,
.commerce form .form-row input.button:focus {
  outline: 0;
  background: #4c4441;
}
.commerce form .form-row button.button:hover,
.commerce form .form-row input.button:hover {
  background-color: #ffffff;
  color: #ffffff;
}
.commerce form .form-row [placeholder]:focus::-webkit-input-placeholder {
  -webkit-transition: opacity 0.5s 0.5s ease;
  -moz-transition: opacity 0.5s 0.5s ease;
  transition: opacity 0.5s 0.5s ease;
  opacity: 0;
}
.commerce form .form-row label {
  line-height: 2em;
}
.commerce form .form-row label.hidden {
  visibility: hidden;
}
.commerce form .form-row div.inline {
  display: inline;
}
.commerce form .form-row select {
  cursor: pointer;
  margin: 0;
}
.commerce form .form-row .required {
  color: red;
  font-weight: bold;
  border: 0;
}
.commerce form .form-row .input-checkbox {
  display: inline;
  margin: -2px 8px 0 0;
  text-align: center;
  vertical-align: middle;
}
.commerce form .form-row input.input-text,
.commerce form .form-row textarea {
  display: block;
  line-height: 1.7;
  background-color: transparent;
  background-image: none;
  border: 1px solid #343434;
  border-radius: 0;
  font-style: italic;
  letter-spacing: 0.5px;
  margin: 0 0 30px;
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  color: #555555;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  outline: 0;
  height: auto;
}
.commerce form .form-row input.input-text:focus,
.commerce form .form-row textarea:focus {
  outline: 0;
  background: #3c3c3c;
  border-bottom: 1px solid #3c3c3c;
}
.commerce form .form-row input.input-text:focus::-moz-placeholder,
.commerce form .form-row textarea:focus::-moz-placeholder {
  color: #ffffff;
  opacity: 1;
}
.commerce form .form-row input.input-text:focus:-ms-input-placeholder,
.commerce form .form-row textarea:focus:-ms-input-placeholder {
  color: #ffffff;
}
.commerce form .form-row input.input-text:focus::-webkit-input-placeholder,
.commerce form .form-row textarea:focus::-webkit-input-placeholder {
  color: #ffffff;
}
.commerce form .form-row input.input-text::-moz-placeholder,
.commerce form .form-row textarea::-moz-placeholder {
  color: rgba(68, 73, 75, 0.5);
  opacity: 1;
}
.commerce form .form-row input.input-text:-ms-input-placeholder,
.commerce form .form-row textarea:-ms-input-placeholder {
  color: rgba(68, 73, 75, 0.5);
}
.commerce form .form-row input.input-text::-webkit-input-placeholder,
.commerce form .form-row textarea::-webkit-input-placeholder {
  color: rgba(68, 73, 75, 0.5);
}
.commerce form .form-row input.input-text[disabled],
.commerce form .form-row textarea[disabled],
.commerce form .form-row input.input-text[readonly],
.commerce form .form-row textarea[readonly],
fieldset[disabled] .commerce form .form-row input.input-text,
fieldset[disabled] .commerce form .form-row textarea {
  cursor: not-allowed;
  background-color: #cecfd0;
  opacity: 1;
}
textarea.commerce form .form-row input.input-text,
textarea.commerce form .form-row textarea {
  height: auto;
}
.commerce form .form-row textarea {
  height: 4em;
  line-height: 1.5em;
  display: block;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  height: auto;
}
.commerce form .form-row.validate-required.commerce-invalid .chosen-single,
.commerce form .form-row.validate-required.commerce-invalid .chosen-drop,
.commerce form .form-row.validate-required.commerce-invalid input.input-text,
.commerce form .form-row.validate-required.commerce-invalid select {
  border-color: #fb7f88;
}
.commerce form .form-row ::-webkit-input-placeholder {
  line-height: normal;
}
.commerce form .form-row :-moz-placeholder {
  line-height: normal;
}
.commerce form .form-row :-ms-input-placeholder {
  line-height: normal;
}
.commerce form .form-row .chosen-container-single .chosen-single {
  height: 40px;
  line-height: 40px;
  background: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.commerce form .form-row .chosen-container-single .chosen-single div b {
  background-position: 0 10px !important;
}
.commerce form .form-row .chosen-container-single .chosen-drop {
  background: transparent;
  color: #555555;
}
.commerce ul#shipping_method {
  list-style: none outside;
  margin: 0;
  padding: 0;
}
.commerce ul#shipping_method li {
  margin: 0;
  padding: .25em 0 .25em 22px;
  text-indent: -22px;
  list-style: none outside;
}
.commerce ul#shipping_method .amount {
  font-weight: bold;
}
.commerce p.commerce-shipping-contents {
  margin: 0;
}
.commerce .checkout .h3 {
  font-size: 22px;
  font-weight: normal;
}
.commerce .checkout .col-2 h3#ship-to-different-address label {
  display: inline-block;
  vertical-align: middle;
  padding-left: 0;
}
.commerce .checkout .col-2 .notes {
  clear: left;
}
.commerce .checkout .col-2 .form-row-first {
  clear: left;
}
.commerce .checkout .create-account small {
  font-size: 11px;
  color: #ffffff;
  line-height: 13px;
  font-weight: normal;
}
.commerce .checkout div.shipping-address {
  padding: 0;
  clear: left;
  width: 100%;
}
.commerce .checkout .shipping_address {
  clear: both;
}
.commerce #payment ul.payment_methods {
  text-align: left;
  padding: 0 0 25px 0;
  border-bottom: 0;
  margin: 0;
  list-style: none outside;
}
.commerce #payment ul.payment_methods:before,
.commerce #payment ul.payment_methods:after {
  content: " ";
  display: table;
}
.commerce #payment ul.payment_methods:after {
  clear: both;
}
.commerce #payment ul.payment_methods li {
  line-height: 2em;
  text-align: left;
  margin: 20px 0;
  font-weight: normal;
}
.commerce #payment ul.payment_methods li input {
  margin: 0 1em 0 0;
}
.commerce #payment ul.payment_methods li img {
  vertical-align: middle;
  margin: -2px 0 0 0.5em;
  position: relative;
}
.commerce #payment div.form-row {
  padding: 1em;
  border-top: 1px solid #262626;
}
.commerce #payment div.payment_box {
  position: relative;
  width: 96%;
  padding: 1em 2%;
  margin: 1em 0 1em 0;
  font-size: 0.92em;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  line-height: 1.5em;
  background-color: #f7f7f7;
  color: #777777;
}
.commerce #payment div.payment_box input.input-text,
.commerce #payment div.payment_box textarea {
  border-color: #262626;
  border-top-color: #0c0c0c;
  -webkit-box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.4);
  box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.4);
}
.commerce #payment div.payment_box .wc-credit-card-form-card-number,
.commerce #payment div.payment_box .wc-credit-card-form-card-expiry,
.commerce #payment div.payment_box .wc-credit-card-form-card-cvc {
  font-size: 1.5em;
  padding: 8px;
  background-repeat: no-repeat;
  background-position: right;
}
.commerce #payment div.payment_box .wc-credit-card-form-card-number.visa,
.commerce #payment div.payment_box .wc-credit-card-form-card-expiry.visa,
.commerce #payment div.payment_box .wc-credit-card-form-card-cvc.visa {
  background-image: url(../images/icons/credit-cards/visa.html);
}
.commerce #payment div.payment_box .wc-credit-card-form-card-number.mastercard,
.commerce #payment div.payment_box .wc-credit-card-form-card-expiry.mastercard,
.commerce #payment div.payment_box .wc-credit-card-form-card-cvc.mastercard {
  background-image: url(../images/icons/credit-cards/mastercard.html);
}
.commerce #payment div.payment_box .wc-credit-card-form-card-number.laser,
.commerce #payment div.payment_box .wc-credit-card-form-card-expiry.laser,
.commerce #payment div.payment_box .wc-credit-card-form-card-cvc.laser {
  background-image: url(../images/icons/credit-cards/laser.html);
}
.commerce #payment div.payment_box .wc-credit-card-form-card-number.dinersclub,
.commerce #payment div.payment_box .wc-credit-card-form-card-expiry.dinersclub,
.commerce #payment div.payment_box .wc-credit-card-form-card-cvc.dinersclub {
  background-image: url(../images/icons/credit-cards/diners.html);
}
.commerce #payment div.payment_box .wc-credit-card-form-card-number.maestro,
.commerce #payment div.payment_box .wc-credit-card-form-card-expiry.maestro,
.commerce #payment div.payment_box .wc-credit-card-form-card-cvc.maestro {
  background-image: url(../images/icons/credit-cards/maestro.html);
}
.commerce #payment div.payment_box .wc-credit-card-form-card-number.jcb,
.commerce #payment div.payment_box .wc-credit-card-form-card-expiry.jcb,
.commerce #payment div.payment_box .wc-credit-card-form-card-cvc.jcb {
  background-image: url(../images/icons/credit-cards/jcb.html);
}
.commerce #payment div.payment_box .wc-credit-card-form-card-number.amex,
.commerce #payment div.payment_box .wc-credit-card-form-card-expiry.amex,
.commerce #payment div.payment_box .wc-credit-card-form-card-cvc.amex {
  background-image: url(../images/icons/credit-cards/amex.html);
}
.commerce #payment div.payment_box .wc-credit-card-form-card-number.discover,
.commerce #payment div.payment_box .wc-credit-card-form-card-expiry.discover,
.commerce #payment div.payment_box .wc-credit-card-form-card-cvc.discover {
  background-image: url(../images/icons/credit-cards/discover.html);
}
.commerce #payment div.payment_box span.help {
  font-size: 11px;
  color: #ffffff;
  line-height: 13px;
  font-weight: normal;
}
.commerce #payment div.payment_box .form-row {
  margin: 0 0 1em;
}
.commerce #payment div.payment_box p:last-child {
  margin-bottom: 0;
}
.commerce #payment div.payment_box:after {
  content: "";
  display: block;
  border: 8px solid #323232;
  /* arrow size / color */
  border-right-color: transparent;
  border-left-color: transparent;
  border-top-color: transparent;
  position: absolute;
  top: -1px;
  left: 0;
  margin: -1em 0 0 2em;
}
.commerce .order_details {
  margin: 0 0 1.5em;
  list-style: none;
}
.commerce .order_details:before,
.commerce .order_details:after {
  content: " ";
  display: table;
}
.commerce .order_details:after {
  clear: both;
}
.commerce .order_details li {
  float: left;
  margin-right: 2em;
  text-transform: uppercase;
  font-size: 0.715em;
  line-height: 1em;
  border-right: 1px dashed #262626;
  padding-right: 2em;
}
.commerce .order_details li strong {
  display: block;
  font-size: 1.4em;
  text-transform: none;
  line-height: 1.5em;
}
.commerce .order_details li:last-of-type {
  border: none;
}
.commerce .addresses .title:before,
.commerce .addresses .title:after {
  content: " ";
  display: table;
}
.commerce .addresses .title:after {
  clear: both;
}
.commerce .addresses .title h3 {
  float: left;
}
.commerce .addresses .title .edit {
  float: right;
}
.commerce ol.commentlist.notes li.note p.meta {
  font-weight: bold;
  margin-bottom: 0;
}
.commerce ol.commentlist.notes li.note .description p:last-child {
  margin-bottom: 0;
}
.commerce ul.digital-downloads {
  margin-left: 0;
  padding-left: 0;
}
.commerce ul.digital-downloads li {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}
.commerce ul.digital-downloads li:before {
  font-family: 'WooCommerce';
  speak: none;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  margin-right: 7px;
  content: "\e00a";
}
.commerce ul.digital-downloads li .count {
  float: right;
}
.commerce .widget_layered_nav ul {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none outside;
}
.commerce .widget_layered_nav ul li {
  padding: 0 0 1px;
  list-style: none;
}
.commerce .widget_layered_nav ul li:before,
.commerce .widget_layered_nav ul li:after {
  content: " ";
  display: table;
}
.commerce .widget_layered_nav ul li:after {
  clear: both;
}
.commerce .widget_layered_nav ul li a,
.commerce .widget_layered_nav ul li span {
  padding: 1px 0;
  float: left;
}
.commerce .widget_layered_nav ul li.chosen a {
  text-decoration: none;
  background: #ffffff;
  color: #ffffff;
  font-size: 0.875em;
  padding: 0.375em 0.75em;
}
.commerce .widget_layered_nav ul li.chosen a:before {
  font-family: 'WooCommerce';
  speak: none;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  margin-right: 7px;
  content: "\e013";
}
.commerce .widget_layered_nav ul li.chosen a:hover {
  color: #fff;
  background: #d91f26;
}
.commerce .widget_layered_nav ul small.count {
  float: right;
  margin-left: 6px;
  font-size: 1em;
  padding: 1px 0;
  color: #ffffff;
}
.commerce .widget_layered_nav_filters ul {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none outside;
  overflow: hidden;
  zoom: 1;
}
.commerce .widget_layered_nav_filters ul li {
  float: left;
  padding: 0 1px 1px 0;
  list-style: none;
  border: none;
}
.commerce .widget_layered_nav_filters ul li a {
  text-decoration: none;
  display: inline-block;
  margin-bottom: 0;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  border: 0px solid transparent;
  white-space: nowrap;
  font-family: 'Dosis', serif;
  background: #2f2f2f;
  border-bottom: 3px solid #161616;
  padding: 0.625em 1em;
  font-size: 16px;
  line-height: 1.5;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: border-color color 0.2s ease;
  -o-transition: border-color color 0.2s ease;
  transition: border-color color 0.2s ease;
  background-color: #ffffff;
  background-image: none;
  font-size: 0.875em;
  -webkit-border-radius: 0;
  border-radius: 0;
  color: #ffffff;
}
.commerce .widget_layered_nav_filters ul li a:hover,
.commerce .widget_layered_nav_filters ul li a:focus {
  outline: 0;
  background: #4c4441;
}
.commerce .widget_layered_nav_filters ul li a:hover {
  background: #ffffff;
  color: #ffffff;
}
.commerce .widget_layered_nav_filters ul li a:before {
  font-family: 'WooCommerce';
  speak: none;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  margin-right: 7px;
  content: "\e013";
}
.commerce .widget_price_filter .price_slider {
  margin-bottom: 1em;
}
.commerce .widget_price_filter .price_slider_amount {
  text-align: right;
  font-size: 16px;
  color: #ffffff;
}
.commerce .widget_price_filter .price_slider_amount .button {
  display: inline-block;
  margin-bottom: 0;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  border: 0px solid transparent;
  white-space: nowrap;
  font-family: 'Dosis', serif;
  background: #2f2f2f;
  border-bottom: 3px solid #161616;
  padding: 0.625em 1em;
  font-size: 16px;
  line-height: 1.5;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: border-color color 0.2s ease;
  -o-transition: border-color color 0.2s ease;
  transition: border-color color 0.2s ease;
  background-color: #e4e6e6;
  background-image: none;
  font-size: 0.875em;
  -webkit-border-radius: 0;
  border-radius: 0;
  color: #ffffff;
}
.commerce .widget_price_filter .price_slider_amount .button:hover,
.commerce .widget_price_filter .price_slider_amount .button:focus {
  outline: 0;
  background: #4c4441;
}
.commerce .widget_price_filter .price_slider_amount .button:hover {
  background: #ffffff;
  color: #ffffff;
}
.commerce .widget_price_filter .price_slider_amount .button {
  float: left;
}
.commerce .widget_price_filter .ui-slider {
  position: relative;
  text-align: left;
}
.commerce .widget_price_filter .ui-slider .ui-slider-handle {
  position: absolute;
  z-index: 2;
  width: 1em;
  height: 1em;
  cursor: pointer;
  outline: none;
  top: -0.2em;
  background: #e8e8e8;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
.commerce .widget_price_filter .ui-slider .ui-slider-handle:last-child {
  margin-left: -1em;
}
.commerce .widget_price_filter .ui-slider .ui-slider-range {
  position: absolute;
  z-index: 1;
  font-size: .7em;
  display: block;
  border: 0;
  background: #d91f26;
}
.commerce .widget_price_filter .price_slider_wrapper .ui-widget-content {
  background: rgba(112, 105, 103, 0.3);
}
.commerce .widget_price_filter .ui-slider-horizontal {
  height: .5em;
}
.commerce .widget_price_filter .ui-slider-horizontal .ui-slider-range {
  top: 0;
  height: 100%;
}
.commerce .widget_price_filter .ui-slider-horizontal .ui-slider-range-min {
  left: -1px;
}
.commerce .widget_price_filter .ui-slider-horizontal .ui-slider-range-max {
  right: -1px;
}
.mobile-minicart-icon {
  position: relative;
  float: right;
  font-size: 25px;
  height: 100px;
  display: table;
  padding: 0 15px;
  border-radius: 3px;
  background-image: none;
  cursor: pointer;
}
.mobile-minicart-icon:hover {
  text-decoration: none;
}
@media (min-width: 992px) {
  .mobile-minicart-icon {
    display: none;
  }
}
.navbar .navbar-header .mobile-minicart-icon {
  background: none;
  min-width: 25px;
  min-height: 25px;
  color: #ffffff;
}
.navbar .navbar-header .mobile-minicart-icon:hover,
.navbar .navbar-header .mobile-minicart-icon:focus {
  color: #d9d9d9;
}
.navbar .navbar-header .mobile-minicart-icon span {
  display: inline-block;
  font-size: 14px;
  font-weight: 600;
  line-height: 1;
  vertical-align: bottom;
}
@media (max-width: 991px) {
  .navbar .navbar-header .mobile-minicart-icon {
    display: table;
  }
  .navbar .navbar-header .mobile-minicart-icon .fa {
    display: table-cell;
    vertical-align: middle;
  }
}
.noo-menu-item-cart {
  position: relative;
}
@media (max-width: 991px) {
  .noo-menu-item-cart {
    display: none !important;
  }
}
.noo-menu-item-cart .cart-item {
  position: relative;
}
.noo-menu-item-cart .cart-item span {
  font-size: 90%;
  position: absolute;
  color: #ffffff;
  right: -10px;
  top: -6px;
  line-height: 1;
}
.noo-menu-item-cart .noo-minicart {
  display: none;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border-style: solid;
  border-width: 1px;
  z-index: 9999;
  position: absolute;
  border-color: #ddd;
  width: 300px;
  right: 0px;
  -webkit-box-shadow: 2px 2px 3px rgba(102, 102, 102, 0.1);
  box-shadow: 2px 2px 3px rgba(102, 102, 102, 0.1);
  background: #fff;
  top: 100%;
}
.noo-menu-item-cart .noo-minicart:before {
  position: absolute;
  display: block;
  content: "";
  top: -8px;
  right: 20px;
  width: 14px;
  height: 14px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  border-top: 1px solid #ddd;
  border-left: 1px solid #ddd;
  background: #fff;
}
.noo-menu-item-cart .noo-minicart .minicart-header {
  font-size: 0.875em;
  text-transform: uppercase;
  color: #ffffff;
  padding: 10px;
  border-bottom: 1px solid #ddd;
  font-weight: normal;
}
.noo-menu-item-cart .noo-minicart .minicart-body {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}
.noo-menu-item-cart .noo-minicart .minicart-body .cart-product {
  padding-bottom: 5px;
  margin-bottom: 5px;
  border-bottom: 1px solid #ddd;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  overflow: hidden;
  position: relative;
}
.noo-menu-item-cart .noo-minicart .minicart-body .cart-product.cart-product-remove {
  height: 0;
  padding: 0;
  margin: 0;
  border: none;
}
.noo-menu-item-cart .noo-minicart .minicart-body .cart-product:last-child {
  padding-bottom: 0;
  margin-bottom: 0;
  border-bottom: none;
}
.noo-menu-item-cart .noo-minicart .minicart-body .cart-product .cart-product-image {
  float: left;
  margin-right: 5px;
}
.noo-menu-item-cart .noo-minicart .minicart-body .cart-product .cart-product-image img {
  max-width: 60px;
  max-height: 60px;
}
.noo-menu-item-cart .noo-minicart .minicart-body .cart-product .cart-product-details {
  float: left;
  font-size: 0.875em;
}
.noo-menu-item-cart .noo-minicart .minicart-body .cart-product .cart-product-details .cart-product-title {
  font-weight: bold;
}
.noo-menu-item-cart .noo-minicart .minicart-body .cart-product .remove {
  position: absolute;
  top: 0;
  right: 0;
  border: 1px solid #ddd;
  color: #ffffff;
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
}
.noo-menu-item-cart .noo-minicart .minicart-body .cart-product .remove:hover {
  opacity: 0.9;
  filter: alpha(opacity=90);
}
.noo-menu-item-cart .noo-minicart .minicart-footer {
  padding: 10px;
}
.noo-menu-item-cart .noo-minicart .minicart-footer .minicart-total {
  font-size: 0.875em;
  text-transform: uppercase;
  color: #ffffff;
  padding: 0 10px 10px;
  text-align: center;
  font-weight: normal;
}
.noo-menu-item-cart .noo-minicart .minicart-footer .minicart-actions {
  text-align: center;
}
.noo-menu-item-cart .noo-minicart .minicart-footer .minicart-actions.empty {
  text-align: left;
}
.noo-menu-item-cart .noo-minicart .minicart-footer .minicart-actions .button {
  display: inline-block;
  margin-bottom: 0;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  border: 0px solid transparent;
  white-space: nowrap;
  font-family: 'Dosis', serif;
  background: #2f2f2f;
  border-bottom: 3px solid #161616;
  padding: 0.625em 1em;
  font-size: 16px;
  line-height: 1.5;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: border-color color 0.2s ease;
  -o-transition: border-color color 0.2s ease;
  transition: border-color color 0.2s ease;
  float: none;
  background-color: #e4e6e6;
  background-image: none;
  font-size: 0.875em;
  -webkit-border-radius: 0;
  border-radius: 0;
  color: #ffffff;
}
.noo-menu-item-cart .noo-minicart .minicart-footer .minicart-actions .button:hover,
.noo-menu-item-cart .noo-minicart .minicart-footer .minicart-actions .button:focus {
  outline: 0;
  background: #4c4441;
}
.noo-menu-item-cart .noo-minicart .minicart-footer .minicart-actions .button:hover {
  background: #ffffff;
  color: #ffffff;
}
.noo-menu-item-cart .noo-minicart .minicart-footer .minicart-actions .button.checkout-button {
  margin-left: 10px;
  background: #ffffff;
  color: #ffffff;
}
.noo-menu-item-cart .noo-minicart .minicart-footer .minicart-actions .button.checkout-button:hover {
  background-color: #ffffff;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .commerce a.button.loading:before,
  .commerce button.button.loading:before,
  .commerce input.button.loading:before,
  .commerce #respond input#submit.loading:before,
  .commerce #content input.button.loading:before {
    background-image: url(../images/ajax-loader%402x.html);
    background-size: 16px 16px;
  }
}
