
body.app {
    margin: 0;
    padding-bottom: 0!important;
}

body.app *:not(i) {
    font-family: "Raleway", 'Open Sans', Arial, sans-serif!important;
}

.app h1, .app h2, .app h3, .app h4, .app h5, .app h6 {
    font-family: "Raleway", "Open Sans", Arial, sans-serif;
}

/*  ####### Sistema de GRID ############### */
.app .app-md-1, .app .app-md-2, .app .app-md-3, .app .app-md-4, .app .app-md-5, .app .app-md-6,
.app .app-md-7, .app .app-md-8, .app .app-md-9, .app .app-md-10, .app .app-md-11, .app .app-md-12 {
    position: relative;
    min-height: 1px;
    padding: 0 10px;
}

@media (min-width:640px) and (max-width: 768px) {
    .app .app-md-1, .app .app-md-2, .app .app-md-3, .app .app-md-4, .app .app-md-5, .app .app-md-6,
    .app .app-md-7, .app .app-md-8, .app .app-md-9, .app .app-md-10, .app .app-md-11, .app .app-md-12 {
        float: left;
    }

    .app .app-md-1 {
        width: 8.3333333%;
    }

    .app .app-md-2 {
        width: 16.6666667%;
    }

    .app .app-md-3 {
        width: 25%;
    }

    .app .app-md-4 {
        width: 33.3333333%;
    }

    .app .app-md-5 {
        width: 41.6666667%;
    }

    .app .app-md-6 {
        width: 50%;
    }

    .app .app-md-7 {
        width: 58.3333333%;
    }

    .app .app-md-8 {
        width: 66.6666667%;
    }

    .app .app-md-9 {
        width: 75%
    }

    .app .app-md-10 {
        width: 83.3333333%
    }

    .app .app-md-11 {
        width: 91.6666667%
    }

    .app .app-md-12 {
        width: 100%
    }
}

.loading {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(255, 255, 255, 1) url(/public/img/loading.gif) 50% 40% no-repeat;
}

.loading p {
    margin-top: 140px;
    font-size: 50px;
    color: #f42434;
    font-weight: 600;
}

.loading p span {
    color: #404040;
}

.loading-ajax {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(255, 255, 255, 0.75) url(/public/img/ajax-loader.gif) 50% 40% no-repeat;
    background-size: 200px 200px;
}

.app .img-bg {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    transform: translate3d(0px, 0px, 0px);
    -webkit-transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
    -webkit-perspective: 1000px;
}

.app .wrap-titulo {
    border-bottom: 4px solid red;
    margin-bottom: 35px;
}

.app .wrap-titulo .titulo {
    height: 35px;
    text-align: center;
    line-height: 1.4;
    font-weight: 600;
    background-color: red;
    color: #fff;
}

/** noticia **/

.app .pg-header {
    position: relative;
    padding: 24vh 0 28vh 0;
    transition: padding 1.5s ease-out;
    text-align: center;
    background: #000;
}

.app .pg-header .qt-header-imagem {
    background-position: center 20px;
    backface-visibility: hidden;
    opacity: 0.55;
    background-attachment: fixed;
    -webkit-transition: opacity 0.8s;
    transition: opacity 0.8s;
    -webkit-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
    -webkit-backface-visibility: hidden;
}

.app .pg-header .qt-container {
    width: 90%;
    max-width: 1170px;
    position: relative;
    margin: 0 auto;
    clear: both;
    z-index: 2;
}

.app .pg-header .qt-container h1 {
    padding: 0 130px;
    font-size: 4rem;
    font-weight: 600;
    letter-spacing: 0.05em;
    text-align: center;
    color: #fff;
}

.app .pg-header .qt-container .qt-subtitle {
    margin-top: 20px;
    font-size: 22px;
    font-weight: 600;
    color: #fff !important;
}

.app .pg-header .qt-container .qt-subtitle span {
    color: #dd0e34;
}

.app .item-noticia {
    height: 470px;
    position: relative;
    display: block;
    margin: 0 auto;
    z-index: 1;
}

.app .item-noticia .img-bg {
    z-index: -1;
}

.app .item-noticia .descricao-noticia {
    height: 100%;
    background: #00000069;
    z-index: 1;
    color: #fff;
    font-weight: 700;
}

.app .item-noticia .descricao-noticia .descricao-header {
    width: 100%;
    height: 50px;
    padding: 6px 0;
}

.app .item-noticia .descricao-noticia .descricao-header > div {
    width: 65px;
    height: 100%;
    display: flex;
    float: right;
    line-height: 3.0;
}

.app .item-noticia .descricao-noticia .descricao-header > div i {
    line-height: 1.3;
}

.app .item-noticia .descricao-noticia .descricao {
    height: 75%;
    padding: 25% 16% 0 16%;
}

.app .item-noticia .descricao-noticia .descricao h3 {
    text-align: center;
    font-size: 30px;
}

.app .item-noticia .descricao-noticia .descricao-rodape {
    height: 14.5%;
    padding-top: 17px;
    text-align: center;
}

.app .item-noticia .descricao-noticia .descricao-rodape .btn-noticia {
    width: 50px;
    height: 50px;
    background-color: red;
    cursor: pointer;
}

.app .item-noticia .descricao-noticia .descricao-rodape .btn-noticia i {
    line-height: 1.8;
}

.app .item-noticia .descricao-noticia .descricao-rodape .data {
    height: 100%;
    padding-top: 7px;
    padding-left: 12px;
    font-size: 13px;
}

.app .item-noticia .descricao-noticia .descricao-rodape .data span {
    display: block;
    color: #cecece;
}

@media screen and (max-width: 1024px) {
    .app .item-noticia {
        height: 300px;
    }

    .app .item-noticia .descricao-noticia .descricao {
        height: 68.5%;
        padding: 12% 6% 0 6%;
    }

    .app .item-noticia .descricao-noticia .descricao h3 {
        font-size: 24px;
    }

    .app .item-noticia .descricao-noticia .descricao-rodape {
        height: 13.5%;
        padding-top: 0;
    }

    .app .item-noticia .descricao-noticia .descricao-rodape .data {
        padding-top: 2px;
    }

    .app .item-noticia .descricao-noticia .descricao-rodape .btn-noticia {
        width: 40px;
        height: 40px;
    }

    .app .item-noticia .descricao-noticia .descricao-rodape .btn-noticia i {
        line-height: 1.4;
    }
}

@media screen and (max-width: 768px) {
    .app .item-noticia {
        height: 285px;
    }

    .app .item-noticia .descricao-noticia .descricao h3 {
        font-size: 28px;
    }

    .app .pg-header .qt-container h1 {
        padding: 0 30px;
    }
}

@media screen and (max-width: 480px) {
    .app .pg-header .qt-container h1 {
        padding: 0;
    }
}

/** end noticia **/

/** Ultimas Notícias **/

.app .ultimas-noticias {
    width: 100%;
}

.app .ultimas-noticias .post {
    display: block;
    padding-bottom: 10px;
    overflow: hidden;
    border-bottom: 1px solid #cecece;
}

.app .ultimas-noticias .post > * {
    display: inline;
}

.app .ultimas-noticias .post img {
    width: 60px;
    height: 45px;
    margin-right: 10px;
}

.app .ultimas-noticias .post .descricao {
    float: right;
    width: 190px;
    font-size: 15px;
    font-weight: 500;
    color: #64c9d9;
}

@media screen and (max-width: 480px) {
    .app .ultimas-noticias .post .descricao {
        width: 145px;
    }
}
app-table
    /** End Ultimas Notícias **/

    /** No Ar **/

.app .agora-no-ar {
    overflow: hidden;
    background: #fff;
    box-shadow: 0 5px 0 rgba(0, 0, 0, 0.1);
}

.app .agora-no-ar img {
    width: 100%;
}

.app .agora-no-ar .descricao-programa {
    padding: 40px 20px;
    font-size: 20px;
    color: #eb005a;
}

/** End No Ar **/

/**********************************
********** Input  *****************
***********************************/
.app input,
.app textarea {
    border-radius: 0;
}

.app textarea {
    height: 80px;
}

.app input:focus,
.app textarea:focus {
    border-color: #bbb;
    box-shadow: 0 0 2px #c9c9c9;
}

.app input:disabled,
.app textarea:disabled {
    background-color: #fff;
    opacity: .5;
}

.app input.required,
.app textarea.required,
.app select.required {
    border: solid red 1px;
}

.app .validate {
    position: absolute;
    padding-left: 5px;
    padding-top: 4px;
    display: none;
    font-size: 12px;
    color: red;
}

.app .note {
    margin-top: 6px;
    padding: 0 1px;
    font-size: 11px;
    line-height: 15px;
    color: #999;
}

.app .input-file {
    position: relative;
    display: block;
    font-weight: 400;
}

.app .input-file .button-file {
    position: absolute;
    top: 6px;
    right: 8px;
    float: none;
    height: 22px;
    margin: 0;
    padding: 0 14px;
    font-size: 13px;
    line-height: 22px;
    background-color: #3276B1;
    opacity: .8;
    outline: 0;
    border: 0;
    text-decoration: none;
    color: #fff;
    cursor: pointer;
}

.app .input-file .button-file input {
    width: 90px;
    position: absolute;
    top: 0;
    right: 0;
    padding: 0;
    font-size: 30px;
    cursor: pointer;
    opacity: 0;
}

/**********************************
********** Select *****************
***********************************/
.app select {
    border-radius: 0;
}

.app select:focus {
    border-color: #bbb;
    box-shadow: 0 0 2px #c9c9c9;
}


/**********************************
********** Label *****************
***********************************/
.app label {
    margin-bottom: 7px;
    font-weight: 500;
    color: #666;
}

/**********************************
********** form *****************
***********************************/

.app .form-group-inline {
    display: block;
    overflow: hidden;
}

.app .form-group-inline > div {
    width: auto;
}

@media screen and (min-width: 769px) {
    .app .form-group-inline .fg-10, .app .form-group-inline .fg-15,
    .app .form-group-inline .fg-20, .app .form-group-inline .fg-30,
    .app .form-group-inline .fg-40, .app .form-group-inline .fg-50,
    .app .form-group-inline .fg-60, .app .form-group-inline .fg-70,
    .app .form-group-inline .fg-75, .app .form-group-inline .fg-80 {
        float: left;
    }

    .app .form-group-inline .fg-10 {
        width: 10%;
    }

    .app .form-group-inline .fg-15 {
        width: 15%;
    }

    .app .form-group-inline .fg-20 {
        width: 20%;
    }

    .app .form-group-inline .fg-30 {
        width: 30%;
    }

    .app .form-group-inline .fg-40 {
        width: 40%;
    }

    .app .form-group-inline .fg-50 {
        width: 50%;
    }

    .app .form-group-inline .fg-60 {
        width: 60%;
    }

    .app .form-group-inline .fg-70 {
        width: 70%;
    }

    .app .form-group-inline .fg-75 {
        width: 75%;
    }

    .app .form-group-inline .fg-80 {
        width: 80%;
    }
}

@media screen and (max-width: 768px) {
    .app .form-group-inline .fgmd-10, .app .form-group-inline .fgmd-15,
    .app .form-group-inline .fgmd-20, .app .form-group-inline .fgmd-30,
    .app .form-group-inline .fgmd-40, .app .form-group-inline .fgmd-50,
    .app .form-group-inline .fgmd-60, .app .form-group-inline .fgmd-70,
    .app .form-group-inline .fgmd-75, .app .form-group-inline .fgmd-80,
    .app .form-group-inline .fgmd-100 {
        float: left;
    }

    .app .form-group-inline .fgmd-10 {
        width: 10%;
    }

    .app .form-group-inline .fgmd-15 {
        width: 15%;
    }

    .app .form-group-inline .fgmd-20 {
        width: 20%;
    }

    .app .form-group-inline .fgmd-30 {
        width: 30%;
    }

    .app .form-group-inline .fgmd-40 {
        width: 40%;
    }

    .app .form-group-inline .fgmd-50 {
        width: 50%;
    }

    .app .form-group-inline .fgmd-60 {
        width: 60%;
    }

    .app .form-group-inline .fgmd-70 {
        width: 70%;
    }

    .app .form-group-inline .fgmd-75 {
        width: 75%;
    }

    .app .form-group-inline .fgmd-80 {
        width: 80%;
    }

    .app .form-group-inline .fgmd-100 {
        width: 100%;
    }
}

@media screen and (max-width: 480px) {
    .app .form-group-inline .fgsm-10, .app .form-group-inline .fgsm-15,
    .app .form-group-inline .fgsm-20, .app .form-group-inline .fgsm-30,
    .app .form-group-inline .fgsm-40, .app .form-group-inline .fgsm-50,
    .app .form-group-inline .fgsm-60, .app .form-group-inline .fgsm-70,
    .app .form-group-inline .fgsm-75, .app .form-group-inline .fgsm-80,
    .app .form-group-inline .fgsm-100 {
        float: left;
    }

    .app .form-group-inline .fgsm-10 {
        width: 10%;
    }

    .app .form-group-inline .fgsm-15 {
        width: 15%;
    }

    .app .form-group-inline .fgsm-20 {
        width: 20%;
    }

    .app .form-group-inline .fgsm-30 {
        width: 30%;
    }

    .app .form-group-inline .fgsm-40 {
        width: 40%;
    }

    .app .form-group-inline .fgsm-50 {
        width: 50%;
    }

    .app .form-group-inline .fgsm-60 {
        width: 60%;
    }

    .app .form-group-inline .fgsm-70 {
        width: 70%;
    }

    .app .form-group-inline .fgsm-75 {
        width: 75%;
    }

    .app .form-group-inline .fgsm-80 {
        width: 80%;
    }

    .app .form-group-inline .fgsm-100 {
        width: 100%;
    }
}

.app .form-group-inline .form-group {
    display: inline-block;
    padding: 0 5px;
}

.app .form-group {
    margin-bottom: 25px;
    padding: 0 5px;
}

.app .form-group .sub-title {
    font-size: 16px;
}

.app .form-group .form-radio {
    height: 60px;
    padding: 4px 30px;
}

.app .form-group .form-radio label:first-child {
    display: block;
}

.app .input-group-icon {
    min-width: 40px;
    padding: 6px 12px;
    display: table-cell;
    color: #bbb;
    background: none;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 0;
    width: 1%;
    vertical-align: middle;
}

.app .input-group-icon.group-icon-left {
    border-right: 0;
}
.app .input-group-icon.group-icon-right {
    border-left: 0;
}

/**********************************
********** Button *****************
***********************************/
.app .btn-app {
    min-width: 80px;
    height: 34px;
    border: 0;
    padding: 0 10px;
    font-size: 14px;
    color: #ffffff;
    box-shadow: #cecece 1px 2px 3px;
    outline: 0;
}

.app .btn-app:hover {
    box-shadow: 2px 3px 9px rgba(0, 0, 0, 0.6);
    transition: all 0.5s ease-in-out;
}

.app .btn-app.btn-app-primary {
    background-color: #0073aa;
}

.app .btn-app.btn-app-primary:hover {
    background-color: #078ccc;
}

/* ####### Margin ################ */

.app .mb-10 {
    margin-bottom: 10px!important;
}

.app .mb-20 {
    margin-bottom: 20px!important;
}

.app .mb-30 {
    margin-bottom: 30px!important;
}

.app .mb-40 {
    margin-bottom: 40px!important;
}

.app .mt-10 {
    margin-top: 10px!important;
}

.app .mt-20 {
    margin-top: 20px!important;
}

.app .mt-40 {
    margin-top: 40px!important;
}

.app .mt-50 {
    margin-top: 50px!important;
}

.app .mr-10 {
    margin-right: 10px!important;
}

.app .ml-10 {
    margin-left: 10px!important;
}

.app .mr-20 {
    margin-right: 20px!important;
}

/* ####### Button ################ */
.app .btn-app {
    color: #ffffff;
    outline: 0;
}

.app .btn-app.btn-red {
    background-color: red;
}

.app .btn-app.btn-red:hover {
    background-color: #d80707;
    color: #fff;
}

/* ####### Modal ################ */

.app .app-modal-header {
    text-align: center;
    color: red;
    font-weight: 700;
}

.app .app-modal-header h4 {
    font-size: 22px;
}

/* ####### Dialog ################ */
.app .dialog-content {
    border-radius: 3px!important;
}

.app .dialog-content .content {
    text-align: center;
}

.app .dialog-content .content .info,
.app .dialog-content .content .success,
.app .dialog-content .content .warning,
.app .dialog-content .content .error {
    display: none;
    overflow: hidden;
}

.app .dialog-content .content .icon {
    margin: 20px auto;
    font-size: 80px;
}

.app .dialog-content .content .message {
    font-size: 21px;
    color: #555;
}

.app .dialog-icon {
    width: 80px;
    height: 80px;
    border: 4px solid gray;
    border-radius: 50%;
    margin: 20px auto;
    position: relative;
    box-sizing: content-box;
}

.app .dialog-error {
    border-color: #FF3B30!important;
}

.app .dialog-x-mark {
    position: relative;
    display: block
}

.app .dialog-sa-line {
    position: absolute;
    height: 5px;
    width: 45px;
    background-color: #d9534f;
    display: block;
    top: 37px;
    border-radius: 2px;
    z-index: 2;
}

.app .dialog-sa-left {
    transform: rotate(45deg);
    left: 17px;
}

.app .dialog-sa-right {
    transform: rotate(-45deg);
    right: 16px;
}

.app .dialog-success {
    border-color: #4CD964!important;
}

.app .dialog-success .dialog-sa-line {
    background-color: #4CD964!important;
}

.app .dialog-success:before {
    border-radius: 120px 0 0 120px;
    top: -14px;
    left: -28px;
    transform: rotate(-45deg)!important;
    transform-origin: 60px 60px;
}

.app .dialog-success:after {
    border-radius: 0 120px 120px 0;
    top: -4px;
    left: 25px;
    transform: rotate(-45deg)!important;
    transform-origin: 0 60px;
}

.app .dialog-success:before, .app .dialog-success:after {
    content: '';
    border-radius: 50%;
    position: absolute;
    width: 66px;
    height: 120px;
    background: #ffffff;
    transform: rotate(45deg);
}


.app .dialog-sa-tip {
    width: 25px;
    left: 14px;
    top: 46px;
    transform: rotate(45deg);
}

.app .dialog-sa-long {
    width: 47px;
    right: 8px;
    top: 38px;
    transform: rotate(-45deg);
}

.app .dialog-sa-placeholder {
    width: 80px;
    height: 80px;
    border: 4px solid rgba(92, 184, 92, 0.2);
    border-radius: 50%;
    box-sizing: content-box;
    position: absolute;
    left: -4px;
    top: -4px;
    z-index: 2;
}

.app .dialog-success .dialog-sa-placeholder {
    border-color: rgba(76,217,100,.2)!important;
}

.app .dialog-sa-fix {
    width: 5px;
    height: 90px;
    background-color: #ffffff;
    position: absolute;
    left: 28px;
    top: 8px;
    z-index: 1;
    transform: rotate(-45deg);
}

/* ####### Nav ################ */

.app nav {
    height: 100%;
}

.app .app-nav {
    height: 100%;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.app .app-nav > li {
    width: 130px;
    height: 100%;
    position: relative;
    display: inline-block;
    text-align: center;
}

.app .app-nav > li a {
    display: block;
    height: 100%;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
}

/* ####### Notificação ################ */

.app .notification {
    margin-bottom: 20px;
    margin-top: 0;
    border-width: 0;
    border-left-width: 5px;
    padding: 10px;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
}

.app .notification > * {
    display: inline-block;
}

.app .notification .btn-close {
    float: right;
    cursor: pointer;
}

.app .notification.warning {
    border: 1px solid #dfb56c;
    border-left-width: 5px;
    color: #826430;
    background-color: #efe1b3;
}

.app .notification.success {
    border: 1px solid #8ac38b;
    border-left-width: 5px;
    color: #356635;
    background-color: #cde0c4;
}

.app .notification.info {
    border: 1px solid #9cb4c5;
    border-left-width: 5px;
    color: #305d8c;
    background-color: #d6dde7;
}

.app .notification.error {
    border: 1px solid #953b39;
    border-left-width: 5px;
    color: #fff;
    background-color: #c26565;
    text-shadow: none;
}

/* ####### carousel ################ */

.app .carousel-control.left,
.app .carousel-control.right {
    width: 50px;
    height: 50px;
    background: red none;
    opacity: 1;
    top: 50%;
}

.app .carousel-control.left i,
.app .carousel-control.right i {
    line-height: 1.3;
}

/** Carousel multi itens **/

.app .wrapper-jcarousel {
    position: relative;
}

.app .wrapper-jcarousel .jcarousel {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.app .wrapper-jcarousel .jcarousel .jcarousel-inner {
    width: 10000em;
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
}

.app .wrapper-jcarousel .jcarousel .jcarousel-inner .item {
    width: 200px;
    float: left;
    border: 1px solid #fff;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
}

/** Carousel Controls **/

.app .wrapper-jcarousel .jcarousel-control-prev,
.app .wrapper-jcarousel .jcarousel-control-next {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 50%;
    background: red none;
    opacity: 1;
    color: #fff;
}

.app .wrapper-jcarousel .jcarousel-control-prev {
    left: -49px;
}

.app .wrapper-jcarousel .jcarousel-control-next {
    right: -49px;
}

.app .jcarousel-control-prev i,
.app .jcarousel-control-next i {
    line-height: 1.8;
    text-align: center;
    width: 100%;
}

/** Carousel Pagination **/

.app .wrapper-jcarousel .jcarousel-pagination {
    position: relative;
    margin: 0;
    text-align: center;
}

.app .wrapper-jcarousel .jcarousel-pagination a {
    text-decoration: none;
    display: inline-block;
    font-size: 11px;
    height: 10px;
    width: 10px;
    line-height: 10px;
    background: #fff;
    color: #4E443C;
    border-radius: 10px;
    text-indent: -9999px;
    margin-right: 7px;
    -webkit-box-shadow: 0 0 2px #4E443C;
    -moz-box-shadow: 0 0 2px #4E443C;
    box-shadow: 0 0 2px #4E443C;
}

.app .wrapper-jcarousel .jcarousel-pagination a.active {
    background: #ff0000;
    color: #f00;
    opacity: 1;
    -webkit-box-shadow: 0 0 2px #F0EFE7;
    -moz-box-shadow: 0 0 2px #F0EFE7;
    box-shadow: 0 0 2px #F0EFE7;
}

.app .app-nav > li a:hover {
    text-decoration: none;
}

/* ####### Sidebar ################ */

.app .wrapper-sidebar {
    display: flex;
    align-items: stretch;
    position: fixed;
    top: 0;
    transition: all 0.3s ease;
    z-index: 9999;
}

.app .wrapper-sidebar.left {
    left: -300px;
}

.app .wrapper-sidebar.right {
    right: -300px;
}

.app .wrapper-sidebar.right.active {
    right: 0;
}

.app .wrapper-sidebar.left.active {
    left: 0;
}

.app .wrapper-sidebar .content-sidebar {
    min-width: 200px;
    max-width: 300px;
    height: 100vh;
    padding: 8px;
    background-color: red;
    color: #fff;
}

/* ####### Sidebar ################ */

.app .app-tabs .app-tab:not(.tab-active) {
    display: none;
}

/* ####### End Sidebar ################ */

/* ####### Table ################ */

.app .app-table {
    width: 100%;
    border: solid 1px #ccc;
}

.app .app-table thead {
    border: solid 1px #ccc;
    font-size: 13px;
}

.app .app-table thead tr {
    height: 30px;
}

.app .app-table thead tr th,
.app .app-table tbody tr td {
    padding: 0 8px;
    border-right: solid 1px #cecece;
}

.app .app-table tbody tr {
    height: 32px;
    border-bottom: 1px solid #ccc;
    background: #fff;
    font-size: 13px;
}

.app .app-table tbody tr.data-row td {
    padding: 10px;
}

.app .app-table tbody tr:nth-of-type(even) {
    background-color: #f9f9f9;
}

.app .app-table .actions {
    display: none;
}

.app .app-table tbody tr td.expand > span {
    width: 20px;
    height: 20px;
    display: none;
    margin-right: 8px;
    vertical-align: -2px;
    cursor: pointer;
}

.app .app-table tbody tr td.expand > span.add-row {
    color: green;
}

.app .app-table tbody tr td.expand > span.remove-row {
    color: red;
}

.app .app-table tbody tr td .table-action {
    border: solid 1px #ccc;
    padding: 2px 5px;
    border-radius: 2px;
    background-color: #fff;
    font-size: 12px;
    outline: none;
    cursor: pointer;
}

.app .app-table tbody tr td .table-action:active {
    position: relative;
    top: 1px;
    left: 1px;
    background-color: #e6e6e6;
    border-color: #adadad;
}

.app .app-table tbody tr td.center {
    text-align: center;
}

.app .app-table tbody tr td.left {
    text-align: left;
}

.app .app-table tbody tr td.right {
    text-align: right;
}

.app .app-table thead tr th.w5 {
    width: 5%;
}

.app .app-table thead tr th.w10 {
    width: 10%;
}

.app .app-table thead tr th.w15 {
    width: 15%;
}

.app .app-table thead tr th.w20 {
    width: 20%;
}

.app .app-table thead tr th.w25 {
    width: 25%;
}

.app .app-table thead tr th.w30 {
    width: 30%;
}

.app .app-table thead tr th.w40 {
    width: 40%;
}

.app .app-table thead tr th.w50 {
    width: 50%;
}

.app .app-table thead tr th.w60 {
    width: 60%;
}

.app .app-table-controle {
    height: 40px;
    float: right;
    margin-right: 15px;
    line-height: 30px;
    font-size: 12px;
}

.app .app-table-controle select {
    padding: 5px 10px;
    border: 1px solid #ccc;
}

.app .table-rodape {
    height: 50px;
    padding: 0 10px;
    margin-bottom: 20px;
    border: solid 1px #ccc;
}

.app .table-rodape .pagination {
    margin: 5px 0;
}

.app .table-rodape .pagination .page {
    display: inline-block;
    width: 30px;
    height: 30px;
    float: left;
    text-align: center;
    line-height: 2.3;
    border: solid 1px #cecece;
    cursor: pointer;
    transition: all 0.9s;
}

.app .table-rodape .pagination .page.active {
    background: #CCCCCC;
}

.app .table-rodape .pagination .page:hover {
    background: #CCCCCC;
}

.app .table-rodape .pagination p {
    margin: 5px 0;
}

@media screen and (max-width: 768px) {
    .app .app-table thead tr th.hide-medium-viewport,
    .app .app-table tbody tr td.hide-medium-viewport {
        display: none;
    }
}

@media screen and (max-width: 640px) {
    .app .app-table thead tr th.hide-small-viewport,
    .app .app-table tbody tr td.hide-small-viewport {
        display: none;
    }
}

@media screen and (max-width: 480px) {
    .app .app-table thead tr th.hide-min-viewport,
    .app .app-table tbody tr td.hide-min-viewport {
        display: none;
    }

    .app .table-rodape .pull-left .pagination {
        width: 118px;
    }
}

/* ####### End Table ################ */

/* OVERLAY */
.app .overlay {
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    z-index: -1;
}

/* Animation */

@-webkit-keyframes pulse-play {
    0% {
        -webkit-box-shadow: 0 0 0 0 rgba(255, 0, 0, 0.4);
    }
    70% {
        -webkit-box-shadow: 0 0 0 20px rgba(255, 0, 0, 0);
    }
    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(255, 0, 0, 0);
    }
}

@keyframes pulse-play {
    0% {
        -moz-box-shadow: 0 0 0 0 rgba(255, 0, 0, 0.4);
        box-shadow: 0 0 0 0 rgba(255, 0, 0, 0.4);
    }
    70% {
        -moz-box-shadow: 0 0 0 20px rgba(255, 0, 0, 0);
        box-shadow: 0 0 0 20px rgba(255, 0, 0, 0);
    }
    100% {
        -moz-box-shadow: 0 0 0 0 rgba(255, 0, 0, 0);
        box-shadow: 0 0 0 0 rgba(255, 0, 0, 0);
    }
}

/* Animation Dialog */

@keyframes animateErrorIcon {
    0% {
        transform: rotateX(100deg);
        opacity: 0;
    }
    100% {
        transform: rotateX(0deg);
        opacity: 1;
    }
}
.animateErrorIcon {
    animation: animateErrorIcon 0.5s;
}

@keyframes animateXMark {
    0% {
        transform: scale(0.4);
        margin-top: 26px;
        opacity: 0;
    }
    50% {
        transform: scale(0.4);
        margin-top: 26px;
        opacity: 0;
    }
    80% {
        transform: scale(1.15);
        margin-top: -6px;
    }
    100% {
        transform: scale(1);
        margin-top: 0;
        opacity: 1;
    }
}
.animateXMark {
    animation: animateXMark 0.5s;
}

@keyframes rotatePlaceholder {
    0% {
        transform: rotate(-45deg);
    }
    5% {
        transform: rotate(-45deg);
    }
    12% {
        transform: rotate(-405deg);
    }
    100% {
        transform: rotate(-405deg);
    }
}

@keyframes animateSuccessTip {
    0% {
        width: 0;
        left: 1px;
        top: 19px;
    }
    54% {
        width: 0;
        left: 1px;
        top: 19px;
    }
    70% {
        width: 50px;
        left: -8px;
        top: 37px;
    }
    84% {
        width: 17px;
        left: 21px;
        top: 48px;
    }
    100% {
        width: 25px;
        left: 14px;
        top: 45px;
    }
}

.animateSuccessTip {
    animation: animateSuccessTip 0.75s;
}

@keyframes animateSuccessLong {
    0% {
        width: 0;
        right: 46px;
        top: 54px;
    }
    65% {
        width: 0;
        right: 46px;
        top: 54px;
    }
    84% {
        width: 55px;
        right: 0;
        top: 35px;
    }
    100% {
        width: 47px;
        right: 8px;
        top: 38px;
    }
}

.animateSuccessLong {
    animation: animateSuccessLong 0.75s;
}


.app .animateSuccess:after {
    animation: rotatePlaceholder 4.25s ease-in;
}

/* Componentes do administrador */

.app .wrapper-admin {
    width: 191px;
    height: 100%;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    align-items: stretch;
    background: #23282d;
    border-right: solid 1px #00000036;
    z-index: 999;
}

.app .content-admin {
    min-height: 100%;
    padding: 0 0 0 191px;
    background: #f1f1f1;
    transition: all 0.5s ease-in-out;
}

.app .content-admin .page-title > h1 {
    font-size: 24px;
    color: #4c4f53;
}

.app .content-admin .widget {
    position: relative;
    overflow: hidden;
}

.app .content-admin .widget .widget-header {
    height: 40px;
    color: #333;
    border: 1px solid #C2C2C2;
    background: #fff;
}

.app .content-admin .widget .widget-header span {
    width: 35px;
    height: 38px;
    position: relative;
    float: left;
    font-size: 15px;
    text-align: center;
}

.app .content-admin .widget .widget-header span i {
    line-height: 2.5;
}

.app .content-admin .widget .widget-header h2 {
    height: 100%;
    width: auto;
    display: inline-block;
    position: relative;
    margin: 0;
    font-size: 14px;
    line-height: 38px;
    font-weight: 400;
    letter-spacing: 0;
}

.app .content-admin .widget .widget-body,
.app .content-admin .widget .widget-rodape {
    width: 100%;
    position: relative;
    float: left;
    margin: 0;
    padding: 13px 13px 0;
    border-width: 1px 1px 2px;
    border-style: solid;
    border-top: none;
    border-right-color: #CCC!important;
    border-bottom-color: #CCC!important;
    border-left-color: #CCC!important;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    overflow: hidden;
    font-size: 13px;
    background-color: #fff!important;
}
.app .content-admin .widget .widget-rodape {

}

.app .content-admin .btn-acoes {
    width: 100%;
    padding: 15px;
    overflow: hidden;
    background: #f1f1f1;
}

/** Auto Complete **/
.app .ui-menu-item:hover {
    background: #3276B1;
}

.app .ui-menu-item-wrapper:hover {
    font-weight: 700;
    color: #fff!important;
}

.app .ui-helper-hidden-accessible, .ui-helper-hidden-accessible > * {
    color: #2a2a2a!important;
}
