.nivo-lightbox-theme-default.nivo-lightbox-overlay {
	background:rgba(0,0,0,0.6);
}

.nivo-lightbox-theme-default .nivo-lightbox-content.nivo-lightbox-loading {
	background:url(../images/loading.gif) no-repeat 50% 50%;
}

.nivo-lightbox-theme-default .nivo-lightbox-nav {
	top:10%;
	width:8%;
	height:80%;
	text-indent:-9999px;
	background-repeat:no-repeat;
	background-position:50% 50%;
	opacity:0.5;
}

.nivo-lightbox-theme-default .nivo-lightbox-nav:hover {
	opacity:1;
	background-color:rgba(0,0,0,0.5);
}

.nivo-lightbox-theme-default .nivo-lightbox-prev {
	background-image:url(../images/prev.png);
	border-radius:0 3px 3px 0;
}

.nivo-lightbox-theme-default .nivo-lightbox-next {
	background-image:url(../images/next.png);
	border-radius:3px 0 0 3px;
}

.nivo-lightbox-theme-default .nivo-lightbox-close {
	display:block;
	background:url(../images/close.png) no-repeat 5px 5px;
	width:16px;
	height:16px;
	text-indent:-9999px;
	opacity:0.5;
	padding:5px;
}

.nivo-lightbox-theme-default .nivo-lightbox-close:hover {
	opacity:1;
}

.nivo-lightbox-theme-default .nivo-lightbox-title-wrap {
	bottom:-7%;
}

.nivo-lightbox-theme-default .nivo-lightbox-title {
	font:14px/20px 'Helvetica Neue',Helvetica,Arial,sans-serif;
	font-style:normal;
	font-weight:400;
	background:#000;
	color:#fff;
	border-radius:30px;
	padding:7px 15px;
}

.nivo-lightbox-theme-default .nivo-lightbox-image img {
	background:#fff;
	-webkit-box-shadow:0 1px 1px rgba(0,0,0,0.4);
	-moz-box-shadow:0 1px 1px rgba(0,0,0,0.4);
	box-shadow:0 1px 1px rgba(0,0,0,0.4);
}

.nivo-lightbox-theme-default .nivo-lightbox-ajax,.nivo-lightbox-theme-default .nivo-lightbox-inline {
	-webkit-box-shadow:0 1px 1px rgba(0,0,0,0.4);
	-moz-box-shadow:0 1px 1px rgba(0,0,0,0.4);
	box-shadow:0 1px 1px rgba(0,0,0,0.4);
	padding:40px;
}

@media (-webkit-min-device-pixel-ratio: 1.3),
       (-o-min-device-pixel-ratio: 2.6/2),
       (min--moz-device-pixel-ratio: 1.3),
       (min-device-pixel-ratio: 1.3),
       (min-resolution: 1.3dppx) 
{
.nivo-lightbox-theme-default .nivo-lightbox-content.nivo-lightbox-loading {
	background-image:url(../images/loading%402x.gif);
	background-size:32px 32px;
}

.nivo-lightbox-theme-default .nivo-lightbox-prev {
	background-image:url(../images/prev%402x.png);
	background-size:48px 48px;
}

.nivo-lightbox-theme-default .nivo-lightbox-next {
	background-image:url(../images/next%402x.png);
	background-size:48px 48px;
}

.nivo-lightbox-theme-default .nivo-lightbox-close {
	background-image:url(../images/close%402x.png);
	background-size:16px 16px;
}
}