.owl-theme .owl-controls {
	margin-top:10px;
	text-align:center;
}

.owl-theme .owl-controls .owl-buttons div {
	color:#FFF;
	zoom:1;
	display:inline;
	font-size:12px;
	-webkit-border-radius:30px;
	-moz-border-radius:30px;
	border-radius:30px;
	background:#869791;
	filter:Alpha(Opacity=50);
	opacity:0.5;
	margin:5px;
	padding:3px 10px;
}

.owl-theme .owl-controls.clickable .owl-buttons div:hover {
	filter:Alpha(Opacity=100);
	opacity:1;
	text-decoration:none;
}

.owl-theme .owl-controls .owl-page {
	zoom:1;
	display:inline-block;
}

.owl-theme .owl-controls .owl-page span {
	display:block;
	width:12px;
	height:12px;
	filter:Alpha(Opacity=50);
	opacity:0.5;
	-webkit-border-radius:20px;
	-moz-border-radius:20px;
	border-radius:20px;
	background:#869791;
	margin:5px 7px;
}

.owl-theme .owl-controls .owl-page.active span,.owl-theme .owl-controls.clickable .owl-page:hover span {
	filter:Alpha(Opacity=100);
	opacity:1;
}

.owl-theme .owl-controls .owl-page span.owl-numbers {
	height:auto;
	width:auto;
	color:#FFF;
	font-size:12px;
	-webkit-border-radius:30px;
	-moz-border-radius:30px;
	border-radius:30px;
	padding:2px 10px;
}

.owl-item.loading {
	min-height:150px;
	background:url(../images/AjaxLoader.gif) no-repeat center center;
}