.tribe-mini-calendar-wrapper {
	width:100%;
}

.tribe-mini-calendar-grid-wrapper {
	margin-bottom:10px;
}

.tribe-mini-calendar {
	border-collapse:collapse;
	margin-left:-1px;
	width:100%;
	line-height:1;
}

.tribe-mini-calendar td,.tribe-mini-calendar th {
	width:14.2857142857%;
	text-align:center;
	vertical-align:top;
	border:1px solid #d2d2d2;
	padding:0;
}

.tribe-mini-calendar-dayofweek {
	background:#ddd;
	color:#333;
	font-weight:700;
	text-transform:uppercase;
	padding:3px 0;
}

.tribe-mini-calendar div[id*='daynum-'] a {
	display:block;
	text-decoration:none;
	position:relative;
	padding:5px 5px 15px;
}

.tribe-mini-calendar .tribe-events-has-events:hover {
	background:#444;
}

.tribe-mini-calendar .tribe-events-has-events:hover a:hover {
	background:#999;
}

.tribe-mini-calendar .tribe-events-has-events:hover a,.tribe-mini-calendar .tribe-events-has-events:hover a:hover {
	color:#fff;
	text-decoration:none;
}

.tribe-mini-calendar-no-event {
	color:#999;
	font-weight:700;
	display:block;
	text-decoration:none;
	padding:5px 5px 15px;
}

.tribe-mini-calendar .tribe-events-past {
	opacity:.6;
}

.tribe-mini-calendar-nav {
	text-align:center;
	vertical-align:middle;
	border:1px solid #666;
	background:#666;
	color:#fff;
}

.tribe-mini-calendar-nav div {
	position:relative;
}

.tribe-mini-calendar-nav span {
	font-weight:700;
	display:inline-block;
	color:#fff;
	text-transform:uppercase;
	margin:0 auto;
}

.tribe-mini-calendar-nav span.active {
	visibility:hidden;
}

.tribe-mini-calendar-nav .tribe-mini-calendar-nav-link {
	display:inline-block;
	color:#999;
	padding:5px;
}

.tribe-mini-calendar-nav .prev-month {
	margin:0 20px 0 0;
}

.tribe-mini-calendar-nav .next-month {
	margin:0 0 0 20px;
}

.tribe-mini-calendar-nav .tribe-mini-calendar-nav-link:hover {
	color:#6fb7ff;
}

.tribe-mini-calendar .tribe-events-has-events div[id*='daynum-'] a:before {
	content:'';
	display:block;
	height:7px;
	width:7px;
	background:#999;
	position:absolute;
	left:50%;
	bottom:4px;
	border-radius:7px;
	-moz-border-radius:7px;
	-webkit-border-radius:7px;
	margin:5px auto 0 -4px;
	padding:0;
}

.tribe-mini-calendar-nav #ajax-loading-mini {
	position:absolute;
	top:50%;
	left:50%;
	display:none;
	width:16px;
	height:16px;
	margin:-8px 0 0 -8px;
}

.tribe-mini-calendar .tribe-events-present,.tribe-mini-calendar .tribe-mini-calendar-today {
	background-color:#666;
}

.tribe-mini-calendar-event {
	overflow:hidden;
	width:100%;
	padding-bottom:5px;
	margin-bottom:5px;
	border-bottom:1px dotted #2f2f2f;
}

.tribe-mini-calendar-right .tribe-mini-calendar-event:last-child {
	border:0;
}

.tribe-mini-calendar-event.first {
	margin-top:10px;
}

.tribe-mini-calendar-event .list-date {
	float:left;
	overflow:hidden;
	font-weight:700;
	width:15%;
	text-align:center;
	display:inline;
	background:#666;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	margin:10px 5% 10px 0;
	padding:3px;
}

.tribe-mini-calendar-event .list-info {
	display:inline;
	line-height:1;
	float:left;
	width:80%;
	font-size:13px;
	margin:10px 0;
}

.tribe-mini-calendar-event .list-date .list-dayname {
	background:#fff;
	color:#666;
	font-size:9px;
	text-transform:uppercase;
	width:100%;
	text-align:center;
	display:block;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	padding:3px;
}

.tribe-mini-calendar-event .list-date .list-daynumber {
	color:#fff;
	font-size:15px;
	width:100%;
	line-height:22px;
	display:block;
	text-align:center;
}

.tribe-mini-calendar-event .list-info h2 {
	font-size:14px;
	font-weight:700;
	line-height:18px;
	margin-top:0;
	margin-bottom:10px;
}

.tribe-mini-calendar-event .list-info p {
	display:none;
	margin:5px 0;
}

.tribe-mini-calendar-event.first .list-info p {
	display:block;
}

.tribe-mini-calendar-event .tribe-events-divider {
	display:inline;
	font-weight:400;
}

.tribe-mini-calendar-event .tribe-events-event-schedule-details {
	display:inline-block;
}

.tribe-mini-calendar-event .tribe-events-event-schedule-details,.tribe-mini-calendar-event-venue {
	margin:5px 0 0;
}

.tribe-mini-calendar-wrapper a.tribe-events-button {
	margin-top:10px;
	display:inline-block;
	background-color:#666;
	color:#fff;
	background-image:none;
	font-size:11px;
	font-weight:700;
	text-align:center;
	text-transform:uppercase;
	letter-spacing:1px;
	-webkit-border-radius:3px;
	border-radius:3px;
	border:0;
	line-height:normal;
	cursor:pointer;
	-webkit-box-shadow:none;
	box-shadow:none;
	text-decoration:none;
	padding:6px 9px;
}

.tribe-theme-twentyfifteen .tribe_mini_calendar_widget,.tribe-theme-twentyfifteen .tribe-events-adv-list-widget,.tribe-theme-twentyfifteen .tribe-events-countdown-widget {
	word-wrap:normal;
}

.tribe-theme-twentyfifteen .tribe-mini-calendar-event {
	margin-left:0;
	margin-right:0;
}

.tribe-theme-twentyfifteen .tribe-mini-calendar-list-wrapper .type-tribe_events {
	margin-left:0;
	margin-right:0;
	box-shadow:none;
}

.tribe-theme-twentyfifteen .tribe-mini-calendar-event .list-date {
	width:18%;
	margin-right:7%;
}

.tribe-theme-twentyfifteen .tribe-mini-calendar-event .list-info {
	width:75%;
}

.tribe-theme-twentyfifteen .tribe-mini-calendar div[id*='daynum-'] a {
	padding:5px 0 15px;
}

.tribe-mini-calendar thead,.tribe-mini-calendar .tribe-events-has-events.tribe-mini-calendar-today:hover {
	background:#666;
}

.tribe-mini-calendar .tribe-events-has-events div[id*='daynum-'],.tribe-mini-calendar-event-cost {
	font-weight:700;
}

.tribe-mini-calendar .tribe-events-has-events.tribe-mini-calendar-today a,.tribe-mini-calendar .tribe-events-present a {
	color:#fff;
}

.tribe-mini-calendar .tribe-events-has-events.tribe-mini-calendar-today div[id*='daynum-'] a:before,.tribe-events-has-events.tribe-events-present div[id*='daynum-'] a:before,.tribe-events-has-events div[id*='daynum-'] a:hover:before {
	background:#fff;
}