<div id="home">
    <div class="topo"></div>
    <div class="background">
        <div class="container">
            <div class="painel-musica">
                <div class="row">
                    <div class="col-lg-3 col-sm-3 app-md-3">
                        <img class="logo" title="Rádio ABC" src="/public/img/logo2.png">
                    </div>
                    <div class="col-lg-9 col-sm-9 app-md-9 col-xs-12">
                        <div class="saudacoes">
                            Ouça a Rádio ABC
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-9 col-sm-9 app-md-9 col-xs-12">
                        <div class="play mb-10">
                            <img class="pulse-play" src="/public/img/play-radio-home.png" title="Play Rádio ABC">
                        </div>
                        <div class="pause pull-right mb-10">
                            <img class="pulse-play" src="/public/img/pause-radio-home.png" title="Pause Rádio ABC">
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-3 app-md-3">
                        <div class="volume pull-right">
                            <div class="controle-volume"></div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-sm-12 app-md-12 col-xs-12">
                        <div class="slogan mb-20">
                            Entretenimento é com a gente
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3 col-sm-3 app-md-3 col-xs-12">
                        <div class="iframe">
                            <i class="fa fa-code"></i>
                        </div>
                        <div class="compartilhar pull-right">
                            <i class="fa fa-share-alt"></i>
                        </div>
                    </div>
                    <div class="col-lg-6 col-sm-6 app-md-6 col-xs-12">
                        <div class="radio">
                            Ir para a Rádio &nbsp;&nbsp;&nbsp;<i class="fa fa-chevron-right"></i>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-3 app-md-3 col-xs-3">
                        <div class="audio">
                            <i class="fa fa-volume-up on"></i>
                            <i class="fa fa-volume-off off"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="rodape">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="logo-stormworm">
                        <a href="http://www.stormworm.com.br" target="_blank">
                            <img class="center-block" src="/public/img/logo-stormworm.png">
                        </a>
                    </div>
                    <div class="copyright">
                        © 2018 Rádio ABC AM
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
