<?php
?>

<div class="container-wrap">
    <div class="main-content container-fullwidth">
        <div class="row row-fluid">
            <div class="nocontainer">
                <div class="col-sm-12">
                    <div class="rev_slider_wrapper fullscreen-container">
                        <div id="rev_slider" class="rev_slider fullscreenbanner">
                            <ul>
                                <li data-transition="slidedown" data-slotamount="7" data-masterspeed="700" data-thumb="images/slider/slider-thumb-1.jpg" data-saveperformance="off" data-title="Slide">
                                    <img src="/public/img/slider/slider.jpg" alt="slider" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat" />
                                    <div class="tp-caption sfr str" data-x="center" data-hoffset="-100" data-y="center" data-voffset="0" data-speed="900" data-start="600" data-easing="Power4.easeOut" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="900" data-endeasing="Power4.easeOut">
                                        <img src="/public/img/slider/left.png"/>
                                    </div>

                                    <div class="tp-caption sfl stl" data-x="center" data-hoffset="100" data-y="center" data-voffset="0" data-speed="900" data-start="600" data-easing="Power4.easeOut" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="900" data-endeasing="Power4.easeOut">
                                        <img src="/public/img/slider/right.png"/>
                                    </div>

                                    <div class="tp-caption sfb stb" data-x="center" data-hoffset="0" data-y="center" data-voffset="0" data-speed="900" data-start="850" data-easing="Power4.easeOut" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="900" data-endeasing="Power4.easeOut">
                                        <img src="/public/img/slider/try.png"/>
                                    </div>

                                    <div class="tp-caption titlenoo sft stt tp-resizeme" data-x="center" data-hoffset="0" data-y="center" data-voffset="0" data-speed="1000" data-start="850" data-easing="Power4.easeOut" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="1000" data-endeasing="Power4.easeOut">
                                        Título Aqui
                                    </div>

                                    <div class="tp-caption sliderdsnoo sfb stb tp-resizeme" data-x="center" data-hoffset="0" data-y="center" data-voffset="65" data-speed="1000" data-start="1100" data-easing="Power4.easeInOut" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="1000" data-endeasing="Power4.easeOut">
                                        Sub Título
                                    </div>

                                    <div class="tp-caption black customin customout tp-resizeme" data-x="center" data-hoffset="0" data-y="center" data-voffset="125" data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-speed="900" data-start="1500" data-easing="Power4.easeOut" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="900" data-endeasing="Power4.easeOut">
                                        <a href="#" class="button-revolution">
                                            <span>Botão</span>
                                        </a>
                                    </div>
                                </li>

                                <li data-transition="slideright" data-slotamount="7" data-masterspeed="700" data-thumb="images/slider/slider-thumb-2.jpg" data-saveperformance="off" data-title="Slide">
                                    <img src="/public/img/slider/slider2.jpg" alt="slider2" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat" />
                                    <div class="tp-caption lft ltt" data-x="center" data-hoffset="0" data-y="center" data-voffset="0" data-speed="900" data-start="500" data-easing="Power4.easeOut" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="900" data-endeasing="Power4.easeOut">
                                        <img src="/public/img/slider/rotate2.png" alt="" />
                                    </div>

                                    <div class="tp-caption customin customout" data-x="center" data-hoffset="0" data-y="center" data-voffset="0" data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-speed="1500" data-start="1000" data-easing="Power4.easeOut" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="1500" data-endeasing="Power4.easeOut">
                                        <img src="/public/img/slider/rotate.png"/>
                                    </div>

                                    <div class="tp-caption titlenoo sft stt tp-resizeme" data-x="center" data-hoffset="0" data-y="center" data-voffset="-30" data-speed="1000" data-start="1500" data-easing="Power4.easeOut" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="1000" data-endeasing="Power4.easeOut">
                                        Título Aqui
                                    </div>

                                    <div class="tp-caption sliderdsnoo sfb stb tp-resizeme" data-x="center" data-hoffset="0" data-y="center" data-voffset="35" data-speed="1000" data-start="1500" data-easing="Power4.easeOut" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="1000" data-endeasing="Power4.easeOut">
                                        Sub Título
                                    </div>

                                    <div class="tp-caption black customin customout tp-resizeme" data-x="center" data-hoffset="0" data-y="center" data-voffset="110" data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-speed="900" data-start="1700" data-easing="Power4.easeOut" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="900" data-endeasing="Power4.easeOut">
                                        <a href="#" class="button-revolution">
                                            <span>Botão</span>
                                        </a>
                                    </div>
                                </li>
                            </ul>

                            <div class="tp-bannertimer"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row row-fluid home-service">
            <div class="container">
                <h2 class="sh-event-title">
                    CLIP FM O <span>MELHOR SOM</span> TOCA AQUI!
                </h2>
                <div class="row">
                    <div class="col-sm-4 service-item">
                        <div class="noo-services img-pu">
                            <img src="/public/img/patrocinador_chevrolet-267x200.jpg" class="img-responsive">
                        </div>
                    </div>

                    <div class="col-sm-4 service-item">
                        <div class="noo-services img-pu">
                            <img src="/public/img/banner-267x200-267x200.png" class="img-responsive">
                        </div>
                    </div>

                    <div class="col-sm-4 service-item">
                        <div class="noo-services img-pu">
                            <img src="/public/img/SW-Final-267x200.png" class="img-responsive">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row row-fluid home-news">
            <div class="container">
                <div class="row">
                    <div class="col-sm-8">
                        <h2 class="sh-event-title">
                            O QUE ESTÁ <span>BOMBANDO</span>
                        </h2>

                        <ul class="noo_news_blog">
                            <li>
                                <div class="noo-sh-thumbail">
                                    <div class="shthumbail">
                                        <img width="600" height="450" src="/public/img/default3.fw.png" alt="blog14"/>
                                    </div>
                                </div>
                                <div class="noo-sh-blog-content">
                                    <h3><a href="#">Título da Postagem</a></h3>
                                    <p class="content-meta">
                                        <span>
                                            <i class="fa fa-calendar"></i>
                                            <time class="entry-date" datetime="2015-05-28T06:51:33+00:00">28 Set 2017</time>
                                        </span>
                                        <span>
                                            <i class="fa fa-comments-o"></i>
                                            <a href="#" class="meta-comments"> 0</a>
                                        </span>

                                        <span><i class="fa fa-eye"></i>365</span>
                                    </p>
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                                        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
                                    </p>
                                    <a class="read-more" href="#">Continue lendo...</a>
                                </div>
                            </li>
                            <li>
                                <div class="noo-sh-thumbail">
                                    <div class="shthumbail">
                                        <img width="600" height="450" src="/public/img/default3.fw.png" alt="blog14"/>
                                    </div>

                                </div>

                                <div class="noo-sh-blog-content">
                                    <h3><a href="#">Título da Postagem</a></h3>
                                    <p class="content-meta">
                                        <span>
                                            <i class="fa fa-calendar"></i>
                                            <time class="entry-date" datetime="2015-05-28T06:51:33+00:00">28 Set 2017</time>
                                        </span>
                                        <span>
                                            <i class="fa fa-comments-o"></i>
                                            <a href="#" class="meta-comments"> 0</a>
                                        </span>
                                        <span><i class="fa fa-eye"></i>365</span>
                                    </p>
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
                                    </p>

                                    <a class="read-more" href="#">Continue lendo...</a>
                                </div>
                            </li>
                            <li>
                                <div class="noo-sh-thumbail">
                                    <div class="shthumbail">
                                        <img width="600" height="450" src="/public/img/default3.fw.png" alt="blog14"/>
                                    </div>
                                </div>
                                <div class="noo-sh-blog-content">
                                    <h3><a href="#">Título da Postagem</a></h3>
                                    <p class="content-meta">
                                        <span>
                                            <i class="fa fa-calendar"></i>
                                            <time class="entry-date" datetime="2015-05-28T06:51:33+00:00">28 Set 2017</time>
                                        </span>
                                        <span>
                                            <i class="fa fa-comments-o"></i>
                                            <a href="#" class="meta-comments"> 0</a>
                                        </span>
                                        <span><i class="fa fa-eye"></i>365</span>
                                    </p>
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
                                    </p>
                                    <a class="read-more" href="#">Continue lendo...</a>
                                </div>
                            </li>

                            <div class="noo-view-event" style="margin-bottom:80px;">
                                <a href="#">Ver todas as notícias</a>
                            </div>
                        </ul>

                        <div class="row parallax row-fluid home-upcoming-event">
                            <div class="overlay_parallax"></div>
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="noo-shortcode-events">
                                            <h2 class="sh-event-title">
                                                PRÓXIMOS <span>EVENTOS</span>
                                            </h2>

                                            <div class="noo-sh-event-content">
                                                <div class="noo-sh-list-event">
                                                    <span class="entry-date">
                                                        29 <span class="month">Setembro </span>
                                                    </span>
                                                    <div class="noo-thumbnail"><img src="/public/img/default.fw.png" class="img-responsive"></div>
                                                    <div class="noo-shevent-content">
                                                        <h4><a href="#">Título do Evento</a></h4>
                                                        <div class="sh-meta">
                                                            <span class="sh-date">
                                                                <i class="fa fa-clock-o"></i>
                                                                <span class="date-start dtstart">
                                                                    29 Setembro 18:00
                                                                </span>
                                                                -
                                                                <span class="date-end dtend">
                                                                    30 Setembro 18:00
                                                                </span>
                                                            </span>
                                                            <span class="sh-address">
                                                                <i class="fa fa-map-marker"></i>
                                                                Local do evento
                                                            </span>
                                                        </div>

                                                        <div class="sh-excerpt">
                                                            <p>
                                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                                                                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                                                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="noo-sh-list-event">
                                                    <span class="entry-date">
                                                        29 <span class="month">Setembro </span>
                                                    </span>
                                                    <div class="noo-thumbnail"><img src="/public/img/default.fw.png" class="img-responsive"></div>
                                                    <div class="noo-shevent-content">
                                                        <h4><a href="#">Título do Evento</a></h4>
                                                        <div class="sh-meta">
                                                            <span class="sh-date">
                                                                <i class="fa fa-clock-o"></i>
                                                                <span class="date-start dtstart">
                                                                    29 Setembro 18:00
                                                                </span>
                                                                -
                                                                <span class="date-end dtend">
                                                                    30 Setembro 18:00
                                                                </span>
                                                            </span>

                                                            <span class="sh-address">
                                                                <i class="fa fa-map-marker"></i>
                                                                Local do evento
                                                            </span>
                                                        </div>
                                                        <div class="sh-excerpt">
                                                            <p>
                                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                                                                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                                                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="noo-sh-list-event">
                                                    <span class="entry-date">
                                                        29 <span class="month">Setembro </span>
                                                    </span>
                                                    <div class="noo-thumbnail"><img src="/public/img/default.fw.png" class="img-responsive" ></div>
                                                    <div class="noo-shevent-content">
                                                        <h4><a href="#">Título do Evento</a></h4>
                                                        <div class="sh-meta">
                                                            <span class="sh-date">
                                                                <i class="fa fa-clock-o"></i>
                                                                <span class="date-start dtstart">
                                                                    29 Setembro 18:00
                                                                </span>
                                                                -
                                                                <span class="date-end dtend">
                                                                    30 Setembro 18:00
                                                                </span>
                                                            </span>
                                                            <span class="sh-address">
                                                                <i class="fa fa-map-marker"></i>
                                                                Local do evento
                                                            </span>
                                                        </div>
                                                        <div class="sh-excerpt">
                                                            <p>
                                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                                                                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                                                                ex ea commodo consequat.
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="noo-view-event">
                                                    <a href="#">Ver todos os eventos</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div style="margin-top:92px;"></div>

                    <div class="noo-sidebar col-md-4">
                        <div class="widget widget_categories">
                            <div id="amazingcarousel-container-1">
                                <div id="amazingcarousel-1" style="display:block;position:relative;width:100%;max-width:300px;margin:0 auto 0;">
                                    <div class="amazingcarousel-list-container">
                                        <ul class="amazingcarousel-list">
                                            <li class="amazingcarousel-item">
                                                <div class="amazingcarousel-item-container">
                                                    <div class="amazingcarousel-image">
                                                        <a href="/public/img/Prancheta_fala-lightbox.png" title="Prancheta fala" class="html5lightbox" data-group="amazingcarousel-1">
                                                            <img src="/public/img/Prancheta_fala.png" alt="Prancheta fala"/>
                                                        </a>
                                                    </div>
                                                </div>
                                            </li>

                                            <li class="amazingcarousel-item">
                                                <div class="amazingcarousel-item-container">
                                                    <div class="amazingcarousel-image">
                                                        <a href="/public/img/Prancheta_over-lightbox.png" title="Prancheta over" class="html5lightbox" data-group="amazingcarousel-1">
                                                            <img src="/public/img/Prancheta_over.png" alt="Prancheta over"/>
                                                        </a>
                                                    </div>
                                                </div>
                                            </li>

                                            <li class="amazingcarousel-item">
                                                <div class="amazingcarousel-item-container">
                                                    <div class="amazingcarousel-image">
                                                        <a href="/public/img/Prancheta_taLigado-lightbox.png" title="Prancheta taLigado" class="html5lightbox" data-group="amazingcarousel-1">
                                                            <img src="/public/img/Prancheta_taLigado.png" alt="Prancheta taLigado"/>
                                                        </a>
                                                    </div>
                                                </div>
                                            </li>

                                            <li class="amazingcarousel-item">
                                                <div class="amazingcarousel-item-container">
                                                    <div class="amazingcarousel-image">
                                                        <a href="/public/img/Prancheta-2_Manha-lightbox.png" title="Prancheta Manha" class="html5lightbox" data-group="amazingcarousel-1">
                                                            <img src="/public/img/Prancheta-2_Manha.png" alt="Prancheta Manha"/>
                                                        </a>
                                                    </div>
                                                </div>
                                            </li>

                                            <li class="amazingcarousel-item">
                                                <div class="amazingcarousel-item-container">
                                                    <div class="amazingcarousel-image">
                                                        <a href="/public/img/Prancheta-6_Pop-lightbox.png" title="Prancheta-6_Pop" class="html5lightbox" data-group="amazingcarousel-1">
                                                            <img src="/public/img/Prancheta-6_Pop.png" alt="Prancheta-6_Pop"/>
                                                        </a>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>

                                        <div class="amazingcarousel-prev"></div>
                                        <div class="amazingcarousel-next"></div>
                                    </div>
                                    <div class="amazingcarousel-nav"></div>
                                </div>
                            </div>
                        </div>

                        <div class="widget widget_categories img-pu">
                            <img src="/public/img/anuncie.fw.png" class="img-responsive">
                        </div>

                        <div class="widget widget_categories img-pu">
                            <h4 class="widget-title">WHATSAPP DA CLIP!</h4>
                            <img src="/public/img/divulgacao/WhatsApp_ClipFM_BannerSite.jpg" class="img-responsive">
                        </div>

                        <div class="widget widget_categories img-pu">
                            <h4 class="widget-title">AS MAIS PEDIDAS</h4>
                            <div class="album-media-player">
                                <div class="single-album-playlist">
                                    <ul>
                                        <li id="album_1" data-id="album_1" data-artist="&lt;a href=_.html#&quot;&gt;Jenifer Mueller&lt;/a&gt;"
                                            data-file="http://wp.nootheme.com/wemusic/wp-content/uploads/2015/06/MorningTea.mp3"
                                            data-thumb="&lt;img width=&quot;768&quot; height=&quot;1000&quot; src=_images/album/rock16.html alt=&quot;rock16&quot; /&gt;"
                                            data-name="Morning Tea" data-url="#" data-album="Live on Letterman">

                                            <a href="javascript:void(0)" class="noodata-play">
                                                <span class="current-active-play">
                                                    <i class="fa fa-play-circle-o" style="color:#F68843;"></i>
                                                </span>
                                                Morning Tea - Maroon 5 ft Wiz Khalifa
                                                <small></small>
                                            </a>
                                        </li>
                                        <li id="album_1" data-id="album_1" data-artist="&lt;a href=_.html#&quot;&gt;Jenifer Mueller&lt;/a&gt;"
                                            data-file="http://wp.nootheme.com/wemusic/wp-content/uploads/2015/06/MorningTea.mp3"
                                            data-thumb="&lt;img width=&quot;768&quot; height=&quot;1000&quot; src=_images/album/rock16.html alt=&quot;rock16&quot; /&gt;"
                                            data-name="Morning Tea" data-url="#" data-album="Live on Letterman">

                                            <a href="javascript:void(0)" class="noodata-play">
                                                <span class="current-active-play">
                                                    <i class="fa fa-play-circle-o" style="color:#F68843;"></i>
                                                </span>
                                                Time Space - Engelbert Humperdinck
                                                <small></small>
                                            </a>
                                        </li>
                                        <li id="album_1" data-id="album_1" data-artist="&lt;a href=_.html#&quot;&gt;Jenifer Mueller&lt;/a&gt;"
                                            data-file="http://wp.nootheme.com/wemusic/wp-content/uploads/2015/06/MorningTea.mp3"
                                            data-thumb="&lt;img width=&quot;768&quot; height=&quot;1000&quot; src=_images/album/rock16.html alt=&quot;rock16&quot; /&gt;"
                                            data-name="Morning Tea" data-url="#" data-album="Live on Letterman">

                                            <a href="javascript:void(0)" class="noodata-play">
                                                <span class="current-active-play">
                                                    <i class="fa fa-play-circle-o" style="color:#F68843;"></i>
                                                </span>
                                                Interlude - Modern Talking
                                                <small></small>
                                            </a>
                                        </li>
                                        <li id="album_1" data-id="album_1" data-artist="&lt;a href=_.html#&quot;&gt;Jenifer Mueller&lt;/a&gt;"
                                            data-file="http://wp.nootheme.com/wemusic/wp-content/uploads/2015/06/MorningTea.mp3"
                                            data-thumb="&lt;img width=&quot;768&quot; height=&quot;1000&quot; src=_images/album/rock16.html alt=&quot;rock16&quot; /&gt;"
                                            data-name="Morning Tea" data-url="#" data-album="Live on Letterman">

                                            <a href="javascript:void(0)" class="noodata-play">
                                                <span class="current-active-play">
                                                    <i class="fa fa-play-circle-o" style="color:#F68843;"></i>
                                                </span>
                                                Straight Ahead - The Wanted
                                                <small></small>
                                            </a>
                                        </li>



                                        <li id="album_1" data-id="album_1" data-artist="&lt;a href=_.html#&quot;&gt;Jenifer Mueller&lt;/a&gt;"
                                            data-file="http://wp.nootheme.com/wemusic/wp-content/uploads/2015/06/MorningTea.mp3"
                                            data-thumb="&lt;img width=&quot;768&quot; height=&quot;1000&quot; src=_images/album/rock16.html alt=&quot;rock16&quot; /&gt;"
                                            data-name="Morning Tea" data-url="#" data-album="Live on Letterman">

                                            <a href="javascript:void(0)" class="noodata-play">
                                                <span class="current-active-play">
                                                    <i class="fa fa-play-circle-o" style="color:#F68843;"></i>
                                                </span>
                                                MMorning Prayer - Helloween
                                                <small></small>
                                            </a>
                                        </li>

                                        <li id="album_1" data-id="album_1" data-artist="&lt;a href=_.html#&quot;&gt;Jenifer Mueller&lt;/a&gt;" data-file="http://wp.nootheme.com/wemusic/wp-content/uploads/2015/06/MorningTea.mp3"
                                            data-thumb="&lt;img width=&quot;768&quot; height=&quot;1000&quot; src=_images/album/rock16.html alt=&quot;rock16&quot; /&gt;"
                                            data-name="Morning Tea" data-url="#" data-album="Live on Letterman">

                                            <a href="javascript:void(0)" class="noodata-play">
                                                <span class="current-active-play">
                                                    <i class="fa fa-play-circle-o" style="color:#F68843;"></i>
                                                </span>
                                                Coming Down - Shane Filan
                                                <small></small>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="widget widget_categories img-pu">
                            <h4 class="widget-title">PARCEIROS</h4>
                            <div class="testimonial-carousel">
                                <div class="item">
                                    <img src="/public/img/divulgacao/banner-clip.png" class="img-responsive">
                                </div>
                            </div>
                        </div>

                        <div class="widget widget_categories img-pu">
                            <h4 class="widget-title">BAIXE O APP DA CLIP!</h4>
                            <img src="/public/img/divulgacao/AppClipFM_Site.jpg" class="img-responsive">
                        </div>

                        <div class="widget widget_categories img-pu mb-40">
                            <h4 class="widget-title">HORA DO MUÇÃO</h4>
                            <img src="/public/img/divulgacao/HoraDoMucao_ClipFM_Banner.jpg" class="img-responsive">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row row-fluid home-successful-event">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="noo-shortcode-events grid">
                            <div class="noo-grid-header-events">
                                <span class="icon">
                                    <i class="fa fa-calendar"></i>
                                </span>
                                <h2 class="sh-event-title">
                                    Eventos bem <span>sucedidos</span>
                                </h2>
                                <p class="sh-ds">
                                    Acompanhe os momentos mais importantes de nossos eventos bem sucedidos e acredite que podemos fazer o melhor.
                                </p>
                            </div>
                            <div class="noo-sh-event-content row">
                                <div class="col-md-4 col-sm-6">
                                    <div class="noo-sh-grid-event">
                                        <div class="noo-thumbnail">
                                            <img width="970" height="647" src="/public/img/default.fw.png" alt="blog21"/>
                                        </div>
                                        <div class="noo-shevent-content">
                                            <h4><a href="#">Título do Evento</a></h4>
                                            <div class="sh-meta">
                                                <span class="sh-time-event">
                                                    <i class="fa fa-clock-o"></i>
                                                    <span class="date-start dtstart">29 Setembro 18:00</span>
                                                    <span class="date-end dtend">30 Setembro 18:00</span>
                                                </span>
                                                <span class="sh-address">
                                                    <i class="fa  fa-map-marker"></i>
                                                    Local do evento
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-6">
                                    <div class="noo-sh-grid-event">
                                        <div class="noo-thumbnail">
                                            <img width="970" height="647" src="/public/img/default.fw.png" alt="blog21"/>
                                        </div>
                                        <div class="noo-shevent-content">
                                            <h4><a href="#">Título do Evento</a></h4>
                                            <div class="sh-meta">
                                                <span class="sh-time-event">
                                                    <i class="fa fa-clock-o"></i>
                                                    <span class="date-start dtstart">29 Setembro 18:00</span>
                                                    -
                                                    <span class="date-end dtend">30 Setembro 18:00</span>
                                                </span>
                                                <span class="sh-address">
                                                    <i class="fa  fa-map-marker"></i>
                                                    Local do evento
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-4 col-sm-6">
                                    <div class="noo-sh-grid-event">
                                        <div class="noo-thumbnail">
                                            <img width="970" height="647" src="/public/img/default.fw.png" alt="blog21"/>
                                        </div>
                                        <div class="noo-shevent-content">
                                            <h4><a href="#">Título do Evento</a></h4>
                                            <div class="sh-meta">
                                                <span class="sh-time-event">
                                                    <i class="fa fa-clock-o"></i>
                                                    <span class="date-start dtstart">29 Setembro 18:00</span>
                                                    -
                                                    <span class="date-end dtend">30 Setembro 18:00</span>
                                                </span>
                                                <span class="sh-address">
                                                    <i class="fa  fa-map-marker"></i>
                                                    Local do evento
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="noo-view-event">
                                <a href="#">Ver todos os eventos</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row row-fluid home-album">
            <div class="nocontainer">
                <div class="col-sm-12">
                    <div class="wrap">
                        <div class="container">
                            <div class="noo-grid-header-events header-featured-albums">
                                <span class="icon">
                                    <i class="fa fa-camera"></i>
                                </span>
                                <h2 class="sh-event-title">
                                    Fotos em <span>destaque</span>
                                </h2>

                                <p class="sh-ds">
                                    Nascido para te fazer feliz! Ao pesquisar nossos melhores álbuns premium, você terá muitas diversões
                                </p>
                            </div>
                        </div>

                        <ul class="clearfix noo-featured-albums">
                            <li>
                                <div class="sh-featured-albumns-item">
                                    <img width="500" height="700" src="/public/img/default2.fw.png" alt="rock13"/>
                                    <div class="sh-top">
                                        <h3 class="product_title">
                                            <a href="#">Título</a>
                                        </h3>
                                    </div>

                                    <div class="sh-bottom">
                                        <div class="shop-info">
                                            <h3 class="product_title">
                                                <a href="#">Título</a>
                                            </h3>
                                            <div class="product-category">
                                                <a href="#">Categoria</a>
                                            </div>
                                        </div>
                                        <div class="shop-loop-actions">
                                            <a class="button" href="#">
                                                <i class="fa fa-link"></i> Detalhes
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </li>

                            <li>
                                <div class="sh-featured-albumns-item">
                                    <img width="500" height="700" src="/public/img/default2.fw.png" alt="rock13"/>
                                    <div class="sh-top">
                                        <h3 class="product_title">
                                            <a href="#">Título</a>
                                        </h3>
                                    </div>
                                    <div class="sh-bottom">
                                        <div class="shop-info">
                                            <h3 class="product_title">
                                                <a href="#">Título</a>
                                            </h3>
                                            <div class="product-category">
                                                <a href="#">Categoria</a>
                                            </div>
                                        </div>
                                        <div class="shop-loop-actions">
                                            <a class="button" href="#">
                                                <i class="fa fa-link"></i> Detalhes
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="sh-featured-albumns-item">
                                    <img width="500" height="700" src="/public/img/default2.fw.png" alt="rock13"/>
                                    <div class="sh-top">
                                        <h3 class="product_title">
                                            <a href="#">Título</a>
                                        </h3>
                                    </div>
                                    <div class="sh-bottom">
                                        <div class="shop-info">
                                            <h3 class="product_title">
                                                <a href="#">Título</a>
                                            </h3>
                                            <div class="product-category">
                                                <a href="#">Categoria</a>
                                            </div>
                                        </div>
                                        <div class="shop-loop-actions">
                                            <a class="button" href="#">
                                                <i class="fa fa-link"></i> Detalhes
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="sh-featured-albumns-item">
                                    <img width="500" height="700" src="/public/img/default2.fw.png" alt="rock13"/>
                                    <div class="sh-top">
                                        <h3 class="product_title">
                                            <a href="#">Título</a>
                                        </h3>
                                    </div>
                                    <div class="sh-bottom">
                                        <div class="shop-info">
                                            <h3 class="product_title">
                                                <a href="#">Título</a>
                                            </h3>
                                            <div class="product-category">
                                                <a href="#">Categoria</a>
                                            </div>
                                        </div>
                                        <div class="shop-loop-actions">
                                            <a class="button" href="#">
                                                <i class="fa fa-link"></i> Detalhes
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="sh-featured-albumns-item">
                                    <img width="500" height="700" src="/public/img/default2.fw.png" alt="rock13"/>
                                    <div class="sh-top">
                                        <h3 class="product_title">
                                            <a href="#">Título</a>
                                        </h3>
                                    </div>
                                    <div class="sh-bottom">
                                        <div class="shop-info">
                                            <h3 class="product_title">
                                                <a href="#">Título</a>
                                            </h3>
                                            <div class="product-category">
                                                <a href="#">Categoria</a>
                                            </div>
                                        </div>
                                        <div class="shop-loop-actions">
                                            <a class="button" href="#">
                                                <i class="fa fa-link"></i> Detalhes
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </li>

                            <li>
                                <div class="sh-featured-albumns-item">
                                    <img width="500" height="700" src="/public/img/default2.fw.png" alt="rock13"/>
                                    <div class="sh-top">
                                        <h3 class="product_title">
                                            <a href="#">Título</a>
                                        </h3>
                                    </div>
                                    <div class="sh-bottom">
                                        <div class="shop-info">
                                            <h3 class="product_title">
                                                <a href="#">Título</a>
                                            </h3>
                                            <div class="product-category">
                                                <a href="#">Categoria</a>
                                            </div>
                                        </div>
                                        <div class="shop-loop-actions">
                                            <a class="button" href="#">
                                                <i class="fa fa-link"></i> Detalhes
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </li>

                            <li>
                                <div class="sh-featured-albumns-item">
                                    <img width="500" height="700" src="/public/img/default2.fw.png" alt="rock13"/>
                                    <div class="sh-top">
                                        <h3 class="product_title">
                                            <a href="#">Título</a>
                                        </h3>
                                    </div>
                                    <div class="sh-bottom">
                                        <div class="shop-info">
                                            <h3 class="product_title">
                                                <a href="#">Título</a>
                                            </h3>
                                            <div class="product-category">
                                                <a href="#">Categoria</a>
                                            </div>
                                        </div>
                                        <div class="shop-loop-actions">
                                            <a class="button" href="#">
                                                <i class="fa fa-link"></i> Detalhes
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </li>

                            <li>
                                <div class="sh-featured-albumns-item">
                                    <img width="500" height="700" src="/public/img/default2.fw.png" alt="rock13"/>
                                    <div class="sh-top">
                                        <h3 class="product_title">
                                            <a href="#">Título</a>
                                        </h3>
                                    </div>
                                    <div class="sh-bottom">
                                        <div class="shop-info">
                                            <h3 class="product_title">
                                                <a href="#">Título</a>
                                            </h3>
                                            <div class="product-category">
                                                <a href="#">Categoria</a>
                                            </div>
                                        </div>
                                        <div class="shop-loop-actions">
                                            <a class="button" href="#">
                                                <i class="fa fa-link"></i> Detalhes
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="sh-featured-albumns-item">
                                    <img width="500" height="700" src="/public/img/default2.fw.png" alt="rock13"/>
                                    <div class="sh-top">
                                        <h3 class="product_title">
                                            <a href="#">Título</a>
                                        </h3>
                                    </div>
                                    <div class="sh-bottom">
                                        <div class="shop-info">
                                            <h3 class="product_title">
                                                <a href="#">Título</a>
                                            </h3>
                                            <div class="product-category">
                                                <a href="#">Categoria</a>
                                            </div>
                                        </div>
                                        <div class="shop-loop-actions">
                                            <a class="button" href="#">
                                                <i class="fa fa-link"></i> Detalhes
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="row row-fluid home-successful-event">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="noo-shortcode-events grid">
                            <div class="noo-grid-header-events">
                                <span class="icon">
                                    <i class="fa fa-file-movie-o"></i>
                                </span>
                                <h2 class="sh-event-title">
                                    Clip <span>TV</span>
                                </h2>
                                <p class="sh-ds"></p>
                            </div>
                            <div class="noo-sh-event-content row">
                                <div class="simple-image-carousel">
                                    <div class="item">
                                        <div class="media-holder">
                                            <img src="/public/img/videos/1.jpg" alt="" />
                                            <p class="mt-10">Lady Gaga - Perfect Illusion</p>
                                        </div>
                                        <div class="hover-content">
                                            <div class="overlay"></div>
                                            <div class="link-container">
                                                <a href="https://www.youtube.com/watch?v=Xn599R0ZBwg" class="video-link"><i class="icon-play"></i></a>
                                                <p class="mt-10">Lady Gaga - Perfect Illusion</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="media-holder">
                                            <img src="/public/img/videos/2.jpg"/>
                                            <p class="mt-10">Alok, Bruno Martini feat. Zeeba - Hear Me Now</p>
                                        </div>
                                        <div class="hover-content">
                                            <div class="overlay"></div>
                                            <div class="link-container">
                                                <a href="https://www.youtube.com/watch?v=JVpTp8IHdEg" class="video-link"><i class="icon-play"></i></a>
                                                <p class="mt-10">Alok, Bruno Martini feat. Zeeba - Hear Me Now</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="media-holder">
                                            <img src="/public/img/videos/3.jpg"/>
                                            <p class="mt-10">Katy Perry - Chained To The Rhythm</p>
                                        </div>
                                        <div class="hover-content">
                                            <div class="overlay"></div>
                                            <div class="link-container">
                                                <a href="https://www.youtube.com/watch?v=Um7pMggPnug" class="video-link"><i class="icon-play"></i></a>
                                                <p class="mt-10">Katy Perry - Chained To The Rhythm</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="media-holder">
                                            <img src="/public/img/videos/4.jpg"/>
                                            <p class="mt-10">Chainsmokers e Coldplay - Something like this</p>
                                        </div>
                                        <div class="hover-content">
                                            <div class="overlay"></div>
                                            <div class="link-container">
                                                <a href="https://www.youtube.com/watch?v=FM7MFYoylVs" class="video-link"><i class="icon-play"></i></a>
                                                <p class="mt-10">Chainsmokers e Coldplay - Something like this</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="media-holder">
                                            <img src="/public/img/videos/5.jpg"/>
                                            <p class="mt-10">The Weeknd - I Feel It Coming ft. Daft Punk</p>
                                        </div>
                                        <div class="hover-content">
                                            <div class="overlay"></div>
                                            <div class="link-container">
                                                <a href="https://www.youtube.com/watch?v=qFLhGq0060w" class="video-link"><i class="icon-play"></i></a>
                                                <p class="mt-10">The Weeknd - I Feel It Coming ft. Daft Punk</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row row-fluid home-go-top">
            <div class="nocontainer">
                <div class="col-sm-12">
                    <div class="noo-line">
                        <i class="go-to-top fa fa-angle-up"></i>
                    </div>
                </div>
            </div>
        </div>

        <div class="row row-fluid home-service">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 service-item">
                        <div class="noo-services img-pu">
                            <img src="/public/img/pedir_som.png" class="img-responsive">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
