<?php
?>

<div class="modal showSweetAlert" id="appDialog" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content dialog-content">
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="content">
                            <div class="info"><div class="icon"><i class="fa fa-info-circle"></i></div></div>
                            <div class="success">
                                <div class="icon dialog-icon dialog-success animateSuccess">
                                    <span class="dialog-sa-line dialog-sa-tip animateSuccessTip"></span>
                                    <span class="dialog-sa-line dialog-sa-long animateSuccessLong"></span>
                                    <div class="dialog-sa-placeholder"></div>
                                    <div class="dialog-sa-fix"></div>
                                </div>
                            </div>
                            <div class="warning"><div class="icon"><i class="fa fa-exclamation-circle"></i></div></div>
                            <div class="error">
                                <div class="icon dialog-icon dialog-error animateErrorIcon">
                                    <span class="dialog-x-mark animateXMark">
                                        <span class="dialog-sa-line dialog-sa-left"></span>
                                        <span class="dialog-sa-line dialog-sa-right"></span>
                                    </span>
                                </div>
                            </div>
                            <div class="message"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
