<?php if ($this->parameters['footer']) : ?>
    <footer class="colophon site-info">
        <div class="colophon wigetized">
            <div class="background-footer"></div>
            <div class="container">
                <div class="row noo-footer-main">
                    <div class="col-md-3 col-sm-6">
                        <div class="widget widget_text">
                            <h4 class="widget-title">Clip Fm</h4>
                            <div class="textwidget">
                                <p>
                                    Breve Texto sobre a clip fm.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="widget commerce widget_top_rated_products">
                            <h4 class="widget-title">Facebook</h4>
                            <div class="fb-page" data-href="https://www.facebook.com/clipfm/"
                                 data-tabs="timeline" data-height="300" data-small-header="false" data-adapt-container-width="true"
                                 data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/clipfm/"
                                 class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/clipfm/">Clip FM - 88.7</a></blockquote>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="widget tribe-events-adv-list-widget">
                            <h4 class="widget-title">Próximos Eventos</h4>
                            <div class="tribe-mini-calendar-event">
                                <div class="list-date">
                                    <span class="list-dayname">Set</span>
                                    <span class="list-daynumber">29</span>
                                </div>
                                <div class="list-info">
                                    <h2 class="entry-title summary">
                                        <a href="#">Título do Evento</a>
                                    </h2>
                                    <div class="duration">
                                        <span class="date-start dtstart">29 Setembro 18:00</span>
                                        -
                                        <span class="date-end dtend">30 Setembro 18:00</span>
                                    </div>
                                </div>
                            </div>
                            <div class="tribe-mini-calendar-event">
                                <div class="list-date">
                                    <span class="list-dayname">Set</span>
                                    <span class="list-daynumber">29</span>
                                </div>
                                <div class="list-info">
                                    <h2 class="entry-title summary">
                                        <a href="#">Título do Evento</a>
                                    </h2>
                                    <div class="duration">
                                        <span class="date-start dtstart">29 Setembro 18:00</span>
                                        -
                                        <span class="date-end dtend">30 Setembro 18:00</span>
                                    </div>
                                </div>
                            </div>
                            <div class="tribe-mini-calendar-event">
                                <div class="list-date">
                                    <span class="list-dayname">Set</span>
                                    <span class="list-daynumber">29</span>
                                </div>
                                <div class="list-info">
                                    <h2 class="entry-title summary">
                                        <a href="#">Título do Evento</a>
                                    </h2>
                                    <div class="duration">
                                        <span class="date-start dtstart">29 Setembro 18:00</span>
                                        -
                                        <span class="date-end dtend">30 Setembro 18:00</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="widget mailchimp-widget">
                            <h4 class="widget-title">Newlestter</h4>
                            <form class="mc-subscribe-form">
                                <label>Cadastra-se e fique por dentro das novidades e promoções.</label>
                                <div class="input-mail">
                                    <input type="email" name="mc_email" class="mc-email" value="" placeholder="Digite seu e-mail aqui..."/>
                                    <i class="fa fa-envelope-o icon-mc-email"></i>
                                </div>
                                <button disabled>Inscreva-se agora</button>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="noo-footer-bottom">
                    <div class="widget widget_noo_infomation">
                        <ul class="noo-infomation">
                            <li>
                                <span class="fa infomation-left">
                                    <i class="fa fa-map-marker fa-2x"></i>
                                </span>
                                <address>Av. Conceição - 1890, Indaiatuba, São Paulo </address>
                            </li>
                            <li class="info-phone">
                                <span class="fa fa-phone infomation-left"></span>
                                <span>(19) 3885-1026</span>
                            </li>
                            <li class="info-phone">
                                <span class="fa fa-whatsapp infomation-left"></span>
                                <span>(19) 99777-4356</span>
                            </li>
                            <li class="info-mail">
                                <span class="fa fa-envelope-o infomation-left"></span>
                                <span><a href="mailto:email@domain.com">ouvinte@clipfm.com.br</a></span>
                            </li>
                        </ul>
                    </div>
                    <div class="widget widget_noo_social">
                        <div class="noo_social">
                            <div class="social-all">
                                <span class="footer-social">
                                    <span class="social-name">
                                        Siga no Facebook
                                    </span>
                                    <a href="#" class="fa fa-facebook"></a>
                                </span>
                                <span class="footer-social">
                                    <span class="social-name">
                                        Siga no Google-plus
                                    </span>
                                    <a href="#" class="fa fa-google-plus"></a>
                                </span>
                                <span class="footer-social">
                                    <span class="social-name">
                                        Siga no Twitter
                                    </span>
                                    <a href="#" class="fa fa-twitter"></a>
                                </span>
                                <span class="footer-social">
                                    <span class="social-name">
                                        Siga no Youtube
                                    </span>
                                    <a href="#" class="fa fa-youtube"></a>
                                </span>
                                <span class="footer-social">
                                    <span class="social-name">
                                        Siga no Skype
                                    </span>
                                    <a href="#" class="fa fa-skype"></a>
                                </span>
                                <span class="footer-social">
                                    <span class="social-name">
                                        Siga no Linkedin
                                    </span>
                                    <a href="#" class="fa fa-linkedin"></a>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12 text-center" style="color:#fff;">
            <p>
                © 2017 - CLIP FM - TODOS OS DIREITOS RESERVADOS - DESENVOLVIDO POR <a href="https://www.stormworm.com.br/" target="_blank">STORM WORM</a>
            </p>
        </div>
    </footer>

    <div class="footer-player">
        <div class="album-playlist">
            <ul>
                <li class="album-playlist-title">
                    <span class="playlist-play">Play</span>
                    <span class="playlist-tract">
                        Título da faixa
                        <small>(Autor)</small>
                    </span>
                </li>
                <li class="album-playlist-item"
                    data-thumb="&lt;img width=&quot;150&quot; height=&quot;150&quot; src=_images/album/rock16.html alt=&quot;rock16&quot; /&gt;"
                    data-name="Morning Tea" data-artist="Maroon 5 ft Wiz Khalifa">
                    <span class="playlist-play">
                        <a href="/public/img/musicas/MorningTea.mp3">
                            <i class="fa fa-play"></i>
                        </a>
                    </span>
                    <span class="playlist-tract">
                        <a href="#">Morning Tea</a>
                        <small><a href="javascript:void(0)">Maroon 5 ft Wiz Khalifa</a></small>
                    </span>
                </li>
            </ul>
        </div>
        <div class="album-player">
            <div class="album-player-embed">
                <span class="contro-album-player contro-down-player"><i class="fa fa-angle-down"></i></span>
                <span class="contro-album-player contro-up-player"><i class="fa fa-angle-up"></i></span>
                <audio class="album-audio-embed" autoplay>
                    <source src="http://ice1.crossradio.com.br:8530/live.mp3" type="audio/mpeg"/>
                </audio>
            </div>
        </div>
    </div>
    <div id="fb-root"></div>
<?php endif; ?>

<script>
    (function(d, s, id) {
        let js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/pt_BR/sdk.js#xfbml=1&version=v2.10";
        fjs.parentNode.insertBefore(js, fjs);
    } (document, 'script', 'facebook-jssdk'));
</script>

<script type='text/javascript' src='/public/js/jquery/jquery-3.2.1.min.js'></script>
<script type='text/javascript' src='/public/js/jquery-migrate.min.js'></script>
<script type='text/javascript' src='/public/js/jquery.themepunch.tools.min.js'></script>
<script type='text/javascript' src='/public/js/jquery.themepunch.revolution.min.js'></script>
<script type='text/javascript' src='/public/js/modernizr-2.7.1.min.js'></script>
<script type='text/javascript' src='/public/js/imagesloaded.pkgd.min.js'></script>
<script type='text/javascript' src='/public/js/jquery.carouFredSel-6.2.1.js'></script>
<script type='text/javascript' src='/public/js/jquery.touchSwipe.min.js'></script>
<script type='text/javascript' src='/public/js/bootstrap/bootstrap.min.js'></script>
<script type='text/javascript' src='/public/js/hoverIntent-r7.min.js'></script>
<script type='text/javascript' src='/public/js/superfish-1.7.4.min.js'></script>
<script type='text/javascript' src='/public/js/mediaelement-and-player.js'></script>
<script type='text/javascript' src='/public/js/player.js'></script>
<script type='text/javascript' src='/public/js/jquery.plugin.min.js'></script>
<script type='text/javascript' src='/public/js/jquery.countdown.min.js'></script>
<script type='text/javascript' src='/public/js/jquery.parallax.js'></script>
<script type='text/javascript' src='/public/js/owl.carousel.min.js'></script>
<script src="/public/js/prancheta/amazingcarousel.js"></script>
<script src="/public/js/prancheta/initcarousel-1.js"></script>

<script type="text/javascript" src="/public/js/jquery.magnific-popup.js"></script>
<script type="text/javascript" src="/public/js/jquery.flashblue-plugins.js"></script>

<script type="text/javascript" src="/public/js/jquery.flex-carousel.js"></script>

<script type="text/javascript">
    /******************************************

     -PREPARE PLACEHOLDER FOR SLIDER-

     ******************************************/

    var setREVStartSize = function() {
        var tpopt = {};

        tpopt.startwidth     = 960;
        tpopt.startheight    = 350;
        tpopt.container      = jQuery('#rev_slider');
        tpopt.fullScreen     = "on";
        tpopt.forceFullWidth ="off";
    };

    /* CALL PLACEHOLDER */
    setREVStartSize();

    var tpj = jQuery;
    tpj.noConflict();

    var revapi1;

    tpj(document).ready(function() {
        if (tpj('#rev_slider').revolution === undefined) {
            revslider_showDoubleJqueryError('#rev_slider');
        } else {
            revapi1 = tpj('#rev_slider').show().revolution({
                dottedOverlay:"none",
                delay: 9000,
                startwidth: 960,
                startheight: 350,
                hideThumbs: 200,
                thumbWidth: 100,
                thumbHeight: 50,
                thumbAmount: 2,
                simplifyAll: "off",
                navigationType: "none",
                navigationArrows: "solo",
                navigationStyle: "preview4",
                touchenabled: "on",
                onHoverStop: "on",
                nextSlideOnWindowFocus: "off",
                swipe_threshold: 75,
                swipe_min_touches: 1,
                drag_block_vertical: false,
                keyboardNavigation: "off",
                navigationHAlign: "center",
                navigationVAlign: "bottom",
                navigationHOffset: 0,
                navigationVOffset: 20,
                soloArrowLeftHalign: "left",
                soloArrowLeftValign: "center",
                soloArrowLeftHOffset: 20,
                soloArrowLeftVOffset: 0,
                soloArrowRightHalign: "right",
                soloArrowRightValign: "center",
                soloArrowRightHOffset: 20,
                soloArrowRightVOffset: 0,
                shadow: 0,
                fullWidth: "off",
                fullScreen: "on",
                spinner: "spinner0",
                stopLoop: "off",
                stopAfterLoops: -1,
                stopAtSlide: -1,
                shuffle: "off",
                forceFullWidth: "off",
                fullScreenAlignForce: "off",
                minFullScreenHeight: "",
                hideThumbsOnMobile: "off",
                hideNavDelayOnMobile: 1500,
                hideBulletsOnMobile: "off",
                hideArrowsOnMobile: "off",
                hideThumbsUnderResolution: 0,
                fullScreenOffsetContainer: "",
                fullScreenOffset: "",
                hideSliderAtLimit: 0,
                hideCaptionAtLimit: 0,
                hideAllCaptionAtLilmit: 0,
                startWithSlide: 0
            });
        }
    });
</script>

<!-- Create Flex Carousel -->
<script>
    var $ = jQuery;
    $(function() {
        //Features carousel
        $(".features-carousel").flexCarousel({
            responsiveMode: "itemWidthRange",
            itemWidthRange: [260, 300],
            autoPlay: true,
            interval: 3000
        });

        //Simple image carousel
        $(".simple-image-carousel").flexCarousel({
            responsiveMode: "itemWidthRange",
            itemWidthRange: [260, 320],
            pagination: false,
            navigationText: ['<i class="icon-left-open"></i>', '<i class=" icon-right-open"></i>'],
            navigation: true,
            itemAnimation: "flex-flip-in-y",
            autoPlay: true
        });

        //Team showcase carousel
        $(".team-showcase-carousel").flexCarousel({
            responsiveMode:"itemWidthRange",
            itemWidthRange:[300, 360]
        });

        //Top navigation box carousel
        $(".top-nav-box-carousel").flexCarousel({
            navigation:true,
            navigationText:['<i class="icon-left-open-big"></i>', '<i class=" icon-right-open-big"></i>'],
            breakPoints:[[1900, 5], [1200, 4], [992, 3], [768, 2], [480, 1]]
        });

        //Normal image list carousel
        $("#normal-image-list-carousel").flexCarousel({
            pagination:false,
            navigationText:['<i class="icon-left-open-big"></i>', '<i class=" icon-right-open-big"></i>'],
            navigation:true,
            rewind:false
        });

        //Normal image list carousel - 2
        $("#normal-image-list-carousel-2").flexCarousel({
            pagination:false,
            responsiveMode:"itemWidthRange",
            itemWidthRange:[100, 130],
            navigationText:['<i class="icon-left-open-big"></i>', '<i class=" icon-right-open-big"></i>'],
            navigation:true,
            rewind:false
        });

        //Logo showcase carousel
        $(".logo-showcase").flexCarousel({
            responsiveMode:"itemWidthRange",
            itemWidthRange:[200, 210]
        });

        //Logo showcase gray carousel
        $(".logo-showcase-gray").flexCarousel({
            showItems:5,
            responsiveMode:"itemWidthRange",
            itemWidthRange:[200, 210],
            interval:3000,
            autoPlay:true,
            pagination:false
        });

        //Testimonial carousel
        $(".testimonial-carousel").flexCarousel({
            showItems:1,
            breakPoints:[[1920, 1]],
            autoPlay:true
        });

        //Full width carousel
        $(".fullwidth-carousel").flexCarousel({
            breakPoints:[[600, 1], [900, 2], [1200, 3], [1500, 4], [1800, 5]],
            mouseWheel:true,
            rewind:false
        });

        //Portfolio carousel
        $(".portfolio-carousel").flexCarousel({
            breakPoints:[[1200, 4], [992, 3], [768, 2], [480, 1]],
            pagination:false,
            navigationText:['<i class="icon-left-open"></i>', '<i class=" icon-right-open"></i>'],
            navigation:true
        });
    });
</script>

<script src="/public/js/jquery/jquery-ui.js"></script>
<script src="/public/js/mask.js"></script>
<script src="/public/js/validate.js"></script>
<script src="/public/js/component.js"></script>
<script src="/public/js/http.js"></script>
<script src="/public/js/animate.js"></script>
<script src="/public/js/utils.js"></script>
<script src="/public/js/index.js"></script>

<?php
    $js = [];
    foreach ($this->filesJS as $arquivo) {
        $js[] = '<script src="/public/js/'.$arquivo.'"></script>';
    }

    echo implode(' ', $js);
?>
</body>
</html>
