<html>
<head>
    <link rel='stylesheet' href='/public/css/settings.css' type='text/css' media='all'/>
    <link rel='stylesheet' href='/public/css/widget-calendar-full.css' type='text/css' media='all'/>
    <link rel='stylesheet' href='/public/css/style.css' type='text/css' media='all'/>
    <link rel='stylesheet' href='/public/css/commerce.css' type='text/css' media='all'/>
    <link rel='stylesheet' href='/public/css/font-awesome.min.css' type='text/css' media='all'/>
    <link rel='stylesheet' href='/public/css/jquery.mb.YTPlayer.css' type='text/css' media='all'/>
    <link rel='stylesheet' href='/public/css/owl.carousel.css' type='text/css' media='all'/>
    <link rel='stylesheet' href='/public/css/owl.theme.css' type='text/css' media='all'/>
    <link rel='stylesheet' href='/public/css/nivo-lightbox.css' type='text/css' media='all'/>
    <link rel='stylesheet' href='/public/css/nivo-default.css' type='text/css' media='all'/>
    <link rel='stylesheet' href='/public/css/mediaelementplayer.css' type='text/css' media='all'/>
    <link rel='stylesheet' href='/public/css/layout.css' type='text/css' media='all'/>
    <link rel="stylesheet" type="text/css" href="/public/css/initcarousel-1.css">
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Dosis:100,300,400,700,900,300italic,400italic,700italic,900italic' type='text/css' media='all'/>

    <link rel="stylesheet" type="text/css" href="/public/css/fontello.css"/>
    <link rel="stylesheet" type="text/css" href="/public/css/magnific-popup.css"/>
    <link rel="stylesheet" type="text/css" href="/public/css/flex-carousel.css"/>
    <link rel="stylesheet" type="text/css" href="/public/css/flex-carousel-animate.css"/>
    <link rel="stylesheet" type="text/css" href="/public/css/flex-carousel-skins.css"/>
    <link rel="stylesheet" type="text/css" href="/public/css/Bootstrap/bootstrap.min.css"/>
    <link rel="stylesheet" href="/public/css/JqueryUI/jquery-ui.css">
    <link rel="stylesheet" href="/public/css/JqueryUI/jquery-ui.structure.css">
    <link rel="stylesheet" href="/public/css/JqueryUI/jquery-ui.theme.css">
    <link rel="stylesheet" href="/public/css/index.css">
    <link rel="stylesheet" href="/public/css/Home/home.css">

    <link rel="stylesheet" href="/public/css/Administrador/administrador.css">
    <link rel="stylesheet" href="/public/css/Administrador/carousel.css">
    <link rel="stylesheet" href="/public/css/Administrador/login.css">
    <link rel="stylesheet" href="/public/css/Administrador/menu-admin.css">

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>

    <link rel="icon" type="image/png" href="https://www.clipfm.com.br/wp-content/uploads/fbrfg/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="https://www.clipfm.com.br/wp-content/uploads/fbrfg/android-chrome-192x192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="https://www.clipfm.com.br/wp-content/uploads/fbrfg/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="https://www.clipfm.com.br/wp-content/uploads/fbrfg/favicon-16x16.png" sizes="16x16">

    <title><?=$this->parameters['title']?></title>
</head>
<body class="page-menu-transparent app">
    <div id="loading">
        <div id="loading-center">
            <div id="loading-center-absolute">
                <div class="col-md-12 img-pu mb-40">
                    <img class="img-responsive" src="/public/img/logo2.png" alt="">
                </div>
                <div class="col-md-12 img-pu mb-40" style="text-align:center;">
                    <img src="/public/img/loader.gif" width="50" alt="">
                </div>
            </div>
        </div>
    </div>
<?php if ($this->parameters['header']) :?>
    <header class="noo-header" id="noo-header">
        <div class="navbar-wrapper">
            <div class="navbar navbar-default navbar-static-top">
                <div class="container">
                    <div class="navbar-header">
                        <h1 class="sr-only">Home</h1>
                        <a class="navbar-toggle collapsed" data-toggle="collapse" data-target=".noo-navbar-collapse">
                            <span class="sr-only">Navigation</span>
                            <i class="fa fa-bars"></i>
                        </a>

                        <a href="/" class="navbar-brand">
                            <img class="noo-logo-img noo-logo-normal" src="/public/img/logo2.png">
                            <img class="noo-logo-img noo-logo-floating" src="/public/img/logo2.png">
                        </a>
                    </div>

                    <nav class="collapse navbar-collapse noo-navbar-collapse">
                        <ul class="navbar-nav sf-menu">
                            <li><a href="/">Home</a></li>
                            <li><a href="/radio">Rádio</a></li>
                            <li><a href="/programacao">Programação</a></li>
                            <li><a href="/noticias">Notícias</a></li>
                            <li><a href="/promocoes">Promoções</a></li>
                            <li><a href="/equipe">Equipe</a></li>
                            <li><a href="/contato">Contato</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </header>
<?php endif; ?>
