<?php
$titulo   = $this->parameters['titulo'];
$conteudo = !empty($this->parameters['conteudo']) ? $this->parameters['conteudo'] : '';
?>

<div class="modal fade" id="appModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header app-modal-header">
                <h4 class="modal-title"><?=$titulo?></h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="content"><?=$conteudo?></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
