header {
    width: 100%;
    overflow: hidden;
    position: absolute;
    z-index: 9999;
    background: #000;
}

#header {
    height: 133px;
    background-color: rgba(0,0,0,.035);
}

#header .app-nav ul li a {
    text-decoration: none;
}

#header .app-nav ul li a:hover {
    background-color: #F68843;
    border-bottom: solid 3px #cf540a;
}
