#home .topo {
    width: 100%;
    height: 50px;
    background: #000000fa;
    border-bottom: solid 1px #000;
}

#home .background {
    height: 80%;
    padding: 50px 0;
    background: url("/public/img/background.jpg") 0 0 / cover no-repeat;
}

#home .background .painel-musica {
    max-width: 90%;
    width: 600px;
    padding: 32px;
    position: relative;
    margin: 0 auto;
    background: #000000bf;
    border-radius: 20px;
    color: #fff;
    font-weight: 600;
    font-size: 20px;
}

#home .background .painel-musica .logo {
    width: 120px;
    height: 82px;
}

#home .background .painel-musica .saudacoes {
    margin-top: 20px;
    margin-left: 34px;
}

#home .background .painel-musica .play,
#home .background .painel-musica .pause {
    width: 150px;
    height: 150px;
    margin-right: 50px;
    float: right;
}

#home .background .painel-musica .play .pulse-play,
#home .background .painel-musica .pause .pulse-play {
    max-width: 90%;
    max-height: 90%;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0 0 rgba(255, 0, 0, 0.4);
    animation: pulse-play 2s infinite;
}

#home .background .painel-musica .play .pulse-play:hover,
#home .background .painel-musica .pause .pulse-play:hover {
    animation: none;
}

#home .background .painel-musica .volume {
    width: 60px;
}

#home .background .painel-musica .volume .controle-volume {
    height: 140px;
    background-color: #fff;
}

#home .background .painel-musica .volume .controle-volume > span,
#home .background .painel-musica .volume .controle-volume > span:active {
    outline: #f89b3a;
}

#home .background .painel-musica .volume .controle-volume > span:active {
    background: #f7923f;
    border: 1px solid #f89b3a;
}

#home .background .painel-musica .slogan {
    text-align: center;
}

#home .background .painel-musica .iframe,
#home .background .painel-musica .compartilhar,
#home .background .painel-musica .audio {
    width: 50px;
    height: 50px;
    background-color: #fff;
    text-align: center;
    border-radius: 25px;
    display: inline-block;
    margin-top: 3px;
    cursor: pointer;
}

#home .background .painel-musica .audio {
    float: right;
    margin-right: 27px;
}

#home .background .painel-musica .iframe i,
#home .background .painel-musica .compartilhar i,
#home .background .painel-musica .audio i {
    color: #000;
    line-height: 1.8;
    font-size: 27px;
}

#home .background .painel-musica .radio {
    width: 100%;
    height: 54px;
    margin: 0 auto;
    border: solid 2px #f89c3a;
    border-radius: 5px;
    text-align: center;
    line-height: 2.5;
    cursor: pointer;
}

#home .background .painel-musica .radio i {
    vertical-align: -1px;
}

#home .rodape {
    width: 100%;
    height: 20%;
    padding: 20px;
    background-color: #f99e39;
    border-top: solid 1px #f7923f;
}

#home .rodape .copyright {
    font-size: 14px;
    color: #fff;
    text-align: center;
}

#home .rodape .logo-stormworm {
    margin: 15px 0;
}

#home .rodape .logo-stormworm a {
    text-decoration: none;
}

#home .rodape .logo-stormworm a img {
    width: 150px;
    height: 70px;
}

@media (max-width: 1366px) {
    #home .rodape {
        height: 25%;
    }
}

@media (max-width: 640px) {
    #home .background {
        height: auto;
    }

    #home .background .painel-musica .logo,
    #home .background .painel-musica .volume,
    #home .background .painel-musica .audio {
        display: none;
    }

    #home .background .painel-musica .saudacoes {
        margin-left: 0;
        text-align: center;
    }

    #home .background .painel-musica .play,
    #home .background .painel-musica .pause {
        margin-top: 20px!important;
        float: none;
    }

    #home .background .painel-musica .play,
    #home .background .painel-musica .pause {
        margin: 0 auto;
    }

    #home .background .painel-musica .radio {
        margin-top: 20px;
        font-size: 16px;
    }
}
