#administrador {
    height: 100%;
}

#administrador .admin-head {
    width: 100%;
    height: 45px;
    background: #23282d;
    color: #fff;
}

#administrador .admin-head .btn-exibir-menu {
    width: 50px;
    height: 45px;
    display: none;
    text-align: center;
    float: right;
    cursor: pointer;
}

#administrador .admin-head .btn-exibir-menu i {
    line-height: 1.5;
}

#administrador h1 {
    width: 55%;
    display: inline-block;
}

#administrador .estatistica {
    width: 250px;
    float: right;
    overflow: hidden;
}

#administrador .estatistica > div {
    display: inline-block;
    float: left;
    margin: 0 5px;
    text-align: center;
}

#administrador .estatistica div p {
    text-align: center;
    font-size: 14px;
    color: #5e5e5e;
}

#administrador .estatistica div span {
    font-size: 22px;
    margin-left: 2px;
    vertical-align: 2px;
}

#administrador .estatistica .quantidade-noticia {
    color: #57889c!important;
}

#administrador .estatistica .quantidade-comentario {
    color: #6e587a!important;
}

#administrador .estatistica .quantidade-pedido {
    color: #496949!important;
}

#dashboard .widget-dashboard {
    padding: 0!important;
    font-size: 13px;
    font-weight: 400;
    line-height: normal;
}

#dashboard .widget-dashboard .widget-content {
    padding: 13px 13px 0;
    border-top: 1px solid #ccc;
    overflow: hidden;
}

#dashboard .widget-dashboard .text-muted {
    color: #999;
}

#dashboard .widget-dashboard b {
    color: #57889c;
    font-weight: 700;
}

#dashboard .widget-dashboard b span {
    color: #999;
    font-size: 11px;
}

#dashboard .widget-dashboard .musica {
    font-size: 20px;
}

#dashboard .widget-dashboard .musica > * {
    display: inline-block;
}

#dashboard .widget-dashboard .btn-acoes {
    width: auto;
    padding: 10px;
    background: #fff!important;
    color: #57889c;
    cursor: pointer;
}

#dashboard .widget-dashboard .btn-acoes > div {
    display: inline-block;
    margin: 0 2px;
}

#dashboard .widget-dashboard .btn-acoes .deletar {
    color: #ed1c24;
}

#dashboard .widget-dashboard .btn-acoes .visualizar {
    color: #40ac2b;
}

#dashboard .widget-dashboard .mensagem {
    max-height: 109px;
    padding: 10px 5px;
    margin-top: 10px;
    border-top: 1px solid #cecece;
    overflow: hidden;
    line-height: 1.3;
}

#dashboard .widget-dashboard .mensagem a.leia-mais,
#dashboard .widget-dashboard .mensagem a.diminuir {
    margin: 0 10px;
    color: #0f74a8;
    cursor: pointer;
}

#dashboard .widget-dashboard .mensagem a.diminuir {
    float: right;
}

@media screen and (max-width: 768px) {
    #administrador .table-responsive {
        border: none;
    }
}

@media screen and (max-width: 480px) {
    #administrador h1 {
        width: 100%;
    }
}
