#administrador .sidebar-admin {
    width: 191px;
    height: 100vh;
}

#administrador .sidebar-admin ul {
    list-style: none;
    background: none;
    color: #fff;
    border: none;
}

#administrador .sidebar-admin ul li {
    padding: 7px 18px;
    font-weight: 400;
    font-size: 14px;
}

#administrador .sidebar-admin ul li.active {
    position: relative;
    background: #0073aa;
    color: #fff;
}

#administrador .sidebar-admin ul li.active:hover i {
    color: #fff;
}

#administrador .sidebar-admin ul li.active:after {
    height: 0;
    width: 0;
    margin-top: -8px;
    position: absolute;
    right: -1px;
    top: 45%;
    border: 8px solid transparent;
    content: " ";
    pointer-events: none;
    border-right-color: #f1f1f1;
}

#administrador .sidebar-admin ul li:hover:not(.active),
#administrador .sidebar-admin ul li:hover i,
#administrador .sidebar-admin ul li i:hover {
    background-color: #191e23;
    color: #00b9eb;
}

#administrador .ui-state-active, .ui-widget-content .ui-state-active {
    border: none!important;
    background: none!important;
    font-weight: 600;
    margin: 0;

}

#administrador .sidebar-admin ul li ul.menu-item {
    width: 200px;
    align-items: stretch;
    background: #23282d;
    padding: 10px 0;
}

#administrador .sidebar-admin ul li ul.menu-item:after {
    height: 0;
    width: 0;
    margin-top: -8px;
    position: absolute;
    left: -8%;
    top: 15%;
    border: 8px solid transparent;
    content: " ";
    pointer-events: none;
    border-right-color: #23282d;
}

#administrador .sidebar-admin ul li ul.menu-item li {
    padding: 7px 18px;
    font-weight: 400;
}

#administrador .sidebar-admin ul li ul.menu-item li:hover {
    background: #23282d;
}

#administrador .sidebar-admin .menu-colapse {
    position: absolute;
    top: 320px;
    right: -8px;
    color: #0073aa;
    cursor: pointer;
}

#administrador .sidebar-admin .menu-colapse > i {
    display: inline-block;
    float: left;
}

#administrador .sidebar-admin .menu-colapse .arrow-right {
    display: none;
}

#administrador .mini-menu li {
    padding: 7px 0!important;
    text-align: center;
}
