footer {
    width: 100%;
    position: relative;
    background-image: url(/public/img/rodape.jpg);
}

footer .rodape {
    position: relative;
    padding: 15px 0;
    color: #fff;
    font-size: 14px;
}

footer .rodape .img-bg {
    position: relative;
    display: inline;
}

footer .rodape .logo {
    height: 100px;
    width: 113px;
    margin: 0 auto;
}

footer .rodape .logo {
    margin-top: 120px;
    margin-bottom: 80px;
}

footer .rodape .logo img {
    height: 100%;
}

footer .rodape .menu-rodape ul {
    list-style: none;
}

footer .rodape .menu-rodape ul li {
    margin: 5px 0;
}

footer .rodape .contato .wrap-titulo .titulo,
footer .rodape .menu-rodape .wrap-titulo .titulo,
footer .rodape .radio .wrap-titulo .titulo {
    line-height: 2.5;
}

footer .rodape .contato .wrap-titulo .titulo,
footer .rodape .menu-rodape .wrap-titulo .titulo {
    width: 70px;
}

footer .rodape .radio .wrap-titulo .titulo {
    width: 110px;
}

footer .rede-social {
    padding: 40px 0;
    background-color: #101010;
    color: #fff;
    font-size: 1em;
    text-align: center;
    font-weight: 600;
}

footer .rede-social a {
    margin: 0 5px;
    text-decoration: none;
    color: #fff;
}

@media screen and (max-width: 768px) {
    footer .rede-social .copyright {
        padding: 18px 0;
    }
}
